{% block content %}
<div class="container">
    <div class="row row--padded-large">
        <div class="col-md-12">
            <form method="get" action="" class="well form-search form-horizontal">
                <div class="row">
                    <div class="col-md-4 col--padded">
                        {% if q_query is defined and q_query != '' %}
                        {{ 'search.looking_for'|trans }} : "{{ q_query }}"
                        {% endif %}
                    </div>
                    <div class="col-md-8 col--padded">
                        <div class="input-group">
                            <input type="text" name="query" id="query" value="{% if q_query is defined and q_query != '' %}{{ q_query }}{% endif %}" class="form-control" >
                            <span class="input-group-btn">
                                <input type="submit" name="search" id="search" value="{{ 'search'|trans|title }}" class="btn btn-primary" />
                            </span>
                        </div>
                    </div>
                </div>

                {% if q_tags is defined and q_tags != '' %}
                <div class="row row--padded">
                    {% for tag in s_tags %}
                        <span class="col-md-3">{{ tag }}</span>
                    {% endfor %}
                </div>
                {% endif %}

                {% if pagerfanta.getAdapter().getFullResponse()['facets'] is defined %}
                <div class="row row--padded">
                    {% set facets =  pagerfanta.getAdapter().getFullResponse()['facets'] %}
                    <div class="col-md-12">
                        {% if facets['tag']['terms']|length > 0 %}
                            <p>Tags</p>
                            <ul class="list-reset">
                                {% for tag in facets['tag']['terms'] %}
                                    <li>
                                        {% if tag['term'] not in s_tags %}
                                        {% set tags = tag['term'] %}
                                        {% if q_tags %}
                                            {% set tags = tags ~ ',' ~ q_tags %}
                                        {% endif %}
                                        <a href="?query={{ q_query }}&tag={{ tags }}">
                                            {% endif %}
                                            {{ tag['term'] }}
                                            {% if tag['term'] not in s_tags %}
                                            ({{ tag['count'] }})</a>
                                    {% else %}
                                        <a href="?query={{ q_query }}&tag={{ q_tags }}&rtag={{ tag['term'] }}">(-)</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if facets['type']['terms']|length > 0 %}
                            <p>Types</p>
                            <ul class="list-reset">
                                {% for type in facets['type']['terms'] %}
                                    <li>
                                        {% if type['term'] != q_type %}
                                        <a href="?query={{ q_query }}&tag={{ q_tags }}&type={{ type['term'] }}">
                                            {% endif %}
                                            {{ type['term'] }}
                                            {% if type['term'] != q_type %}
                                            ({{ type['count'] }})</a>
                                    {% else %}
                                        <a href="?query={{ q_query }}&tag={{ q_tags }}">(-)</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row row--padded">
        {% if q_query is defined and q_query != '' %}
        <div class="col-md-12">
            <h3>{{ 'results'|trans|title }}</h3>
            {% set count = 0 %}
            {% for searchresult in pagerfanta.currentPageResults %}
                {% if count > 0 %}<hr />{% endif %}
                <h4>
                    <a href="{{ searchresult['_source']['slug'] }}">{{ searchresult['_source']['title'] }}</a>
                </h4>
                {% if searchresult['highlight'] is defined %}
                <p>
                    {{ searchresult['highlight']['content'][0] | raw }}
                </p>
                {% else %}
                <p>
                    {{ searchresult['_source']['content'] | truncate(300) | escape('html') }}
                </p>
                {% endif %}
                {% set count = count + 1 %}
            {% endfor %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap') }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
