<div class="sg-color">
    <div class="sg-color__color" style="background: {{ this.hex }};">
        <div class="sg-color__color__text">{{ this.description }}</div>
    </div>
    <div class="sg-color__description">
        <h5 class="sg-color__description__title">{{ this.name }}</h5>
        <small class="sg-color__description__value">HEX {{ this.hex }}</small>
        <small class="sg-color__description__value">RGB {{ this.rgb }}</small>
    </div>
</div>
