<!doctype html>
    <!--[if lt IE 7]> <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='nl' xmlns:og='http://opengraphprotocol.org/schema/' xmlns:fb='http://www.facebook.com/2008/fbml'> <![endif]-->
    <!--[if IE 7]>    <html class='no-js lt-ie9 lt-ie8' lang='nl' xmlns:og='http://opengraphprotocol.org/schema/' xmlns:fb='http://www.facebook.com/2008/fbml'> <![endif]-->
    <!--[if IE 8]>    <html class='no-js lt-ie9' lang='nl' xmlns:og='http://opengraphprotocol.org/schema/' xmlns:fb='http://www.facebook.com/2008/fbml'> <![endif]-->
    <!--[if gt IE 8]><!--> <html class='no-js' lang='en' xmlns:og='http://opengraphprotocol.org/schema/' xmlns:fb='http://www.facebook.com/2008/fbml'> <!--<![endif]-->

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

        <title>{% block title %}{% endblock %}</title>

        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width'>

        {% if nodetranslation.getSEO().getMetaDescription() %}
            <meta name='description' content='{{ nodetranslation.getSEO().getMetaDescription() }}'>
        {% endif %}
        {% if nodetranslation.getSEO().getMetaKeywords() %}
            <meta name='keywords' content='{{ nodetranslation.getSEO().getMetaKeywords() }}'>
        {% endif %}
        {% if nodetranslation.getSEO().getMetaAuthor() %}
            <meta name='author' content='{{ nodetranslation.getSEO().getMetaAuthor() }}'>
        {% endif %}
        {% if nodetranslation.getSEO().getMetaRobots() %}
            <meta name='robots' content='{{ nodetranslation.getSEO().getMetaRobots() }}'>
        {% endif %}
        {% if nodetranslation.getSEO().getMetaRevised() %}
            <meta name='revised' content='{{ nodetranslation.getSEO().getMetaRevised() }}'>
        {% endif %}
        <meta name='viewport' content='width=device-width,initial-scale=1'>

        <!-- open graph facebook -->
        <meta property='og:title' content=''/>
        <meta property='og:type' content=''/>
        <meta property='og:url' content=''/>
        <meta property='og:image' content=''/>
        <meta property='og:site_name' content=''/>

        <meta property='fb:admins' content=''/>
        <meta property='og:description' content=''/>

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

        ~~~CSS~~~

        ~~~TOP_JS~~~

    </head>

    <body>
        <!-- Chrome Frame -->
        <!--[if lt IE 7 ]>
        <script src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js'></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
        <![endif]-->
        <header>

            <nav>
                <ul class="clearfix">
                    {% for node in nodemenu.topnodes %}
                        <li><a href="{{ path('_slug', { 'url': node.slug }) }}">{{ node.title }}</a>
                            <ul class="clearfix">
                                {% for node in node.children %}
                                    <li><a href="{{ path('_slug', { 'url': node.slug }) }}">{{ node.title }}</a>
                                        <ul>
                                            {% for node in node.children %}
                                                <li><a href="{{ path('_slug', { 'url': node.slug }) }}">{{ node.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>

        <div class="breadcrumb">
            <ul class="clearfix">
                {% for node in nodemenu.breadCrumb %}
                    <li><a href="{{ path('_slug', { 'url': node.slug }) }}">{{ node.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        {% block intro %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <div role='main'>
            <div class='socialwidgets clearfix'>
                <div class='share share-google'>
                    <g:plusone size='medium'></g:plusone>
                </div>
                <div class='share share-facebook-send'>
                    <div class='fb-like' data-send='true' data-layout='button_count' data-width='140' data-show-faces='false'></div>
                </div>
                <div class='share share-facebook'>
                    <div class='fb-like' data-send='false' data-layout='button_count' data-width='85' data-show-faces='false'></div>
                </div>
                <div class='share share-twitter'>
                    <a href='https://twitter.com/share' class='twitter-share-button'>Tweet</a>
                </div>
                <div class='share share-linkedin'>
                    <script type='IN/Share' data-counter='right'></script>
                </div>
            </div>
        </div>

        <footer>

        </footer>

        ~~~FOOTER_JS~~~

        <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
        mathiasbynens.be/notes/async-analytics-snippet -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){
                var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)
            }(document,'script'));
        </script>
    </body>
</html>