{% extends 'KunstmaanMediaBundle:ImageGallery:slidechooser.html.twig' %}

{% block subbreadcrumb %}{%  set galstype = 'media.menu.'~gallery.type~'s' %}
    {% for parent in gallery.parents %}
    <li><a href="{{ path('KunstmaanMediaBundle_videochooser_show', { 'id': parent.id, 'slug': parent.slug }) }}">{{ parent.name | trans }}</a></li>
    {% endfor %}
	<li class="active">{{ gallery.name | trans }}</li>
{% endblock %}

{% block content %}
<div class="page-header">
		{% set FolderType = 'media.'~gallery.type~'.'~gallery.type %}<h1>{{ gallery.name | trans }}{% if gallery.parent %} <small>{{ 'media.folder.sub' | trans }} <a href="{{ path('KunstmaanMediaBundle_videochooser_show', { 'id': gallery.parent.id, 'slug': gallery.parent.slug }) }}">{{ gallery.parent.name | trans }}</a></small>{% endif %}</h1>
</div>
<div class="tab-pane active" id="imagegallery">
	<section id="map-list"> 
        <ul class="media-grid">
        {% for child in gallery.children %}
            <li>
                <a href="{{ path('KunstmaanMediaBundle_videochooser_show', { 'id' :child.id, 'slug' : child.slug }) }}" class="item"><img src="{{ asset('bundles/kunstmaanmedia/img/dummy/map.jpg') }}" alt="" /></a>
                <span class="helper">{{ 'media.folder.open' | trans }}</span>
                <span class="name">{{ child.name | trans }}</span>
            </li>
        {% endfor %}
        </ul>
    </section>
    <section> 
		<ul>
        {% for media in gallery.getVideosOnly %}
            {% include 'KunstmaanMediaBundle:Media:sure-modal.html.twig' %}
            <li>
                <a onclick="window.opener.SlideChosenCallback[window.opener.activeEdit]('{{ asset(upload_dir~media.show()) }}', '{{media.id}}'); window.close(); return false;" class="item" href="{{ path('KunstmaanMediaBundle_media_show',  { 'media_id' : media.id }) }}">
                    {{ media.name }}
                </a>
             </li>
        {% endfor %}
        	{#<li class="add-new" id="drop-area"><a href="{{ path('KunstmaanMediaBundle_folder_' ~ gallery.type ~ 'create', { 'gallery_id' : gallery.id }) }}" id="droplabel">{{ 'form.add' | trans }}</a></li>#}
        </ul>
</section>					       
</div>
{% endblock %}