<div class="header-pp">
    <div class="container container--full-width">
        <h{{ resource.niv }} id="{{ resource.title|slugify }}" class="text--{{ resource.alignment }}">
            {{ resource.title }}
        </h{{ resource.niv }}>
    </div>
</div>
