<div class="btn-pp">
    <div class="container container--full-width btn-pp__btn-wrapper--{{ resource.position }}">
        {% if resource.linkText is defined %}
            {% if resource.type == "button" %}
                <a class="btn btn--primary btn--{{ resource.size }}" href="{{ resource.linkUrl | replace_url }}" {% if resource.linkNewWindow %}target="_blank"{% endif %}>
                    {{ resource.linkText|default(resource.linkUrl|replace_url) }}
                </a>
            {% elseif resource.type == "link" %}
                <p>
                    <a href="{{ resource.linkUrl | replace_url }}" {% if resource.linkNewWindow %}target="_blank"{% endif %}>{{ resource.linkText|default(resource.linkUrl|replace_url) }}</a>
                </p>
            {% endif %}
        {% endif %}
    </div>
</div>
