{% block choice_widget %}
{% spaceless %}
{% if expanded %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
        <div class="input_prop">
            {{ form_label(child) }}
            <div class="input">
                {{ form_widget(child) }}
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
        <option value="">{{ empty_value|trans }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
        {% set options = preferred_choices %}
        {{ block('widget_choice_options') }}
        {% if choices|length > 0 and separator is not none %}
        <option disabled="disabled">{{ separator }}</option>
        {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('widget_choice_options') }}
    </select>
{% endif %}
{% endspaceless %}
{% endblock choice_widget %}



{% block field_row %}
{% spaceless %}
<div class="clearfix input_prop{% if errors|length > 0 %} error{% endif %}">
    {{ form_label(form) }}
    <div class="input">
        {{ form_widget(form) }}
    </div>
    {{ form_errors(form) }}
</div>
{% endspaceless %}
{% endblock field_row %}

{% block urlchooser_widget %}
{% spaceless %}
	<div id="{{ id }}_widget">
		<input type="text" name="{{ full_name }}" value="{% if(value is defined) %}{{ value }}{% endif %}"/>
		<button class="btn choosebutton{{ id }}">Choose</button>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
		    $('.choosebutton{{ id }}').on('click', function(ev) {
		        ev.preventDefault();
		        openDGDialog('{{ path('KunstmaanPagePartBundle_selecturl') }}', 580, 500, function(param){
					var widget = jQuery('#{{ id }}_widget');
					widget.find('input').val(dialogWin.returnedValue.path);
				});
		    });
		});
	</script>
{% endspaceless %}
{% endblock urlchooser_widget %}

{% block field_errors %}
{% spaceless %}
{% if errors|length > 0 %}
<div class="input">
    {% for error in errors %}
        <div class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</div>
    {% endfor %}
</div>
{% endif %}
{% endspaceless %}
{% endblock field_errors %}
