{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}
{% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}

{% block content %}
    <form action="{{ path(app.request.attributes.get('_route'), my_router_params()) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
        	{{ form_widget(form) }}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">{{ 'save' | trans }}</button>
                <button type="reset" onclick="window.location = '{{ path(adminlistconfiguration.getIndexUrlFor()["path"]) }}'" class="btn">{{ 'form.cancel' | trans }}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}