{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}
{% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}

{% block content %}
    <form action="{{ path(app.request.attributes.get('_route'), my_router_params()) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
        	{{ form_widget(form) }}

            <div class="actions">
                <input class="btn primary type" type="submit" value="{{ 'save' | trans }}">
                <input onclick="window.location = '{{ path(adminlistconfiguration.getIndexUrlFor()["path"]) }}'" type="reset" class="btn" value="{{ 'form.cancel' | trans }}" />
            </div>
        </fieldset>
    </form>
{% endblock %}