{# Twitter Bootstrap Popover modal #}
<div id="delete-modal-{{ entity.id }}" class="modal hide fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>{{ 'form.modal.delete' | trans }}</h3>
    </div>
    <div class="modal-footer">
        <div class="btn_group">
	        <button type="button" onclick="$('#adminlist-delete-{{ entity.id }}').submit()" class="btn btn-danger">{{ 'form.delete' | trans }}</button>
	        <button class="btn" data-dismiss="modal">Cancel</button>
		</div>
    </div>
</div>


{# Actual delete form. Will still work without javascript or modal. #}
<form id="adminlist-delete-{{ entity.id }}" action="{{ path(adminlistconfigurator.getDeleteUrlFor(entity)["path"], adminlistconfigurator.getDeleteUrlFor(entity)["params"]) }}" method="post" {{ form_enctype(form) }} class="form-inline form-horizontal" style="display: inline-block;margin-bottom:0">
	{{ form_widget(form) }}
	{{ form_rest(form) }}
	<button type="submit" data-toggle="modal" data-target="#delete-modal-{{ entity.id }}">
		<i class="icon-trash icon-white"></i> {{ 'form.delete' | trans }}
	</button>
</form>
