{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block extra_actions_header %}
	{% if adminlist.canExport() %}
		<div class="extra_actions_header">
		    <div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-download-alt"></i>
					Export to
					<i class="icon-caret-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li><a href="{{ path(adminlist.getExportUrlFor()["path"], adminlist.getExportUrlFor()[("params")]) }}">CSV</a></li>
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block content %}
    {% if adminlist.getIndexUrlFor()['params'] is defined %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrlFor()["path"], adminlist.getIndexUrlFor()['params']) }}
    {% else %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrlFor()["path"], adminlist.getIndexUrlFor()) }}
    {% endif %}

    {% if adminlist.hasListActions %}
        {% for action in adminlist.getListActions() %}
            {% if action.template is not null %}
                {% include action.template with {'action': action} %}
            {% else %}
                <a href="{{ path(action.getUrl()["path"], action.getUrl()[("params")] ) }}">
                    {% if action.getIcon() is not null %}
                        <img src="{{ asset(action.getIcon()) }}" alt="{{ action.getLabel() }}"/>
                    {% else %}
                        {{ action.getLabel() }}
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
