{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block content %}
	{% if extraparams is defined %}
		{{ adminlist_widget(adminlist, app.request.attributes.get('_route'), extraparams) }}
	{% else %}
		{{ adminlist_widget(adminlist, app.request.attributes.get('_route')) }}
	{% endif %}

    {% if adminlist.hasListActions %}
        {% for action in adminlist.getListActions() %}
            {% if action.template is not null %}
                {% include action.template with {'action': action} %}
            {% else %}
                <a href="{{ path(action.getUrl()["path"], action.getUrl()[("params")] ) }}">
                    {% if action.getIcon() is not null %}
                        <img src="{{ asset(action.getIcon()) }}" alt="{{ action.getLabel() }}"/>
                    {% else %}
                        {{ action.getLabel() }}
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
