{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block content %}
    {{ adminlist_widget(adminlist, app.request.attributes.get('_route')) }}

    {% if adminlist.canExport and adminlist.hasExportActions %}
        {% for export in adminlist.getExportActions() %}
            {% if export.template is not null %}
                {% include export.template with {'exportaction': export} %}
            {% else %}
                <a href="{{ path(export.getUrl()["path"], export.getUrl()[("params")] ) }}">
                    {% if export.getIcon() is not null %}
                        <img src="{{ asset(export.getIcon()) }}" alt="{{ export.getLabel() }}"/>
                    {% else %}
                        {{ export.getLabel() }}
                    {% endif %}
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
