{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block body %}
    <header role="banner">

        <!-- App Header -->
        <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">

                <!-- Header -->
                <div class="navbar-header">

                    <!--Header - Toggle -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-bar">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Navigation -->
                <div class="collapse navbar-collapse" id="main-nav-bar">

                    <!-- Navigation - Left -->
                    <ul class="nav navbar-nav">
                        {% if mediaChooserLink is defined and mediaChooserLink %}
                            <li class="active">
                                <a href="#">
                                    Pages
                                </a>
                            </li>
                            <li>
                                <a href="{{ mediaChooserLink }}">
                                    Media
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                    <!-- Navigation - Right -->
                    <ul class="nav navbar-nav navbar-right">
                        {% set route = app.request.attributes.get('_route') %}
                        {{ localeswitcher_widget(requiredlocales, route) }}
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!-- Main Content -->
    <main role="main" id="app__main" class="container-fluid app__main app__main--has-sidebar">
        {# <div class="row"> #}

            <!-- App Sidebar -->
{#             <aside id="app__sidebar" class="col-md-3 col--padded-large app__sidebar"> #}
                <nav role="navigation" id="app__sidebar__navigation" class="app__sidebar__module app__sidebar__navigation" data-reorder-url="{{ path('KunstmaanNodeBundle_nodes_reorder') }}">
                    <ul>
                        {% for item in tree.rootItems %}
                            {% include 'KunstmaanNodeBundle:Widgets:selectLinkRecTreeView.html.twig' %}
                        {% endfor %}
                    </ul>
                </nav>

                <hr>

                <!-- Tree Search -->
                <div class="form-group app__sidebar__module app__sidebar__search">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="text" placeholder="{{ 'Search' | trans }}" id="app__sidebar__search" class="form-control">
                    </div>
                </div>
{#             </aside> #}

                <!-- Content -->
                <div>
                    <p id="selection">
                        Selection: empty
                    </p>
                    <button onclick="handleOK({ path:ckurl, id:ckid });return false;" class="btn btn-primary btn--raise-on-hover">
                        Ok
                    </button>
                    <button onclick="handleCancel();" class="btn btn-default btn--raise-on-hover">
                        Cancel
                    </button>
                </div>



            <!-- App Content - with sidebar -->
{#             <div id="app__content" class="col-md-9 col-md-offset-3 col--padded app__content">

                <!-- App Sidebar Toggle -->
                <button type="button" id="app__sidebar-toggle" class="btn--reset app__sidebar-toggle">
                    <span class="app__sidebar-toggle__show-icon">
                        <i class="fa fa-caret-right"></i>
                        <i class="fa fa-list-ul"></i>
                    </span>
                    <span class="app__sidebar-toggle__hide-icon">
                        <i class="fa fa-caret-left"></i>
                        <i class="fa fa-list-ul"></i>
                    </span>
                </button> #}
            </div>
        {# </div> #}
    </main>

{% endblock %}


{# OLD
{% block body %}
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top" data-dropdown="dropdown">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">{{ websitetitle | trans }}</a>
                    <nav>
                        <ul class="nav secondary-nav">
                            {% if mediaChooserLink is defined and mediaChooserLink %}
                                <li class="active first">
                                    <a href="#">Pages</a>
                                </li>
                                <li class="last">
                                    <a href="{{ mediaChooserLink }}">Media</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="nav secondary-nav pull-right">
                            {% set route = app.request.attributes.get('_route') %}
                            {{ localeswitcher_widget(requiredlocales, route) }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>


   <div class="container-fluid">
       <!--=========Aside=========-->
       <aside class="sidebar">
           <h1 style="font-size:18px;">Link Chooser</h1>
           <div class="search_wrp">
               <form id="treeform">
                   <input type="text" id="searchVal" placeholder="Search"/>
                   <button id="search" class="btn search"><i class="icon-search"></i></button>
               </form>
           </div>
           <div id="tree" class="tree">
               <ul>
                   {% for item in tree.rootItems %}
                       {% include 'KunstmaanNodeBundle:Widgets:selectLinkRecTreeView.html.twig' %}
                   {% endfor %}
               </ul>
           </div>
       </aside>


       <!--=========Content=========-->
       <div class="content">
           <div class="well">
               <p id="selection">Selection: empty</p>
               <div class="main_actions btn-group">
                   <button onclick="handleOK({ path:ckurl, id:ckid });return false;" class="btn primary">Ok</button>
                   <button onclick="handleCancel();" class="btn">Cancel</button>
               </div>
           </div>
       </div>
   </div>
{% endblock %} #}

{# {% block extrajavascript %}
    <script type="text/javascript">
        var ckurl = '';
        var ckid = '';

        // Handle click of OK button
        function handleOK(result) {
            if (window.opener) {
                {% if cke %}
                    var funcNum = getUrlParam('CKEditorFuncNum');
                    window.opener.CKEDITOR.tools.callFunction(funcNum, result['path']);
                {% else %}
                    window.opener.dialogWin.returnedValue = result;
                    window.opener.dialogWin.returnFunc()
                {% endif %}
            } else {
                //alert("You have closed the main window.\n\nNo action will be taken on the choices in this dialog box.")
            }

            window.close();
            return false
        }

        // Handle click of Cancel button
        function handleCancel() {
            window.close();
            return false
        }

        function doBodyLoad() {
            if (window.opener) {
                if (window.opener.blockEvents) {
                    window.opener.blockEvents();
                }
            }
        }

        function doBodyUnload() {
            if (window.opener) {
                if (window.opener.unblockEvents) {
                    window.opener.unblockEvents();
                }
            }
        }

        function getUrlParam(paramName) {
            var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i') ;
            var match = window.location.search.match(reParam) ;
            return (match && match.length > 1) ? match[1] : '' ;
        }
    </script>
{% endblock %} #}
