<div id="addsub-modal" class="modal hide fade">
    <form action="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ 'gallery_subcreate', { 'id' : gallery.id }  ) }}" method="post" {{ form_enctype(subform) }}>
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Add subgallery</h3>
        </div>
        <div class="modal-body">
            <p>
                <fieldset>
                    <div class="clearfix">
                        {{ form_errors(subform) }}
                        <label for="xlInput3">Name</label>
                        <div class="input">
                            {{ form_widget(subform.name) }}
                        </div>
                    </div>
                    {{ form_rest(subform) }}
                </fieldset>
            </p>
        </div>
        <div class="modal-footer">
            <input class="btn primary type" type="submit" value="add new subgallery">
            <a onclick="$('#addsub-modal').modal('hide')" href="#" class="btn secondary">Cancel</a>
        </div>
    </form>
</div>

