{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanMediaBundle:Gallery:sidebar.html.twig' %}
{% endblock %}

{% set gallerytype = 'media.'~gallery.type~'.'~gallery.type~'s' %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanMediaBundle_media_' ~ gallery.type ~ 's') }}">{{ gallerytype | trans | capitalize }}</a> <span class="divider">/</span></li>
	<li class="active">{{ 'media.gallery.create' | trans }} {{ gallerytype |trans }}</li>
{% endblock %}

{% block content %}

<div class="page-header">
    <h1>{{ 'media.gallery.create' | trans }} {{ gallerytype |trans }}</h1>
  </div>
   {% include 'KunstmaanMediaBundle:Gallery:form.html.twig' with { 'form': form } %}
{% endblock %}