<div id="delete-modal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>{{ 'media.gallery.deletesure'| trans({'%gallery%': gallery.name }) | raw }}</h3>
    </div>
    <div class="modal-body">
        <p>
        	{% set mediadelete = "media."~gallery.type~".delete" %}
        	{{ mediadelete | trans({'%gallery%': gallery.name }) | raw }}:
            <ul>
                {% for image in gallery.files %}
                    <li>
                        {{ image.id }}
                        {{ image.name }}
                        {{ image.contentType }}
                    </li>
                {% else %}
                	{% set nomedia = "media."~gallery.type~".no" %}
                    <li>{{ nomedia | trans }}</li>
                {% endfor %}
            </ul>
            {{ 'media.gallery.sub.delete' | trans }}:
            <ul>
                {% for child in gallery.children %}
                    <li>{% include 'KunstmaanMediaBundle:Gallery:showgallery.html.twig' %}</li>
                {% else %}
                    <li>{{ 'media.gallery.sub.no' | trans }}</li>
                {% endfor %}
            </ul>
        </p>
    </div>
    <div class="modal-footer">
        <a href="{{ path('KunstmaanMediaBundle_gallery_delete', { 'gallery_id' : gallery.id }) }}" class="btn danger">{{ 'form.delete' |trans }}</a>
        <a onclick="javascript:$('#delete-modal').modal('hide')" href="#" class="btn secondary">{{ 'form.cancel' |trans  }}</a>
    </div>
</div>