<form action="{{ path('KunstmaanMediaBundle_gallery_edit', { 'gallery_id' : gallery.id } ) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        <div class="clearfix">
            {{ form_errors(form) }}
            <label for="xlInput3">Name</label>
            <div class="input">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput3">The {{ gallery.type }} gallery this gallery belongs to</label>
            <div class="input">
                {{ form_widget(form.parent) }}
                <span class="help-block">You don't need to select a gallery if you don't want to.</span>
            </div>
            {{ form_rest(form) }}
        </div>
        <div class="actions">
            <input class="btn primary type" type="submit" value="edit gallery">
            <input onclick="window.location = '{{ path('KunstmaanMediaBundle_media_' ~ gallery.type ~ 's' ) }}'" type="reset" class="btn" value="cancel" />
        </div>
    </fieldset>
</form>