{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanMediaBundle:Gallery:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanMediaBundle_media_' ~ gallery.type ~ 's') }}">{{ gallery.type|capitalize }}s</a> <span class="divider">/</span></li>
        {% for parent in gallery.parents %}
            <li><a href="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ 'gallery_show', { 'id': parent.id, 'slug': parent.slug }) }}">{{ parent.name}}</a><span class="divider">/</span></li>
        {% endfor %}
	<li class="active">{{ gallery.name }}</li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ gallery.type|capitalize }} Gallery <small>{{ gallery.name }}
        {% if gallery.parent %}
            | in <a href="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ 'gallery_show', { 'id': gallery.parent.id, 'slug': gallery.parent.slug }) }}">{{ gallery.parent.name}}</a>
        {% endif %}
        </small></h1>
    </div>

    <div>
        {% include 'KunstmaanMediaBundle:Gallery:addmedia-modal.html.twig' %}
        {% include 'KunstmaanMediaBundle:Gallery:addsub-modal.html.twig' %}
        {% include 'KunstmaanMediaBundle:Gallery:delete-modal.html.twig' %}

        <div class="actions">
             <a href="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ '_new', { 'gallery_id' : gallery.id }) }}" data-controls-modal="addmedia-modal" data-backdrop="true" data keyboard="true" class="btn">add {{ gallery.type }}</a>
            <a href="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ 'gallery_subnew', { 'id' : gallery.id }) }}" data-controls-modal="addsub-modal" data-backdrop="true" data keyboard="true" class="btn">add subgallery</a>
            <a href="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ 'gallery_edit', { 'id' : gallery.id }) }}" class="btn">edit</a>
             <a href="{{ path('KunstmaanMediaBundle_gallery_delete', { 'gallery_id' : gallery.id }) }}" data-controls-modal="delete-modal" data-backdrop="true" data keyboard="true" class="btn danger">delete this gallery</a>
        </div>
    </div>
    <div>
        <h2>{{ gallery.type|capitalize }}s in {{ gallery.name }}</h2>
       {% include 'KunstmaanMediaBundle:' ~ gallery.type|capitalize ~ ':tableview.html.twig' %}
    </div>

    <div>
        <h2>Subgalleries in {{ gallery.name }}</h2>
       <ul>
       {% for child in gallery.children %}
           <li>{% include 'KunstmaanMediaBundle:Gallery:showgallery.html.twig' %}</li>
       {% else %}
           <li>No subgalleries in this gallery yet.</li>
       {% endfor %}
       </ul>
   </div>

   <div class="actions">
       <a href="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ '_new', { 'gallery_id' : gallery.id }) }}" data-controls-modal="addfile-modal" data-backdrop="true" data keyboard="true" class="btn">add {{ gallery.type }}</a>
       <a href="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ 'gallery_subnew', { 'id' : gallery.id }) }}" data-controls-modal="addsub-modal" data-backdrop="true" data keyboard="true" class="btn">add subgallery</a>
       <a href="#" class="btn">edit</a>
       <a href="{{ path('KunstmaanMediaBundle_gallery_delete', { 'gallery_id' : gallery.id }) }}" data-controls-modal="delete-modal" data-backdrop="true" data keyboard="true" class="btn danger">delete this gallery</a>
   </div>
{% endblock %}