{#
    <ul>
        <li class="header">{{ gallery.type }} Galleries</li>
        {% for gallery in galleries %}
            <li>
                <a href="{{ path('KunstmaanMediaBundle_gallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">{{gallery.name }}</a>
             </li>

            {% for child in gallery.children %}
                    <li>
                        <a href="{{ path('KunstmaanMediaBundle_gallery_show', { 'id': child.id, 'slug': child.slug }) }}">{{child.name }}</a>
                    </li>
            {% endfor %}
        {% else %}
            <li>No {{ gallery.type }} galleries</li>
        {% endfor %}

    </ul>
#}  <ul>
		{% set newmediagallery = "media."~gallery.type~".gallery.new" %}
        <li class="header"><a href="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ 'gallery_create') }}">{{ newmediagallery |trans }}</a></li>
    </ul>
    <div id="tree">
    	<ul>
            {% for child in galleries %}
                {% include 'KunstmaanMediaBundle:Gallery:shownode.html.twig' %}
            {% endfor %}
        </ul>
    </div>