<form action="{{ path('KunstmaanKMediaBundle_' ~ gallery.type ~ 'gallery_subcreate', { 'id' : parent.id }  ) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        <div class="clearfix">
            {{ form_errors(form) }}
            <label for="xlInput3">Name</label>
            <div class="input">
                {{ form_widget(form.name) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="actions">
            <input class="btn primary type" type="submit" value="Create gallery">
            <input onclick="window.location = '{{ path('KunstmaanKMediaBundle_media_' ~ gallery.type ~ 's' ) }}'" type="reset" class="btn" value="cancel" />
        </div>
    </fieldset>
</form>