{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}
{% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}

{% block extrajavascript %}
     <script type=text/javascript>
        var isEdited = false;
        var oldEdited = false;

        window.onbeforeunload = doUnload;

        function doUnload(){
            //$('#quitpagemodal').modal('show');
            //var t = setTimeout(5000);
            if(isEdited){
                return 'You haven\'t saved this page, are you sure you want to close it?';
            }
        }
    </script>
{% endblock %}




{% block header %}
{% if adminmenu.current %}
	<h1>
		{{ adminmenu.current.internalname | trans }} 
		{% if draft %} 
			<small>
				Draft version (Go to <a href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'subaction': ''}) }}">public version</a>)
			</small> 
		{% else %}
			<small>
				Public version
				{% if draftNodeVersion is not null %}
					(Go to <a href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'subaction': 'draft'}) }}">draft version</a>)
				{% endif %}
			</small>
		{% endif %}
	</h1>
{% endif %}
{% endblock %}



{% block content %}
    <form id="pageadminform" class="form-horizontal" action="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'subaction': subaction}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        
        <!--=========Actions=========-->
        <!--Sub Actions-->
        <div class="sub_actions">
        	{% if not draft %}
	        	{% if nodeTranslation.online %}
		        	<a href="#" data-toggle="modal" data-target="#unpub">Unpublish</a>
		            {% else %}
					<a href="#" data-toggle="modal" data-target="#pub">Publish</a>
	        	{% endif %}
        	{% endif %}
            <a href="#" data-toggle="modal" data-target="#versions">Versions</a>
        </div>


        <!--Main Actions-->
        {% set nodemenuCurrent = nodemenu.current %}
        {% set pagePossibleChildPages = page.possibleChildPageTypes %}
        <div class="main_actions">
			{% if draft %}
				<input onClick="isEdited=false" type="submit" class="btn btn-primary" name="save" value="{{ 'form.saveasdraft' | trans }}">
				<input type="submit" class="btn" name="saveandpublish" value="{{ 'form.publish' | trans }}">
				<a class="btn" href="{{ path('_slug_draft', { 'slug': nodemenuCurrent.slug }) }}" target="_blank">Preview</a>
			{% else %}
				<input onClick="isEdited=false" type="submit" class="btn btn-primary" name="save" value="{{ 'form.save' | trans }}">
				<input onClick="isEdited=false" type="submit" class="btn" name="saveasdraft" value="{{ 'form.saveasdraft' | trans }}">
				<a class="btn" href="{{ path('_slug', { 'slug': nodemenuCurrent.slug }) }}" target="_blank">Preview</a>
				{% if pagePossibleChildPages is not empty %}
					<button data-toggle="modal" data-target="#add-subpage-modal" class="btn">Add subpage</button>
				{% endif %}
				<button onClick="oldEdited = isEdited; isEdited=false" data-toggle="modal" data-target="#delete-page-modal" class="btn">Delete</button>
			{% endif %}
        </div>
        
        
        
        <!--Scroll Actions-->
        <div class="main_actions top" id="main_actions_top">
			<div class="pull-right">
				{% if draft %}
					<input onClick="isEdited=false" type="submit" class="btn btn-primary" name="save" value="{{ 'form.saveasdraft' | trans }}">
					<input type="submit" class="btn" name="saveandpublish" value="{{ 'form.publish' | trans }}">
					<a class="btn" href="{{ path('_slug_draft', { 'slug': nodemenuCurrent.slug }) }}" target="_blank">Preview</a>
				{% else %}
					<input onClick="isEdited=false" type="submit" class="btn btn-primary" name="save" value="{{ 'form.save' | trans }}">
					<input onClick="isEdited=false" type="submit" class="btn" name="saveasdraft" value="{{ 'form.saveasdraft' | trans }}">
					<a class="btn" href="{{ path('_slug', { 'slug': nodemenuCurrent.slug }) }}" target="_blank">Preview</a>
					{% if pagePossibleChildPages is not empty %}
						<button data-toggle="modal" data-target="#add-subpage-modal" class="btn">Add subpage</button>
					{% endif %}
					<button onClick="oldEdited = isEdited; isEdited=false" data-toggle="modal" data-target="#delete-page-modal" class="btn">Delete</button>
				{% endif %}
				<a class="btn up">&#9650;</a>
			</div>
        </div>
        
        
        
        

        
        <!--=========Tabs=========-->
        <ul class="nav nav-tabs">
            {% set alreadyexiststab = false %}
            {% for pagepartadmin in pagepartadmins %}
                {% set pagepartstab = 'pageparts'~loop.index %}
                {% set alreadyexiststab = true %}
                <li onClick="jQuery('#currenttab').val('pageparts{{ loop.index }}');" {% if currenttab == pagepartstab %} class="active" {% endif %}>
                    <a href="#pageparts{{ loop.index }}" data-toggle="tab">{{ pagepartadmin.name }}</a>
                </li>
            {% else %}
                <li {% if currenttab == 'properties' or alreadyexiststab ==false %} class="active" {% endif %} onClick="jQuery('#currenttab').val('properties');">
                    {% set alreadyexiststab = true %}
                    <a href="#properties" data-toggle="tab">{{ 'Properties' | trans }}</a>
                </li>
            {% endfor %}
            {% if is_granted('ROLE_PERMISSIONMANAGER') %}
                <li {% if currenttab == 'permissions' or alreadyexiststab == false %} class="active" {% endif %} onClick="jQuery('#currenttab').val('permissions');">
                    {% set alreadyexiststab = true %}
                    <a href="#permissions" data-toggle="tab">{{ 'form.permissions' | trans }}</a>
                </li>
            {% endif %}
            <li {% if currenttab == 'seo' or alreadyexiststab ==false %} class="active" {% endif %} onClick="jQuery('#currenttab').val('seo');">
                <a href="#seo" data-toggle="tab">SEO</a>
            </li>
        </ul>
        
        
        <div class="tab-content">
            <input type="hidden" name="currenttab" id="currenttab" value="{{ currenttab }}">
            {% for pagepartadmin in pagepartadmins %}
                {% set pagepartstab = 'pageparts'~loop.index %}
                
                <!--Tab--> 
                <div class="{% if currenttab == pagepartstab %}active{% endif %} tab-pane" id="pageparts{{ loop.index }}">
                    <fieldset class="properties">
                        <div class="input_prop">
                            {{ form_widget(form.main) }}
                        </div>
                        <div class="input_prop">
                            {{ form_widget(form.node) }}
                        </div>
                        <div class="input_prop">
                            {{ form_widget(form.nodetranslation) }}
                        </div>
                    </fieldset>
                    {% for key, extraform in form %}
                        {% if key != 'main' and key == pagepartadmin.context %}
                            <fieldset class="properties">
                                <div class="input_prop">
                                     {{ form_widget(extraform) }}
                                </div>
                            </fieldset>
                        {% endif %}
                    {% endfor %}
                    {{ pagepartadmin_widget(pagepartadmin, form) }}
                </div>
            {% else %}
            	<!--Tab-->
                <div class="{% if currenttab == 'properties' or pagepartstab is not defined %}active{% endif %} tab-pane" id="properties">
                    <fieldset class="properties">
                        <div class="input_prop">
                            {{ form_widget(form.main) }}
                        </div>
                        <div class="input_prop">
                            {{ form_widget(form.node) }}
                        </div>
                        <div class="input_prop">
                            {{ form_widget(form.nodetranslation) }}
                        </div>
                    </fieldset>
                </div>
            {% endfor %}

            {% if is_granted('ROLE_PERMISSIONMANAGER') %}
                <!--Tab-->
                <div class="{% if currenttab == 'permissions' %}active{% endif %} tab-pane" id="permissions">
                    {{ permissionsadmin_widget(permissionadmin, form) }}
                </div>
            {% endif %}
            
			<!--Tab-->
            <div class="tab-pane" id="children">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#
                        {% for child in page.children %}
                            <tr>
                                <td>{{ child.sequencenumber }}</td>
                                <td><a href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': child.id, 'entityname': 'KunstmaanAdminBundle:Page' }) }}">{{ child.title }}</a></td>
                                <td>Page</td>
                            </tr>
                        {% endfor %}
                    #}
                    </tbody>
                </table>
            </div>
            
            <!--Tab-->
            <div class="{% if currenttab == 'seo' %}active{% endif %} tab-pane" id="seo">
                <fieldset class="properties">
                    <div class="input_prop">
                        {{ form_row(seoform.metaauthor) }}
                    </div>
                    <div class="input_prop">
                        {{ form_row(seoform.metadescription) }}
                    </div>
                    <div class="input_prop">
                            {{ form_row(seoform.metakeywords) }}
                    </div>
                    <div class="input_prop">
                            {{ form_row(seoform.metarobots) }}
                    </div>
                    <div class="input_prop">
                            {{ form_row(seoform.metarevised) }}
                    </div>
                </div>
                {{ form_rest(seoform) }}
            </div>
        </div>
        {{ form_rest(form) }}    
    
    
	    <!--MODALS-->
	    <div id="unpub" class="modal hide fade">
	    	<div class="modal-header">
	        	<button class="close" data-dismiss="modal">&times;</button>
	            <h3>Are you sure you want to unpublish this page?</h3>
	        </div>
	        <div class="modal-body">
	            <p>If you do this, the page will be offline!</p>
	        </div>
	        <div class="modal-footer">
	        	<div class="btn_group">
		            <a href="{{ path('KunstmaanAdminNodeBundle_pages_edit_unpublish', { 'id': node.id}) }}" class="btn btn-danger">Unpublish</a>
		            <button class="btn" data-dismiss="modal">Cancel</button>
		    	</div>
	        </div> 
	    </div>
	    
	    <div id="pub" class="modal hide fade">
	        <div class="modal-header">
	            <button class="close" data-dismiss="modal">&times;</button>
	            <h3>Are you sure you want to publish this page?</h3>
	        </div>
	        <div class="modal-body">
	            <p>If you do this, the page will be online!</p>
	        </div>
	        <div class="modal-footer">
	            <div class="btn_group">
		            <a href="{{ path('KunstmaanAdminNodeBundle_pages_edit_publish', { 'id': node.id}) }}" class="btn btn-danger">Publish</a>
		            <button class="btn" data-dismiss="modal">Cancel</button>
		    	</div>
	        </div>
	    </div>   
	    
	    <div id="quitpagemodal" class="modal hide fade">
	        <div class="modal-header">
	            <button class="close" data-dismiss="modal">&times;</button>
	            <h3>Are you sure you want to unpublish this page?</h3>
	        </div>
	        <div class="modal-body">
	            <p>If you do this, the page will be offline!</p>
	        </div>
	        <div class="modal-footer">
	        	<div class="btn_group">
		            <a href="#" onClick="iets=true;" class="btn btn-danger">Unpublish</a>
		            <button class="btn" data-dismiss="modal">Cancel</button>
		    	</div>
	        </div>
	    </div>
	    
	    <div id="versions" class="modal hide fade">
	        <div class="modal-header">
	            <button class="close" data-dismiss="modal">&times;</button>
	            <h3>Versions</h3>
	        </div>
	        <div class="modal-body">
	            <table class="table table-bordered table-striped">
	                <thead>
		                <tr>
		                    <th>Nr</th>
		                    <th>Type</th>
		                    <th>Date</th>
		                    <th>User</th>
		                </tr>
	                </thead>
	                <tbody>
	                    {% for nodeVersion in nodeVersions %}
	                    <tr>
	                        <td><a href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'version': nodeVersion.id }) }}">{{ nodeVersion.version }}</a></td>
	                        <td>{{ nodeVersion.type }}</td>
	                        <td>{{ nodeVersion.updated | date('Y-m-d H:i:s') }}</td>
	                        <td>{{ nodeVersion.owner }}</td>
	                    </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	    
		{% if pagePossibleChildPages is not empty %}
		<div id="add-subpage-modal" class="modal hide fade">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h3>Add subpage</h3>
			</div>
			<div class="modal-body">
				<script type="text/javascript">
					function doAddpage(link){
						link.href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id, 'subaction': subaction}) }}" + "?addpage="+jQuery('#addpage_type').val() + "&addpagetitle=" + jQuery('#addpage_title').val();
						return true;
					}
				</script>
				<div class="input_prop">
					<label for="form-add-gallery">Title</label>
					<input id="addpage_title" type="text" id="form-add-gallery" name="addpagetitle_disabled">
				</div>
				<div class="input_prop">
					<label for="form-add-gallery">Type</label>
					<select id="addpage_type" name="addpage_disabled">
						{% for pageType in pagePossibleChildPages %}
							<option value="{{pageType.class}}">{{pageType.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<div class="btn_group">
					<button onclick="return doAddpage(this)" class="btn btn-primary">Add</button>
					<button class="btn" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
		{% endif %}
	    
		<div id="delete-page-modal" class="modal hide fade">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">&times;</button>
				<h3>Delete page '{{page.title}}'</h3>
			</div>
			<div class="modal-body">
				<script type="text/javascript">
					function doDeletepage(link){
						link.href="{{ path('KunstmaanAdminNodeBundle_pages_edit', { 'id': node.id}) }}" + "?delete=true";
						return true;
					}
				</script>
				<p>This will remove the page completely! Are you really sure about this?</p>
			</div>
			<div class="modal-footer">
				<div class="btn_group">
					<button onclick="return doDeletepage(this)" class="btn btn-danger">Delete</button>
					<button class="btn" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
    </form>
    
    
    
{% endblock %}

