{% if filter.filterdefinitions|length > 0 %}

    <form action="{{ path(basepath, extraparams) }}">
        <div class="filter_lists">
            <label for="filter_on_off" class="status all">Show all</label>
            <input type="checkbox" id="filter_on_off" class="filter_on_off" {% if filter.currentfilters|length >0 %}checked{% endif %} />
            <div class="filters_wrp">
                <label for="filter_on_off" class="status">Filter</label>
                <ul class="filters">
                    <li class="filterline {% if filter.currentfilters|length >0 %}hidden{% endif %}" id="addline">
                        <select class="filterselect" id="addfilter" onchange="createFilter(this, true, {startDate: '{{ datePicker_startDate }}'})">
                            <option>{{ "form.choosetypefilter"|trans }}</option>
                            {% for columnname, value in filter.filterdefinitions %}
                                {% if value['filtername'] is defined %}
                                    {% set filtername = value['filtername'] %}
                                {% else %}
                                    {% set filtername = columnname %}
                                {% endif %}
                                <option value="{{columnname}}">{{filtername|trans}}</option>
                            {% endfor %}
                        </select>
                    </li>
                    {% for columnname, value in filter.currentfilters %}
                    <li class="filterline">
                        <select class="filterdummy filterselect" name="filter_columnname[]" onchange="updateOptions(this, {startDate: '{{ datePicker_startDate }}'})">
                            {% for defcolumnname, defvalue in filter.filterdefinitions %}
                                {% if defvalue['filtername'] is defined %}
                                    {% set filtername = defvalue['filtername'] %}
                                {% else %}
                                    {% set filtername = defcolumnname %}
                                {% endif %}
                                <option value="{{defcolumnname}}" {% if value.columnname == defcolumnname %} selected="selected" {% endif %}>{{filtername | trans}}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="filter_uniquefilterid[]" class="uniquefilterid" value="{{value.uniqueid}}" />
                        <span class="filteroptions">
                            {% set namesuffix %}_{{value.uniqueid}}{%endset%}
                            {% include value.type.template with {'filtertype': value.type, 'data': value.data, 'nameprefix':'filter_', 'namesuffix': namesuffix} %}
                        </span>
                        <button class="remove_filter" type="button" onclick="return removeThisFilter(this)"><i class="icon-remove-sign"></i></button>
                    </li>
                    {% endfor %}
                    <li>
                        <button class="btn add_filter" type="button" onclick="return createFilter(this, false, {startDate: '{{ datePicker_startDate }}'})"><i class="icon-plus-sign"></i>{{ "form.addfilter"|trans }}</button>
                    </li>
                    <li>
                        <button class="btn apply_filter" type="submit">Filter</button>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <div id="filterdummyline" class="hidden">
        <select class="filterdummy filterselect" name="columnname[]" onchange="updateOptions(this, {startDate: '{{ datePicker_startDate }}'})">
            {% for columnname, value in filter.filterdefinitions %}
            {% if value['filtername'] is defined %}
                        {% set filtername = value['filtername'] %}
                    {% else %}
                        {% set filtername = columnname %}
                    {% endif %}
            <option value="{{columnname}}">{{filtername|trans}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="uniquefilterid[]" class="uniquefilterid" value="" />
        <span class="filteroptions"></span>
        <button class="remove_filter" type="button" onclick="return removeThisFilter(this)"><i class="icon-remove-sign"></i></button>
    </div>

    {% for columnname, value in filter.filterdefinitions %}
    <div id="filterdummyoptions_{{columnname|replace({'.': '_'})}}" class="hidden">
        {% include value.type.template with {'filtertype': value.type, 'nameprefix': '', 'namesuffix': ''} %}
    </div>
    {% endfor %}

{% endif %}
