
    {% set extraparams = extraparams|merge(filter.currentparameters) %}

    {% include 'KunstmaanAdminListBundle:AdminListTwigExtension:filters.html.twig' %}

    {% include 'KunstmaanAdminListBundle:AdminListTwigExtension:pagination.html.twig' %}

    <table class="bordered-table zebra-striped">
        <thead>
        <tr>
            <th>{{ 'form.actions'|trans }}</th>
            {% for column in adminlist.columns%}
                {% set columnName = column.fieldName%}
                {% set columnkey = column.fieldheader%}
                {% set orderDirection = "DESC" %}
                {% set extraHeaderClass = "" %}
                {% if ( columnName == adminlist.orderBy )%}
                    {% if adminlist.orderDirection == "DESC" %}
                        {% set orderDirection = "ASC" %}
                        {% set extraHeaderClass = "headerSortDown" %}
                    {% else %}
                        {% set extraHeaderClass = "headerSortUp" %}
                    {% endif %}
                {% endif %}
                <th {% if adminlist.hasSort(columnName) %} class="header {{extraHeaderClass}}" onclick="window.location = '{{ path(basepath, extraparams|merge({ 'orderBy': columnName, "orderDirection": orderDirection }))}}'"{% endif %}>{{ columnkey | trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in adminlist.items(queryparams) %}
            <tr>
                <td>
                	{% include 'KunstmaanAdminListBundle:AdminListTwigExtension:sure-modal.html.twig' %}
                    {%if adminlist.canEdit(item) %}
                        <a href="{{ path(adminlist.getEditUrlFor(item)["path"], adminlist.getEditUrlFor(item)[("params")] ) }}"><img src="{{ asset('bundles/kunstmaanadmin/img/general/edit.png') }}" alt="alt="{{ 'form.edit' | trans }}""/></a>
                    {% endif %}
                    {%if adminlist.canDelete(item) %}
                        {#}<a href="{{ path(basepath, extraparams|merge({ 'delete': item.id }))}}" data-controls-modal="sure-modal-{{ item.id }}" data-backdrop="true" data keyboard="true"><img src="{{ asset('bundles/kunstmaanadmin/img/general/delete.png') }}" alt="Delete"/></a>{#}
                        {% if adminlist.getDeleteUrlFor(item)["action"] is not null %}
                    		{% render adminlist.getDeleteUrlFor(item)["action"] with {'entity_id': item.id} %}
                        {% endif %}
                    {% endif %}
                    {% if adminlist.hasCustomActions() %}
                    	{% for customAction in adminlist.getCustomActions() %}
                    		{% if customAction.template is not null %}
                    			{% include customAction.template with {'row': item, 'item': item} %}
                    		{% else %}
	                    		<a href="{{ path(customAction.getUrlFor(item)["path"], customAction.getUrlFor(item)[("params")] ) }}">
	                    		{% if customAction.getIcon(item) is not null %}
	                    			<img src="{{ asset(customAction.getIcon(item)) }}" alt="{{ customAction.getLabel(item) }}"/>
	                    		{% else %}
	                    			{{ customAction.getLabel(item) }}
	                    		{% endif %}
                    			</a>
	                    	{% endif %}
                    	{% endfor %}
                    {% endif %}
                </td>
                {% for column in adminlist.columns%}
                	{% set columnName = column.fieldName%}
                	{% set template = column.template%}
                	{% if template is not null %}
                		<td>{% include template with {'row': item, 'columnName': columnName, 'object': adminlist.getValue(item, columnName)} %}</td>
                	{% else %}
                		<td>{{adminlist.getStringValue(item, columnName)}}</td>
                	{% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

        {% if adminlist.canAdd() %}
        	<tr><td colspan="{{ adminlist.columns|length + 1}}">
        	<img src="{{ asset('bundles/kunstmaanadmin/img/general/add.png') }}" alt="{{ 'form.add' | trans }}"/>
        	<select onchange="location = this.options[this.selectedIndex].value;">
        		<option>{{ 'form.add' | trans }}</option>
	        	{% for key,add in adminlist.getAddUrlFor(addparams) %}
	        		<option value="{{ path(add["path"], add[("params")]) }}">{{ key }}</option>
	        	{% endfor %}
        	</select>
        	</td></tr>
        {% endif %}
        </tbody>
    </table>

    {% include 'KunstmaanAdminListBundle:AdminListTwigExtension:pagination.html.twig' %}


