
    {% set extraparams = extraparams|merge(filter.currentparameters) %}

    {% include 'KunstmaanAdminListBundle:AdminListTwigExtension:filters.html.twig' %}

    {% include 'KunstmaanAdminListBundle:AdminListTwigExtension:pagination.html.twig' %}

    <table class="bordered-table zebra-striped">
        <thead>
        <tr>
            <th>{{ 'form.actions'|trans }}</th>
            {% for columnkey,columnName in adminlist.columns%}
                {% set orderDirection = "DESC" %}
                {% set extraHeaderClass = "" %}
                {% if ( columnName == adminlist.orderBy )%}
                    {% if adminlist.orderDirection == "DESC" %}
                        {% set orderDirection = "ASC" %}
                        {% set extraHeaderClass = "headerSortDown" %}
                    {% else %}
                        {% set extraHeaderClass = "headerSortUp" %}
                    {% endif %}
                {% endif %}
                <th {% if adminlist.hasSort(columnName) %} class="header {{extraHeaderClass}}" onclick="window.location = '{{ path(basepath, extraparams|merge({ 'orderBy': columnName, "orderDirection": orderDirection }))}}'"{% endif %}>{{ columnkey | trans }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in adminlist.items(queryparams) %}
            {% include 'KunstmaanAdminListBundle:AdminListTwigExtension:sure-modal.html.twig' %}
            <tr>
                <td>
                    {%if adminlist.canEdit(item) %}
                        <a href="{{ path(adminlist.getEditUrlFor(item)["path"], adminlist.getEditUrlFor(item)[("params")] ) }}"><img src="{{ asset('bundles/kunstmaanadmin/img/general/edit.png') }}" alt="Edit"/></a>
                    {% endif %}
                    {%if adminlist.canDelete(item) %}
                        <a href="{{ path(basepath, extraparams|merge({ 'delete': item.id }))}}" data-controls-modal="sure-modal-{{ item.id }}" data-backdrop="true" data keyboard="true"><img src="{{ asset('bundles/kunstmaanadmin/img/general/delete.png') }}" alt="Delete"/></a>
                    {% endif %}
                </td>
                {% for columnName in adminlist.columns%}
                    <td>{{adminlist.getFrom(item, columnName)}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
       
        {% if adminlist.canAdd() %}
        	<tr><td colspan="{{ adminlist.columns|length + 1}}">
        	{% for key,add in adminlist.getAddUrlFor(addparams) %}
        		<a href="{{ path(add["path"], add[("params")]) }}"><img src="{{ asset('bundles/kunstmaanadmin/img/general/add.png') }}" alt="Add"/>{{ key }}</a>
        	{% endfor %}
        	</td></tr>
        {% endif %}	
        </tbody>
    </table>

    {% include 'KunstmaanAdminListBundle:AdminListTwigExtension:pagination.html.twig' %}


