{% block iconfont_widget %}
    {% spaceless %}
        <div id="{{ id }}_widget" class="clearfix {{ attr.class|default('') }}" style="{{ attr.style|default('') }}">
            <input type="hidden" name="{{ full_name }}" value="{{ value|default('') }}"/>

            <div class="input_media hasnomedia">
                <div class="preview"></div>
                <button class="choose">{{ 'media.widget.choose' | trans }}</button>
            </div>

            <div class="input_media hasmedia">
                <div class="iconpreview" style="float:left;">
                    <div class="{{ value|default('') }}" style="font-size:60px;"></div>
                </div>
                <button class="del">{{ 'media.widget.delete' | trans }}</button>
                <p class="title" style="clear:both">{{ value|default('') }}</p>
            </div>
        </div>

        <script type="text/javascript">
            var cssId = 'iconfont';
            if (!document.getElementById(cssId)) {
                var head  = document.getElementsByTagName('head')[0];
                var link  = document.createElement('link');
                link.id   = cssId;
                link.rel  = 'stylesheet';
                link.type = 'text/css';
                link.href = '{{ loader_object.cssLink }}';
                link.media = 'all';
                head.appendChild(link);
            }

            var widget = jQuery('#{{ id }}_widget');
            if (widget.find('input').val() == '') {
                widget.find('.hasnomedia').show();
                widget.find('.hasmedia').hide();
            } else {
                widget.find('.hasnomedia').hide();
                widget.find('.hasmedia').show();
            }
            widget.find('.choose').on('click', function(ev) {
                ev.preventDefault();
                openDGDialog('{{ path('KunstmaanMediaBundle_icon_font_chooser', {'loader': loader, 'loader_data': loader_data }) }}', 800, 600, function(param){
                    var widget = jQuery('#{{ id }}_widget');
                    widget.find('input').val(dialogWin.returnedValue.iconClass);
                    widget.find('.hasmedia').find('.title').html(dialogWin.returnedValue.iconClass);
                    var element =  widget.find('.hasmedia').find('.iconpreview').find('div');
                    element.removeClass();
                    element.addClass(dialogWin.returnedValue.iconClass);

                    widget.find('.hasnomedia').hide();
                    widget.find('.hasmedia').show();
                });
            });
            widget.find('.del').on('click', function(ev) {
                ev.preventDefault();
                var widget = jQuery('#{{ id }}_widget');
                widget.find('input').val('');
                widget.find('.hasnomedia').show();
                widget.find('.hasmedia').hide();
            });
        </script>
    {% endspaceless %}
{% endblock iconfont_widget %}

{% block media_widget %}
{% spaceless %}
	<div id="{{ id }}_widget" class="clearfix {{ attr.class|default('') }}" style="{{ attr.style|default('') }}">
		<input type="hidden" name="{{ full_name }}" value="{% if(value.id is defined) %}{{ value.id }}{% endif %}"/>

		<div class="input_media hasnomedia">
			<div class="preview"></div>
			<button data-toggle="modal" data-target="#Media_Chooser" class="choose">{{ 'media.widget.choose' | trans }}</button>
		</div>

		<div class="input_media hasmedia">
			{% if(value.ent is defined) %}
			    <div class="preview">
    			    {% set media = value.ent %}
    			    {% set handler = mediamanager.getHandler(media) %}
                    {% set imageurl =  handler.getImageUrl(media, app.request.basePath) %}
                    {% if imageurl is not empty and media.location == 'local' %}
                        {% if imageurl|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
                            {% set imageurl = imageurl %}
                        {% else %}
                            {% set imageurl = imageurl | imagine_filter('media_list_thumbnail') %}
                        {% endif %}
                    {% endif %}
                    {% if imageurl %}
                        <img src="{{ imageurl }}" alt="{{ media.name }}" />
                    {% else %}
                        <div style="font-size: 135px;text-align:center">
                            <i class="icon-file"></i>
                        </div>
                    {% endif %}
                </div>
                <button class="del">{{ 'media.widget.delete' | trans }}</button>
                <p class="title">{{ media.name }}</p>
			{% else %}
				<div class="preview">
					<img src="" alt="" />
				</div>
				<button class="del">{{ 'media.widget.delete' | trans }}</button>
				<p class="title"></p>
			{% endif %}
		</div>

        {% if attr['info_media'] is defined %}
            &nbsp; <strong title="{{ attr['info_media']|trans }}" id="{{ id }}_info_media" style="cursor:help;display:inline-block;margin:10px 0 0 2px;">?</strong>
            <script>
                jQuery(document).ready(function(){
                    $("#{{ id }}_info_media").tooltip();
                });
            </script>
        {% endif %}
	</div>

	<script type="text/javascript">
		{
			var widget = jQuery('#{{ id }}_widget');
			if ( widget.find('input').val() == '') {
				widget.find('.hasnomedia').show();
				widget.find('.hasmedia').hide();
			} else {
				widget.find('.hasnomedia').hide();
				widget.find('.hasmedia').show();
			}
			widget.find('.choose').on('click', function(ev) {
				ev.preventDefault();
				openDGDialog('{{ path(chooser, {'type': mediatype}) }}', 1050, 600, function(param){
					var widget = jQuery('#{{ id }}_widget');
					widget.find('input').val(dialogWin.returnedValue.id);
					if(typeof(dialogWin.returnedValue.title)!="undefined"){
						widget.find('.hasmedia').find('.title').html(dialogWin.returnedValue.title);
						widget.find('.hasmedia').find('.title').show();
					} else {
						widget.find('.hasmedia').find('.title').hide();
					}
					if(typeof(dialogWin.returnedValue.imgpath)!="undefined"){
						widget.find('.hasmedia').find('img').attr('src', dialogWin.returnedValue.imgpath);
						widget.find('.hasmedia').find('img').show();
					} else {
						widget.find('.hasmedia').find('img').hide();
					}
					widget.find('.hasnomedia').hide();
					widget.find('.hasmedia').show();
				});
			});
			widget.find('.del').on('click', function(ev) {
				ev.preventDefault();
				var widget = jQuery('#{{ id }}_widget');
				widget.find('input').val('');
				widget.find('.hasnomedia').show();
				widget.find('.hasmedia').hide();
			});
		}
	</script>
{% endspaceless %}
{% endblock %}
