{% extends 'KunstmaanAdminListBundle:Default:list.html.twig' %}

{% block admin_page_title %}
    <div class="col-sm-6 col-md-8">
        <h1 class="app__content__header__title">
            {{ 'kuma_menu.menu_item.adminlist.title'|trans({
                '%name%': adminlistconfigurator.menu.name,
                '%locale%': adminlistconfigurator.menu.locale
            }) }}
        </h1>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb app__content__breadcrumb">
        <li>
            <a href="{{ path('KunstmaanAdminBundle_modules') }}">
                {{ 'kuma_menu.menu_item.adminlist.breadcrumb.modules'|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('kunstmaanmenubundle_admin_menu') }}">
                {{ 'kuma_menu.menu_item.adminlist.breadcrumb.menu'|trans }}
            </a>
        </li>
        <li class="active">
            {{ 'kuma_menu.menu_item.adminlist.breadcrumb.menu_items'|trans }}
        </li>
    </ul>
{% endblock %}
