<div class="container">
    <div class="row row--padded-large">
        <div class="col-md-12">
            {% if thanks is defined and thanks %}
                {{ page.thanks|raw }}
            {% else %}
                {% form_theme frontendform   '~~~BUNDLE~~~:Form:fields.html.twig' %}

                {{ form_start(frontendform, {'method': 'POST', 'action': path('_slug', { 'url' : nodemenu.current.slug }), 'attr': {'novalidate': 'novalidate', 'class': 'form-horizontal'}}) }}
                    {{ render_pageparts(page, 'main') }}
                    {{ form_rest(frontendform) }}
                {{ form_end(frontendform) }}
            {% endif %}
        </div>
    </div>
</div>
