{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block header %}{% endblock %}

{% block content %}
    <form method="post" action="" id="dashboard-setup-form">
        <h2>{{ 'dashboard.ga.setup.title' | trans }}</h2>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="setup-group" id="account-group">
            <select id="accounts" name="accounts">
                <option data-id="" selected>{{ 'dashboard.ga.setup.account.select' | trans }}</option>
                {% for account in accounts %}
                    <option {% if account.accountId == accountId %}selected{% endif %} data-id="{{account.accountId}}">
                        {{ account.accountName }}
                    </option>
                {% endfor %}
            </select>

            <select id="properties" {% if properties is not defined %} class="setup-item__not_shown" {% endif %}>
                <option data-id="">{{ 'dashboard.ga.setup.property.select' | trans }}</option>
                {% if properties is defined %}
                    {% for property in properties %}
                        <option {% if property.propertyId == propertyId %}selected{% endif %} data-id="{{property.propertyId}}">
                            {{ property.propertyName }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>

            <select id="profiles" {% if profiles is not defined %} class="setup-item__not_shown" {% endif %}>
                <option data-id="">{{ 'dashboard.ga.setup.profile.select' | trans }}</option>
                {% if profiles is defined %}
                    {% for profile in profiles %}
                        <option {% if profile.profileId == profileId %}selected{% endif %} data-id="{{profile.profileId}}">
                            {{ profile.profileName }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="setup-group" id="segment-group">
            <h4>Segments</h4>
            <ul>
                {% for segment in segments %}
                    <li id="segment-list__{{ segment.id }}">
                        {{ segment.name }}<input type="button" class="segment-list-button__delete btn" data-segment-id="{{ segment.id }}" value="X"/>
                    </li>
                {% endfor %}
            </ul>
            <div id="segments-new"></div>
            <a href="#" class="btn" id="segment-button__add">{{ 'dashboard.ga.setup.segment.add' | trans }}</a>
        </div>

        <div class="setup-group" id="control-group">
            <a href="{{ path('kunstmaan_dashboard') }}" class="btn" type="submit">{{ 'dashboard.ga.setup.back' | trans }}</a>
            <button disabled id="submit_save" class="btn btn-primary" type="submit">{{ 'form.save' | trans }}</button>
        </div>
    </form>

    <input type="hidden" id="path_accounts" data-url="{{ path('DashBoardBundle_AJAX_accounts') }}" />
    <input type="hidden" id="path_properties" data-url="{{ path('DashBoardBundle_AJAX_properties') }}" />
    <input type="hidden" id="path_profiles" data-url="{{ path('DashBoardBundle_AJAX_profiles') }}" />
    <input type="hidden" id="path_segment_add" data-url="{{ path('DashBoardBundle_AJAX_segment_add') }}" />
    <input type="hidden" id="path_segment_delete" data-url="{{ path('DashBoardBundle_AJAX_segment_delete') }}" />
    <input type="hidden" id="path_config_save" data-url="{{ path('DashBoardBundle_AJAX_config_save') }}" />
{% endblock %}

{% block extrajavascript %}
    {% javascripts
        '@KunstmaanDashboardBundle/Resources/public/js/setup/setup.js'
        output='generated-js/ga_widget_setup.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block extracss %}
    {% stylesheets
        filter="scss"
        "@KunstmaanDashboardBundle/Resources/public/scss/_dashboard-setup.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

