<div class="modal fade pp-chooser js-pp-chooser pp-search" id="pagePartModal{{ pagepartadmin.context }}" tabindex="-1" role="dialog" aria-labelledby="pagePartModalLabel"
     aria-hidden="true"
     data-pp-types="{{ pagepartadmin.possiblePagePartTypes|map(pp => {'name': pp.name|trans, 'class': pp.class, 'preview': pp.preview })|json_encode(constant('JSON_UNESCAPED_UNICODE')) }}"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pp-chooser__header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="pp-chooser__header__content">
                    <h4 class="modal-title">{{ 'kuma_pagepart.select.add' | trans }}</h4>
                    <div class="pp-search__field-wrapper">
                        <span class="pp-search__field-icon"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input class="js-pp-search pp-search__field form-control" type="text">
                        <button type="button" class="pp-search__reset js-pp-search__reset"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="modal-body clearfix">
                <div class="row">
                    {% for pagePartType in pagepartadmin.possiblePagePartTypes %}
                        <div class="pp-search__item js-pp-search-item col-sm-6 col-lg-4" data-pp-name="{{ pagePartType.name|trans }}">
                            {% if pagePartType.preview is defined and pagePartType.preview is not empty %}
                                {% set background = asset(pagePartType.preview) %}
                            {% else %}
                                {% set background = asset('bundles/kunstmaanadmin/default-theme/img/kunstmaan/ppchooser-placeholder.svg') %}
                            {% endif %}
                            <a class="js-add-pp-button pp_modal__preview" data-pagepartclass="{{ pagePartType.class }}" data-pagepartmodalname="pagePartModal{{ pagepartadmin.context }}">
                                <figure class="pp_modal__preview__card">
                                    <img class="pp_modal__preview__card__image" src="{{ background }}" alt="">
                                    <figcaption class="pp_modal__preview__card__name">{{ pagePartType.name|trans }}</figcaption>
                                </figure>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

