{% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}
{% set context = pagepartadmin.context %}

<!-- Hidden Field - Deleted -->
<input type="checkbox" class="deletefield hidden" id="{{id}}-is-deleted" name="{{id}}_deleted" value="true">


<!-- Draggable Item -->
<div class="js-sortable-item sortable-item" id="{{id}}-pp-container" data-scope="{{ pagepartadmin.getClassName(pagepart)|replace({'\\':""}) }}" >

    <!-- Hidden fields - New, Type and Context -->
    {% if pagepart.id == 0 %}
        <input type="hidden" name="{{context}}_new[]" data-suffix="_new[]" value="{{id}}" class="pagepartadmin_field_updatecontextname">
        <input type="hidden" name="{{context}}_type_{{id}}" data-suffix="_type_{{id}}" value="{{pagepartadmin.getClassName(pagepart)}}" class="pagepartadmin_field_updatecontextname">
    {% endif %}
    <input type="hidden" name="{{context}}_sequence[]" data-suffix="_sequence[]" value="{{id}}" class="pagepartadmin_field_updatecontextname">


    <!-- PP -->
    {% if form_has_errors_recursive(form['pagepartadmin_'~id]) %}
        {% set editmode = true %}
    {% endif %}
    {% if form['pagepartadmin_'~id].count %}
        {% set editable = true %}
    {% else %}
        {% set editable = false %}
    {% endif %}

    <section id="pp-{{id}}" class="pp">
        <!-- PP - Header -->
        <header class="js-sortable-item__handle pp__header {% if not form['pagepartadmin_'~id].count %}pp__header--no-edit{% endif %}">
            <i class="fa fa-arrows pp__header__move-icon"></i>
            <h5 class="pp__header__head">
                {{pagepartadmin.getType(pagepart)}}
            </h5>
        </header>

        <!-- PP - actions -->
        <div class="pp__actions">
            <button type="button" class="btn--raise-on-hover pp__actions__action pp__actions__action--del" data-keyboard="true" data-toggle="modal" data-target="#delete-pagepart-modal-{{id}}">
                <i class="fa fa-trash-o"></i>
            </button>
            {% if editable %}
                <button type="button" class="js-edit-pp-btn btn--raise-on-hover pp__actions__action pp__actions__action--edit" data-target-id="{{id}}">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
            {% endif %}
        </div>

        <div class="pp__view">
            <!-- PP - View - Preview -->
            <div id="{{id}}-preview-view" class="pp__view__block{% if editmode %} pp__view__block--hidden{% endif %}">
                {% include pagepart.adminview with {'resource': pagepart, 'pagepartadmin': pagepartadmin} %}
            </div>

            <!-- PP - View - Edit -->
            <div id="{{id}}-edit-view" class="pp__view__block{% if not editmode %} pp__view__block--hidden{% endif %}">
                {% set pagepartid = 'pagepart'~id %}
                {% if pagepart.editTemplate is defined %}
                    {% include pagepart.editTemplate with {'resource': pagepart, 'pagepartid': pagepartid, 'form': form['pagepartadmin_'~id]} %}
                {% else %}
                    {{ form_widget(form['pagepartadmin_'~id]) }}
                {% endif %}
            </div>
        </div>
    </section>



    <!-- New PP select -->
    <div class="pp-container__add">
        <select class="js-add-pp-select form-control input-sm pp-container__add__select" data-url="{{ path('KunstmaanPagePartBundle_admin_newpagepart') }}">
            <option value="">Add a pagepart</option>
            {% for pagePartType in pagepartadmin.possiblePagePartTypes %}
                <option value="{{pagePartType.class}}">{{pagePartType.name}}</option>
            {% endfor %}
        </select>
    </div>



    <!-- PP - Del modal -->
    <div id="delete-pagepart-modal-{{id}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Head -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <h3>
                        Delete pagepart '{{pagepartadmin.getType(pagepart)}}'
                    </h3>
                </div>

                <!-- Body -->
                <div class="modal-body">
                    <p>
                        This will not remove the pagepart completely, save the page to remove this pagepart permanently.
                    </p>
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="js-delete-pp-btn btn btn-danger btn--raise-on-hover" data-target-id="{{id}}">
                        Delete
                    </button>
                    <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
