{% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}
{% set context = pagepartadmin.context %}

<!-- Hidden Fields -->
<input type="checkbox" class="deletefield hidden" id="{{id}}_deleted" name="{{id}}_deleted" value="true">


<!-- Draggable Item -->
<div class="draggable-item" id="{{id}}_container" data-scope="{{ pagepartadmin.getClassName(pagepart)|replace({'\\':""}) }}" >

    <!-- Hidden fields -->
    {% if pagepart.id == 0 %}
        <input type="hidden" name="{{context}}_new[]" data-suffix="_new[]" value="{{id}}" class="pagepartadmin_field_updatecontextname">
        <input type="hidden" name="{{context}}_type_{{id}}" data-suffix="_type_{{id}}" value="{{pagepartadmin.getClassName(pagepart)}}" class="pagepartadmin_field_updatecontextname">
    {% endif %}
    <input type="hidden" name="{{context}}_sequence[]" data-suffix="_sequence[]" value="{{id}}" class="pagepartadmin_field_updatecontextname">


    <!-- PP -->
    {% if form_has_errors_recursive(form['pagepartadmin_'~id]) %}
        {% set editmode = true %}
    {% endif %}
    {% if form['pagepartadmin_'~id].count %}
        {% set editable = true %}
    {% else %}
        {% set editable = false %}
    {% endif %}
    <section class="pp">
        <!-- PP - Header -->
        <header class="pp__header {% if not form['pagepartadmin_'~id].count %}pp__header--no-edit{% endif %}">
            <i class="fa fa-arrows pp__header__move-icon"></i>
            <h5 class="pp__header__head">
                {{pagepartadmin.getType(pagepart)}}
            </h5>
            <div class="pp__header__actions">
                <button type="button" class="btn--raise-on-hover pp__header__actions__action pp__header__actions__action--del" data-keyboard="true" data-toggle="modal" data-target="#delete-pagepart-modal{{id}}">
                    <i class="fa fa-trash-o"></i>
                </button>
                {% if editable %}
                    <button type="button" class="btn--raise-on-hover pp__header__actions__action pp__header__actions__action--edit" onclick="return PagePartEditor.editPagepart('{{id}}')">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                {% endif %}
            </div>
        </header>

        <div class="pp__view">
            <!-- PP - View -->
            <div id="{{id}}_view" {% if editmode %}style="display:none"{% endif %} {% if editable %}onDblclick="return edit_{{id}}()"{% endif %}>
                {% include pagepart.adminview with {'resource': pagepart, 'pagepartadmin': pagepartadmin} %}
            </div>

            <!-- PP - Edit View -->
            <div id="{{id}}_edit" {% if not editmode %}style="display:none"{% endif %}>
                {% set pagepartid = 'pagepart'~id %}
                {% if pagepart.editTemplate is defined %}
                    {% include pagepart.editTemplate with {'resource': pagepart, 'pagepartid': pagepartid, 'form': form['pagepartadmin_'~id]} %}
                {% else %}
                    {{ form_widget(form['pagepartadmin_'~id]) }}
                {% endif %}
            </div>
        </div>
    </section>



    <!-- New PP select -->
    <div class="pp-container__add">
        <select onchange="return PagePartEditor.addPagepart(this)" class="form-control input-sm pp-container__add__select">
            <option value="">Add a pagepart</option>
            {% for pagePartType in pagepartadmin.possiblePagePartTypes %}
                <option value="{{pagePartType.class}}">{{pagePartType.name}}</option>
            {% endfor %}
        </select>
    </div>



    <!-- PP - Del modal -->
    <div id="delete-pagepart-modal{{id}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Head -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                        </button>
                    <h3>
                        Delete pagepart '{{pagepartadmin.getType(pagepart)}}'
                    </h3>
                </div>

                <!-- Body -->
                <div class="modal-body">
                    <p>
                        This will not remove the pagepart completely, save the page to remove this pagepart permanently.
                    </p>
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" onclick="PagePartEditor.deletePagepart('{{id}}'); $('#delete-pagepart-modal{{id}}').modal('hide');" class="btn btn-danger btn--raise-on-hover">
                        Delete
                    </button>
                    <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
