<div class="js-pp-container pp-container" data-context="{{ pagepartadmin.context }}" data-pageid="{{ pagepartadmin.page.id }}" data-pageclassname="{{ pagepartadmin.getClassName(pagepartadmin.page) }}">

    <!-- First New PP select -->
    <div class="pp-container__add">
        <select class="js-add-pp-select js-add-pp-select--first form-control input-sm pp-container__add__select" data-url="{{ path('KunstmaanPagePartBundle_admin_newpagepart') }}">
            <option value="">Add a pagepart</option>
            {% for pagePartType in pagepartadmin.possiblePagePartTypes %}
                <option value="{{ pagePartType.class }}">{{ pagePartType.name }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Sortable container -->
    <div id="parts-{{ pagepartadmin.context }}" class="js-sortable-container sortable-container" data-scope="{% spaceless %}{% for type in pagepartadmin.possiblePagePartTypes %}{{ type.class|replace({'\\':""})~' ' }}{% endfor %}{% endspaceless %}">
        {% for id, pagepart in pagepartadmin.pagepartmap %}
            {% include 'KunstmaanPagePartBundle:PagePartAdminTwigExtension:pagepart.html.twig' with { 'id': id, 'pagepartadmin': pagepartadmin, 'editmode': false} %}
        {% endfor %}
    </div>
</div>

<div id="pageparts-deleted-container"></div>
