<script>
	if(typeof window.FileChosenCallback == 'undefined') {
    	window.FileChosenCallback = new Array();
	}
	if(typeof window.LinkChosenCallback == 'undefined') {
    	window.LinkChosenCallback = new Array();
	}
	if(typeof window.SlideChosenCallback == 'undefined') {
    	window.SlideChosenCallback = new Array();
	}
	if(typeof window.VideoChosenCallback == 'undefined') {
    	window.VideoChosenCallback = new Array();
	}
</script>
<div class="pagepartscontainer" id="parts_{{pagepartadmin.context}}">
	{% if app.request.get('edit') is defined and app.request.get('edit') !="" %}
		{% set editpagepart = app.request.get('edit') + 2 %}
	{% endif %}
    {% for pagepartref in pagepartadmin.pagepartrefs %}
    	{% set pagepart = pagepartadmin.getPagePart(pagepartref) %}
    	<section class="draggable pagepartcontainer" id="{{pagepartref.id}}_container" >
	        <script>
	            function delete_{{pagepartref.id}}(){
	                document.getElementById('{{pagepartref.id}}_deleted').value = 'true';
	                jQuery('#{{pagepartref.id}}_container').slideUp(function(){
	                    jQuery('#pagepartsdeletedcontainer').append(jQuery('#{{pagepartref.id}}_container'));
	                });
	                return true;
	            }
	            function moveUp_{{pagepartref.id}}(){
	                var $parent = jQuery('#{{pagepartref.id}}_container');
	                var $parentprev = $parent.prev();
	                $parent.swap({
	                    target: $parent.prev().attr('id'),
	                    opacity: "0.5",
	                    speed: 1000,
	                    callback: function() {
	                        $parent.insertBefore($parentprev);
	                        $parent.css("top", "auto").css("left", "auto");
	                        $parentprev.css("top", "auto").css("left", "auto");
	                    }
	                });
	                return false;
	            }
	            function moveDown_{{pagepartref.id}}(){
	                var $parent = jQuery('#{{pagepartref.id}}_container');
	                var $parentnext = $parent.next();
	                $parent.swap({
	                    target: $parent.next().attr('id'),
	                    opacity: "0.5",
	                    speed: 1000,
	                    callback: function() {
	                        $parent.insertAfter($parentnext);
	                        $parent.css("top", "auto").css("left", "auto");
	                        $parentnext.css("top", "auto").css("left", "auto");
	                    }
	                });
	                return false;
	            }
	            function edit_{{pagepartref.id}}(){
	                document.getElementById('{{pagepartref.id}}_view').style.display = 'none';
	                document.getElementById('{{pagepartref.id}}_edit').style.display = '';
                    window.activeEdit = '{{pagepartref.id}}';
	                return false;
	            }
	        </script>
	        <input type="hidden" id="{{pagepartref.id}}_deleted" name="{{pagepartref.id}}_deleted" value="" />
	        <input type="hidden" id="{{pagepartref.context}}_{{pagepartref.pageid}}_{{pagepartref.pageentityname}}_sequence" name="{{pagepartref.context}}_{{pagepartref.pageid}}_{{pagepartref.pageentityname}}_sequence[]" value="{{pagepartref.id}}" />

        	<div class="pagepart">
            	<a name="pagepart{{ loop.index }}" ></a>
            	<div class="prop_bar {% if not form['pagepartadmin_'~pagepartref.context~'_'~pagepartref.id].count %}noedit{% endif %}">
            		<h6>{{pagepartadmin.getType(pagepart)}}</h6>
            		{#
            		  <a class="btn small" href="#" onclick="return moveUp_{{pagepartref.id}}()">Up</a>
                      <a class="btn small" href="#" onclick="return moveDown_{{pagepartref.id}}()">Down</a>
            		#}
					<a class="del red" data-controls-modal="delete-pagepart-modal{{pagepartref.id}}" data-backdrop="true" data-keyboard="true" ><span>Del</span></a>
                    {% if form['pagepartadmin_'~pagepartref.context~'_'~pagepartref.id].count %}
                        <a href="#" class="bleu" onclick="return edit_{{pagepartref.id}}()">Edit</a>
                    {% endif %}
            	</div>
                <div class="block" id="{{pagepartref.id}}_view" {% if editpagepart is defined and editpagepart == loop.index %}style="display:none"{% endif %}>
                    {% include pagepart.defaultview with {'resource': pagepart, 'pagepartadmin': pagepartadmin, 'pageparts': pagepartadmin.pagepartrefs} %}
                </div>
                {% if form['pagepartadmin_'~pagepartref.context~'_'~pagepartref.id].count %}
                    <div class="block" id="{{pagepartref.id}}_edit" {% if editpagepart is not defined or editpagepart != loop.index %}style="display:none"{% endif %}>
                        {% set pagepartid %}pagepart{{pagepartref.id}}{%endset%}
                        {{ form_widget(form['pagepartadmin_'~pagepartref.context~'_'~pagepartref.id]) }}
                    </div>
                {% endif %}
            </div>
            <div id="delete-pagepart-modal{{pagepartref.id}}" class="modal hide fade">
		      <div class="modal-header">
		        <a href="#" class="close">&times;</a>
		        <h3>Delete pagepart '{{pagepartadmin.getType(pagepart)}}'</h3>
		      </div>
		      <div class="modal-body">
		        <p>This will not remove the pagepart completely, save the page to remove this pagepart permanently.</p>
		       </div>
		      <div class="modal-footer">
		        <a onclick="delete_{{pagepartref.id}}(); $('#delete-pagepart-modal{{pagepartref.id}}').modal('hide');" href="#" class="btn primary">Delete</a>
		        <a onclick="$('#delete-pagepart-modal{{pagepartref.id}}').modal('hide');" href="#" class="btn secondary">Cancel</a>
		      </div>
		    </div>
		    
            <div class="new_pagepart">
              <select onchange="return doAddpagepart_{{pagepartadmin.context}}(this, '{%if loop.index !=1 or loop.length >= 1 %}{{ loop.index-1 }}{%else%}-1{% endif %}')">
	            <option value="">Add a pagepart</option>
	            {% for pagePartType in pagepartadmin.possiblePagePartTypes %}
	              <option value="{{pagePartType.class}}">{{pagePartType.name}}</option>
	            {% endfor %}
              </select>
            </div>
        </section>
    {% else %}
    	<section class="draggable pagepartcontainer">
            <div class="new_pagepart">
              <select onchange="return doAddpagepart_{{pagepartadmin.context}}(this, '{%if loop.index != 1 or loop.length >= 1 %}{{ loop.index-1 }}{%else%}-1{% endif %}')">
	            <option value="">Add a pagepart</option>
	            {% for pagePartType in pagepartadmin.possiblePagePartTypes %}
	              <option value="{{pagePartType.class}}">{{pagePartType.name}}</option>
	            {% endfor %}
              </select>
            </div>
        </section>
    {% endfor %}
</div>
<input type="hidden" id="{{pagepartadmin.context}}_addposition" name="{{pagepartadmin.context}}_addposition" value="" />
<div class="clearfix">
    <script type="text/javascript">
        function doAddpagepart_{{pagepartadmin.context}}(select, id){
            var position = jQuery('#parts_{{pagepartadmin.context}} section.draggable').index(jQuery(select).parents("section.draggable"))+1;
            if(position<0){
				position = 0;
            }
            jQuery('#{{pagepartadmin.context}}_addposition').val(position);
            jQuery(select).attr('name', 'addpagepart_{{pagepartadmin.context}}');
            var newid = id+1;
            jQuery('#pageadminform')[0].action="?edit="+id+"#pagepart"+id;
            jQuery('#pageadminform')[0].submit();
            return false;
        }
    </script>
</div>
<div id="pagepartsdeletedcontainer">

</div>
<script type="text/javascript">

	$(document).ready(function () {
		$('#parts_{{pagepartadmin.context}}').sortable({
			iframeFix: true,
		    handle: '.prop_bar',
		    cursor: 'move',
		    placeholder: 'placeholder',
		    forcePlaceholderSize: true,
			revert: 100,
		    //opacity: 0.4
		    opacity: 1,
			start: function(e, ui) {
				for ( instance in CKEDITOR.instances ){
		            CKEDITOR.instances[instance].destroy();
				}
		        $('.draggable').css('opacity', ".4");
				$('.ui-sortable-helper .new_pagepart').slideUp("fast");	
			},
			stop: function(e, ui) {
				$('.draggable').css('opacity', "1");	
				$('.rich_editor').ckeditor();
			}

		    //containment: 'document'
		});	
		$("#parts_{{pagepartadmin.context}}").disableSelection();
		
	});

</script>