{% extends 'KunstmaanAdminListBundle:Default:list.html.twig' %}

{% block extra_actions_header %}{% endblock %}
{% block top_menu %}{% endblock %}
{% block footer %}{% endblock %}

{% block extrajavascript %}
    {{ parent() }}
    <script type="text/javascript">
        // Handle click of OK button
        function handleOK(result) {
            if (window.opener) {
                {% if cKEditorFuncNum is not empty %}
                    window.opener.CKEDITOR.tools.callFunction({{ cKEditorFuncNum }}, result.path);
                {% else %}
                    window.opener.dialogWin.returnedValue = result;
                    window.opener.dialogWin.returnFunc();
                {% endif %}
            } else {
                //alert("You have closed the main window.\n\nNo action will be taken on the choices in this dialog box.")
            }
            window.close();
            return false
        }

        // Handle click of Cancel button
        function handleCancel() {
            window.close();
            return false
        }
    </script>
{% endblock %}

{% block extraclasshtml "overflow-scroll" %}

{% block extraparamsinbody %}
    class="media_popup_temp"
{% endblock %}

{% block sidebar %}
    {% set urlParams = {'type': type} %}
    {% if cKEditorFuncNum %}
        {% set urlParams = urlParams|merge({'CKEditorFuncNum': cKEditorFuncNum}) %}
    {% endif %}
    {% if linkChooser %}
        {% set urlParams = urlParams|merge({'linkChooser': linkChooser}) %}
    {% endif %}

    <aside class="sidebar" {% if linkChooserLink %}style="margin-top:40px;"{% endif %}>
        <h2>Media Chooser</h2>
        <div id="tree" class="tree">
        <ul>
            {% set parentIds = foldermanager.getParentIds(folder) %}
            {% set rootFolder = foldermanager.getRootFolderFor(folder) %}
            {% set folders = foldermanager.getFolderHierarchy(rootFolder) %}
            {% for mediaFolder in folders %}
                {% include 'KunstmaanMediaBundle:Chooser:chooserShowRecTreeView.html.twig' %}
            {% endfor %}
        </ul>
        </div>
    </aside>
{% endblock %}

{% block header %}
    <div {% if linkChooserLink %}style="margin-top:40px;padding-bottom:1px;"{% endif %}>
        <h1>{{ folder.name | trans }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% set urlParams = {'type': type} %}
    {% if cKEditorFuncNum %}
        {% set urlParams = urlParams|merge({'CKEditorFuncNum': cKEditorFuncNum}) %}
    {% endif %}
    {% if linkChooser %}
        {% set urlParams = urlParams|merge({'linkChooser': linkChooser}) %}
    {% endif %}

    {% if linkChooserLink %}
        <header>
            <div class="navbar navbar-inverse navbar-fixed-top" data-dropdown="dropdown">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="brand" href="#">{{ websitetitle | trans }}</a>
                        <nav>
                            <ul class="nav secondary-nav">
                                <li class="first">
                                    <a href="{{ linkChooserLink }}">Pages</a>
                                </li>
                                <li class="active last">
                                    <a href="#">Media</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}

    <div class="main_actions btn-group">
        <div class="btn-group main_actions" style="margin-left:15px;">
            <a href="{{ path('KunstmaanMediaBundle_chooser_show_folder', urlParams|merge({'folderId': folder.id, viewMode: 'thumb-view'})) }}" class="btn {% if not app.session.get('media-list-view') %}active{% endif %}" style="font-size:14px;"><i class="icon-th-large"></i></a>
            <a href="{{ path('KunstmaanMediaBundle_chooser_show_folder', urlParams|merge({'folderId': folder.id, viewMode: 'list-view'})) }}" class="btn {% if app.session.get('media-list-view') %}active{% endif %}" style="font-size:14px;"><i class="icon-list"></i></a>
        </div>

        <div class="main_actions btn-group">
            <a class="btn dropdown-toggle btn-primary last-child" data-toggle="dropdown" href="#">Add media <i class="icon-caret-down"></i></a>
            <ul class="dropdown-menu">
                {% for addaction in mediamanager.getFolderAddActions() %}
                    <li>
                        <a href="{{ path('KunstmaanMediaBundle_media_create', { 'folderId' : folder.id, 'type': addaction.type }) }}"
                           data-toggle="modal" data-target="#add{{ addaction.type }}-modal"
                           >{{ addaction.name |trans }}</a>
                    </li>
                {% endfor %}
                </ul>
        </div>
    </div>
    <section class="map-list">
        <table class="table">
            <tbody>
            {% for child in folder.children %}
                <tr>
                    <td>
                        <a href="{{ path('KunstmaanMediaBundle_chooser_show_folder', urlParams|merge({'folderId': child.id})) }}">{{ child.name | trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="cont-images--chooser">
        {% if app.session.get('media-list-view') %}
            {% if adminlist.count > 0 %}
                {{ parent() }}
            {% else %}
                <p class="no_item">
                    {{ 'media.media.no' |trans }}
                </p>
            {% endif %}
        {% else %}
            <ul class="thumbnails" id="file-list">
                {% for media in folder.media %}
                    {% if not handler or handler.canHandle(media) %}
                        <li>
                            {% set handler = mediamanager.getHandler(media) %}
                            {% set imageurl =  handler.getImageUrl(media, app.request.basePath) %}
                            {% if imageurl is not empty and media.location == 'local' %}
                                {% if imageurl|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
                                    {% set imageurl = imageurl %}
                                {% else %}
                                    {% set imageurl = imageurl | imagine_filter('media_list_thumbnail') %}
                                {% endif %}
                            {% endif %}
                            <a onclick="handleOK({
                                    imgpath: '{{ imageurl }}',
                                    path:'{{ media.url }}',
                                    title:'{{ media.name|escape('js') }}',
                                    id:'{{ media.id }}'}); return false;"
                               class="thumbnail"
                               href="#">
                                {% if imageurl %}
                                    <img src="{{ imageurl }}" alt="{{ media.name }}" />
                                {% else %}
                                    <div style="font-size: 135px;text-align:center">
                                        <i class="icon-file"></i>
                                    </div>
                                {% endif %}
                                <p class="img_name">{{ media.name }}</p>
                            </a>
                            <span class="helper">Click to select</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </section>

    <!--=========Modals=========-->
    {% set urlParams = urlParams|merge({'folderId': folder.id}) %}
    {% include 'KunstmaanMediaBundle:Media:addType-modal.html.twig' %}
{% endblock %}
