{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block extrajavascript %}
    {{ parent() }}
    <script type="text/javascript">
        // Handle click of OK button
        function handleOK(result) {
            if (window.opener) {
                {% if cKEditorFuncNum is not empty %}
                    window.opener.CKEDITOR.tools.callFunction({{ cKEditorFuncNum }}, result.path);
                {% else %}
                    window.opener.dialogWin.returnedValue = result;
                    window.opener.dialogWin.returnFunc();
                {% endif %}
            } else {
                //alert("You have closed the main window.\n\nNo action will be taken on the choices in this dialog box.")
            }
            window.close();
            return false
        }

        // Handle click of Cancel button
        function handleCancel() {
            window.close();
            return false
        }
    </script>
{% endblock %}

{% block extraclasshtml "overflow-scroll" %}

{% block extraparamsinbody %}
    class="media_popup_temp"
{% endblock %}

{% block body %}
    {% if linkChooserLink %}
        <header>
            <div class="navbar navbar-inverse navbar-fixed-top" data-dropdown="dropdown">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="brand" href="#">{{ websitetitle | trans }}</a>
                        <nav>
                            <ul class="nav secondary-nav">
                                <li class="first">
                                    <a href="{{ linkChooserLink }}">Pages</a>
                                </li>
                                <li class="active last">
                                    <a href="#">Media</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    {% endif %}

    <div class="container-fluid" {% if linkChooserLink %}style="margin-top:40px;"{% endif %}>
        <aside class="sidebar">
            <h2>Media Chooser</h2>
            <div id="tree" class="tree">
                {% for topfolder in folders %}
                    <ul>
                        {% for child in topfolder.children %}
                            {% include 'KunstmaanMediaBundle:Chooser:chooserShowRecTreeView.html.twig' %}
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </aside>
        <div class="content">
            <h1>{{ folder.name | trans }}</h1>

            <div class="main_actions btn-group">
                <div class="main_actions btn-group">
                    {% for addaction in mediamanager.getFolderAddActions() %}
                        <a href="{{ path('KunstmaanMediaBundle_media_create', { 'folderId' : folder.id, 'type': addaction.type }) }}"
                           data-toggle="modal" data-target="#add{{ addaction.type }}-modal"
                           class="btn {% if loop.first %}btn-primary{% endif %}">{{ addaction.name |trans }}</a>
                    {% endfor %}
                </div>
            </div>
            <section class="map-list">
                <table class="table">
                    <tbody>
                    {% for child in folder.children %}
                        <tr>
                            <td>
                                <a href="{{ path('KunstmaanMediaBundle_chooser_show_folder', { 'folderId' :child.id, 'type' : type, 'CKEditorFuncNum': cKEditorFuncNum }) }}">{{ child.name | trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
            <section class="cont-images--chooser">
                <ul class="thumbnails" id="file-list">
                    {% for media in folder.media %}
                        {% if not handler or handler.canHandle(media) %}
                            <li>
                                {% set mediaHandler = mediamanager.getHandler(media) %}
                                {% set thumbnailurl =  mediaHandler.getImageUrl(media, app.request.basePath, 210, 150) %}
                                <a onclick="handleOK({imgpath: '{{ mediaHandler.getImageUrl(media, app.request.basePath, 210, 150) }}', path:'{{ media.url }}', title:'{{ media.name|escape('js') }}', id:'{{ media.id }}'});return false;"
                                   class="thumbnail" href="#">
                                    {% if thumbnailurl %}
                                        <img src="{{ mediaHandler.getImageUrl(media, app.request.basePath, 210, 150) }}"
                                             alt="{{ media.name }}"/>
                                    {% else %}
                                        <div style="font-size: 135px;text-align:center">
                                            <i class="icon-file"></i>
                                        </div>
                                    {% endif %}
                                    <p class="img_name">{{ media.name }}</p>
                                </a>
                                <span class="helper">Click to select</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>

    <!--=========Modals=========-->


    {% set urlParams = {'folderId' : folder.id, 'type': 'file'} %}
    {% if cKEditorFuncNum %}
        {% set urlParams = urlParams|merge({'CKEditorFuncNum': cKEditorFuncNum}) %}
    {% endif %}
    {% if linkChooser %}
        {% set urlParams = urlParams|merge({'linkChooser': linkChooser}) %}
    {% endif %}
    {% set actionUrl = path('KunstmaanMediaBundle_media_modal_create', urlParams) %}

    {% include 'KunstmaanMediaBundle:Media:addfile-modal.html.twig' %}
    {% include 'KunstmaanMediaBundle:Media:addvideo-modal.html.twig' %}
    {% include 'KunstmaanMediaBundle:Media:addslide-modal.html.twig' %}
    {% include 'KunstmaanMediaBundle:Media:addaudio-modal.html.twig' %}
{% endblock %}
