{% extends 'KunstmaanMediaBundle:Chooser:slidechooser.html.twig' %}

{% block subbreadcrumb %}{%  set galstype = 'media.menu.'~gallery.type~'s' %}
    {% for parent in gallery.parents %}
    <li><a href="{{ path('KunstmaanMediaBundle_videochooser_show', { 'id': parent.id, 'slug': parent.slug }) }}">{{ parent.name | trans }}</a></li>
    {% endfor %}
	<li class="active">{{ gallery.name | trans }}</li>
{% endblock %}


{% block content %}
	{% set FolderType = 'media.'~gallery.type~'.'~gallery.type %}
	
	<h1>{{ gallery.name | trans }}{% if gallery.parent %} <small>{{ 'media.folder.sub' | trans }} <a href="{{ path('KunstmaanMediaBundle_imagechooser_show', { 'id': gallery.parent.id, 'slug': gallery.parent.slug }) }}">{{ gallery.parent.name | trans }}</a></small>{% endif %}</h1>
	
	<section class="map-list">
        <table class="table">
        	<tbody>
		        {% for child in gallery.children %}
		        	{% if child.hasVideos() %}
		            <tr>
		            	<td><a href="{{ path('KunstmaanMediaBundle_videochooser_show', { 'id' :child.id, 'slug' : child.slug }) }}">{{ child.name | trans }}</td>
		            </tr>
		            {% endif %}
		        {% endfor %}
			</tbody>
        </table>
    </section>
	<section>
		<ul>
		    {% for media in gallery.getVideosOnly %}
		        {% include 'KunstmaanMediaBundle:Media:sure-modal.html.twig' %}
		        <li>
		            <a onclick="handleOK({title:'{{ media.name }}', id:'{{media.id}}'});return false;"  class="item" href="{{ path('KunstmaanMediaBundle_media_show',  { 'media_id' : media.id }) }}">
		                {{ media.name }}
		            </a>
		         </li>
		    {% endfor %}
	    </ul>
	</section>
{% endblock %}