<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% set count = 0 %}
            {% if pagerfanta.nbResults > 0 %}
                {% for article in pagerfanta.currentPageResults %}
                    {% set articlenode = get_node_translation_for(article) %}
                    <article class="blog-item blog-item--summary">
                        <header class="blog-item__head">
                            <time class="blog-item__head__meta">
                                {{ article.date | date("d/m/Y")}}
                                {% if article.author is not empty %}
                                    | <strong>{{ article.author.name }}</strong>
                                {% endif %}
                            </time>
                            <h3 class="blog-item__head__title">
                                <a href="{{ articlenode.url }}">
                                    {{ article.title }}
                                </a>
                            </h3>
                        </header>

                        {{ article.summary }}

                        <p class="text--right blog-item__read-more">
                            <a href="{{ articlenode.url }}" class="blog-item__read-more__link">
                                {{ 'article.readmore'|trans }}
                            </a>
                        </p>
                    </article>
                    {% set count = count + 1 %}
                {% endfor %}

                {% if pagerfanta.haveToPaginate() %}
                    {{ pagerfanta(pagerfanta, null, {
                        'pageParameter': '[page]',
                        'prev_message':'<span class="icon--arrow-left pagination__direction-icon"></span>',
                        'next_message':'<span class="icon--arrow-right pagination__direction-icon"></span>'
                    }) }}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
