{% if pagepartref is defined %}
	<script>
		$(document).ready(function() {
		    {# $('a#link_pagepartadmin_main_{{ pagepartref.id }}_media').on('click', function(ev) { #}
		   	$('select#form_pagepartadmin_main_{{ pagepartref.id }}_media').on('click', function(ev) {
			   	ev.preventDefault();
		        window.open("{{ path('KunstmaanMediaBundle_imagegallery_filechooser') }}", "_blank","toolbar=0,width=800,height=600");
		    });
		});

		window.FileChosenCallback['{{ pagepartref.id }}'] = function(url, id) {
		    $('select#form_pagepartadmin_main_{{ pagepartref.id }}_media').val(id);
		}
	</script>
	{# <a id="link_pagepartadmin_main_{{ pagepartref.id }}_media" href="">{{ 'Select file' | trans }}</a> #}
{% endif %}

{% if resource is defined and resource != "" %}
	<a href="{{ asset(upload_dir~resource.media.show()) }}" target="_blank" class="download">{{ resource.media.name }} ({{ resource.media.contentType }} - {{ resource.media.getFileSize() }})</a>
{% endif %}