<!-- MODALS -->

<!-- Modal - Unpublish -->
<div id="unpub" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Head -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h3>
                    {{ 'kuma_node.modal.unpublish.title'|trans() }}
                </h3>
            </div>

            <form action="{{ path('KunstmaanNodeBundle_nodes_unpublish', { 'id': node.id }) }}" method="post" novalidate="novalidate">

                <!-- Body -->
                <div class="modal-body">
                    <p>
                        {{ 'kuma_node.modal.unpublish.body'|trans() }}
                    </p>

                    <div class="form-group">
                        <label>
                            <input id="unpublish-later__check" type="checkbox">
                            {{ 'kuma_node.modal.unpublish.later.label'|trans() }}
                        </label>
                    </div>

                    <div id="unpublish-later">

                        <!-- Date -->
                        <div class="form-group">
                            <div class="js-datepicker input-group" data-min-date="today" data-default-date="true">
                                <input id="unpub_date" type="text" name="unpub_date" class="form-control">
                                <span class="input-group-addon input-group-addon--has-action">
                                    <i class="fa fa-calendar-o"></i>
                                </span>
                            </div>
                        </div>

                        <!-- Time -->
                        <div class="form-group">
                            <div class="js-datepicker input-group" data-format="HH:mm" data-min-date="today" data-default-date="true" data-stepping="{{ unpublish_later_stepping }}">
                                <input id="unpub_tmpckr" type="text" name="unpub_time" class="form-control">
                                <span class="input-group-addon input-group-addon--has-action">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <div id="unpublish-later-action" class="btn_group">
                        <button type="submit" id="unpub_publishlater_action" name="submit" class="btn btn-primary btn--raise-on-hover">
                            {{ 'kuma_node.modal.unpublish.later.button'|trans() }}
                        </button>
                        <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            {{ 'kuma_node.modal.unpublish.later.cancel'|trans() }}
                        </button>
                    </div>
                    <div id="unpublish-action" class="btn_group">
                        <a href="{{ path('KunstmaanNodeBundle_nodes_unpublish', { 'id': node.id}) }}" class="btn btn-danger btn--raise-on-hover">
                            {{ 'kuma_node.modal.unpublish.now.button'|trans() }}
                        </a>
                        <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            {{ 'kuma_node.modal.unpublish.now.cancel'|trans() }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal - Publish -->
<div id="pub" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h3>
                    {{ 'kuma_node.modal.publish.title'|trans() }}
                </h3>
            </div>

            <form action="{{ path('KunstmaanNodeBundle_nodes_publish', { 'id': node.id }) }}" method="post" novalidate="novalidate">

                <!-- Body -->
                <div class="modal-body">
                    <p>
                        {{ 'kuma_node.modal.publish.body'|trans() }}
                    </p>

                    <div class="form-group">
                        <label>
                            <input id="publish-later__check" type="checkbox">
                            {{ 'kuma_node.modal.publish.later.label'|trans() }}
                        </label>
                    </div>

                    <div id="publish-later">
                        <!-- Date -->
                        <div class="form-group">
                            <div class="js-datepicker input-group" data-default-date="true">
                                <input id="pub_date" type="text" name="pub_date" class="form-control">
                <span class="input-group-addon input-group-addon--has-action">
                    <i class="fa fa-calendar-o"></i>
                </span>
                            </div>
                        </div>

                        <!-- Time -->
                        <div class="form-group">
                            <div class="js-datepicker input-group" data-format="HH:mm" data-default-date="true" data-stepping="{{ publish_later_stepping }}">
                                <input id="pub_tmpckr" type="text" name="pub_time" class="form-control">
                <span class="input-group-addon input-group-addon--has-action">
                    <i class="fa fa-clock-o"></i>
                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <div id="publish-later-action">
                        <button type="submit" name="submit" class="btn btn-primary btn--raise-on-hover">
                            {{ 'kuma_node.modal.publish.later.button'|trans() }}
                        </button>
                        <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            {{ 'kuma_node.modal.publish.later.cancel'|trans() }}
                        </button>
                    </div>
                    <div id="publish-action">
                        <a href="{{ path('KunstmaanNodeBundle_nodes_publish', { 'id': node.id}) }}" class="btn btn-danger btn--raise-on-hover">
                            {{ 'kuma_node.modal.publish.now.button'|trans() }}
                        </a>
                        <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            {{ 'kuma_node.modal.publish.now.cancel'|trans() }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal - Versions -->
<div id="versions" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Head -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h3>{{ 'kuma_node.modal.versions.title'|trans() }}</h3>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'kuma_node.modal.versions.table.type'|trans() }}</th>
                        <th>{{ 'kuma_node.modal.versions.table.last_modified'|trans() }}</th>
                        <th>{{ 'kuma_node.modal.versions.table.user'|trans() }}</th>
                        <th>{{ 'kuma_node.modal.versions.table.actions'|trans() }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set publicVersion = nodeTranslation.getPublicNodeVersion() %}
                    {% for nodeVersion in nodeVersions %}
                        <tr>
                            <td>{{ nodeVersion.type }}</td>
                            <td>{{ nodeVersion.updated | date('Y-m-d H:i:s') }}</td>
                            <td>{{ nodeVersion.owner }}</td>
                            <td class="table__actions">
                                <a href="{{ path('_slug_preview', { 'url': nodeTranslation.url, 'version': nodeVersion.id }) }}" target="_blank" class="link--text table__actions__item table__actions__item--block">
                                    <i class="fa fa-eye"></i>
                                    {{ 'kuma_node.modal.versions.actions.preview'|trans() }}
                                </a>
                                {% if (draftNodeVersion is null or nodeVersion.id != draftNodeVersion.id) and (publicVersion is null or nodeVersion.id != publicVersion.id) %}
                                    <a href="{{ path('KunstmaanNodeBundle_nodes_revert', { 'id': node.id, 'version': nodeVersion.id }) }}" class="link--text table__actions__item table__actions__item--block">
                                        <i class="fa fa-refresh"></i>
                                        {{ 'kuma_node.modal.versions.actions.revert'|trans() }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal - Add subpage -->
{% set pagePossibleChildPages = get_possible_child_types(page) %}
{% if pagePossibleChildPages is not empty %}
    <div id="add-subpage-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Head -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <h3>{{ 'kuma_node.modal.add_subpage.title'|trans() }}</h3>
                </div>

                <form action="{{ path('KunstmaanNodeBundle_nodes_add', { 'id': node.id }) }}" method="post" novalidate="novalidate">

                    <!-- body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="addpage_title">
                                {{ 'kuma_node.modal.add_subpage.label.title'|trans() }}
                            </label>
                            <input name="title" type="text" id="addpage_title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="addpage_type">
                                {{ 'kuma_node.modal.add_subpage.label.type'|trans() }}
                            </label>
                            <select name="type" id="addpage_type" class="form-control">
                                {% for pageType in pagePossibleChildPages %}
                                    <option value="{{ pageType.class }}">{{ pageType.name|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-primary btn--raise-on-hover">
                            {{ 'kuma_node.modal.add_subpage.button.add'|trans() }}
                        </button>
                        <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            {{ 'kuma_node.modal.add_subpage.button.cancel'|trans() }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}


<!-- Modal - Delete page -->
<div id="delete-page-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Head -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h3>{{ 'kuma_node.modal.delete_page.title.%page%'|trans({'%page%': page.title}) }}</h3>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <p>{{ 'kuma_node.modal.delete_page.body.%page%'|trans({'%page%': page.title}) }}</p>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <form action="{{ path('KunstmaanNodeBundle_nodes_delete', { 'id': node.id }) }}" method="post" novalidate="novalidate">
                    <button type="submit" name="submit" class="btn btn-danger btn--raise-on-hover">
                        {{ 'kuma_node.modal.delete_page.button.delete'|trans() }}
                    </button>
                    <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                        {{ 'kuma_node.modal.delete_page.button.cancel'|trans() }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal - Duplicate page -->
<div id="duplicate-page-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Head -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h3>{{ 'kuma_node.modal.duplicate_page.title.%page%'|trans({'%page%': page.title}) }}</h3>
            </div>

            <form action="{{ path('KunstmaanNodeBundle_nodes_duplicate', { 'id': node.id }) }}" method="post" novalidate="novalidate">

                <!-- Body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="duplicatepage_title">
                            {{ 'kuma_node.modal.duplicate_page.label.new_title'|trans() }}
                        </label>
                        <input name="title" type="text" id="title" class="form-control">
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <button type="submit" name="submit" class="btn btn-danger btn--raise-on-hover">
                        {{ 'kuma_node.modal.duplicate_page.button.duplicate'|trans() }}
                    </button>
                    <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                        {{ 'kuma_node.modal.duplicate_page.button.cancel'|trans() }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Check if there are any node translations other then the current language -->
{% set translationOptions = {} %}
{% if node.nodeTranslations(true) is not empty %}
    {% for translation in node.nodeTranslations(true) %}
        {% if translation.lang != nodeVersion.nodeTranslation.lang %}
            {% set translationOptions = translationOptions|merge({(translation.lang): translation.id}) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if translationOptions is not empty %}
    <!-- Modal - Reopy content from other language -->
    <div id="recopy" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Head -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <h3>{{ 'action.recopyfromlanguage' | trans }}</h3>
                </div>

                <form action="{{ path('KunstmaanNodeBundle_nodes_recopyfromotherlanguage', { 'id': node.id }) }}" method="post" novalidate="novalidate">

                    <!-- Body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recopy_source">
                                {{ 'modal.sourcelanguage' | trans }}
                            </label>
                            <select name="source" id="recopy_source" class="form-control">
                                {% for value, option in translationOptions %}
                                    <option value="{{ option }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-danger btn--raise-on-hover">
                            {{ 'kuma_node.modal.recopyfromlanguage.button.copy'|trans() }}
                        </button>
                        <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            {{ 'kuma_node.modal.recopyfromlanguage.button.cancel'|trans() }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
