<!-- MODALS -->

<!-- Modal - Unpublish -->
<div id="unpub" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Head -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h3>
                    Unpublish
                </h3>
            </div>

            <form action="{{ path('KunstmaanNodeBundle_nodes_unpublish', { 'id': node.id }) }}" method="post" novalidate="novalidate">

                <!-- Body -->
                <div class="modal-body">
                    <p>
                        Are you sure you want to unpublish this page? If you do this, the page will be offline!
                    </p>

                    <div class="form-group">
                        <label>
                            <input id="unpublish-later__check" type="checkbox">
                            Unpublish later
                        </label>
                    </div>

                    <div id="unpublish-later">

                        <!-- Date -->
                        <div class="form-group">
                            <div class="js-datepicker input-group" data-min-date="tomorrow" data-default-date="true">
                                <input id="unpub_date" type="text" name="unpub_date" class="form-control">
                                <span class="input-group-addon input-group-addon--has-action">
                                    <i class="fa fa-calendar-o"></i>
                                </span>
                            </div>
                        </div>

                        <!-- Time -->
                        <div class="form-group">
                            <div class="js-datepicker input-group" data-format="HH:mm" data-min-date="today" data-default-date="true">
                                <input id="unpub_tmpckr" type="text" name="unpub_time" class="form-control">
                                <span class="input-group-addon input-group-addon--has-action">
                                    <i class="fa fa-clock-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <div id="unpublish-later-action" class="btn_group">
                        <button type="submit" id="unpub_publishlater_action" name="submit" class="btn btn-primary btn--raise-on-hover">
                            Unpublish later
                        </button>
                        <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                    <div id="unpublish-action" class="btn_group">
                        <a href="{{ path('KunstmaanNodeBundle_nodes_unpublish', { 'id': node.id}) }}" class="btn btn-danger btn--raise-on-hover">
                            Unpublish
                        </a>
                        <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Modal - Publish -->
<div id="pub" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Header -->
        <div class="modal-header">
        <button class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </button>
        <h3>
            Publish
        </h3>
        </div>

        <form action="{{ path('KunstmaanNodeBundle_nodes_publish', { 'id': node.id }) }}" method="post" novalidate="novalidate">

        <!-- Body -->
        <div class="modal-body">
            <p>
            Are you sure you want to publish this page? If you do this, the page will be online!
            </p>

            <div class="form-group">
            <label>
                <input id="publish-later__check" type="checkbox">
                Publish later
            </label>
                    </div>

            <div id="publish-later">
            <!-- Date -->
            <div class="form-group">
                <div class="js-datepicker input-group" data-min-date="tomorrow" data-default-date="true">
                <input id="pub_date" type="text" name="pub_date" class="form-control">
                <span class="input-group-addon input-group-addon--has-action">
                    <i class="fa fa-calendar-o"></i>
                </span>
                </div>
            </div>

            <!-- Time -->
            <div class="form-group">
                <div class="js-datepicker input-group" data-format="HH:mm" data-min-date="today" data-default-date="true">
                <input id="pub_tmpckr" type="text" name="pub_time" class="form-control">
                <span class="input-group-addon input-group-addon--has-action">
                    <i class="fa fa-clock-o"></i>
                </span>
                </div>
            </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="modal-footer">
            <div id="publish-later-action">
            <button type="submit" name="submit" class="btn btn-primary btn--raise-on-hover">
                Publish later
            </button>
            <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">Cancel</button>
            </div>
            <div id="publish-action">
            <a href="{{ path('KunstmaanNodeBundle_nodes_publish', { 'id': node.id}) }}" class="btn btn-danger btn--raise-on-hover">
                Publish
            </a>
            <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        </form>
        </div>
    </div>
</div>


<!-- Modal - Versions -->
<div id="versions" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Head -->
        <div class="modal-header">
        <button class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </button>
        <h3>Versions</h3>
            </div>

        <!-- Body -->
        <div class="modal-body">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Last modified</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% set publicVersion = nodeTranslation.getPublicNodeVersion() %}
            {% for nodeVersion in nodeVersions %}
            <tr>
                <td>{{ nodeVersion.type }}</td>
                <td>{{ nodeVersion.updated | date('Y-m-d H:i:s') }}</td>
                <td>{{ nodeVersion.owner }}</td>
                <td class="table__actions">
                <a href="{{ path('_slug_preview', { 'url': nodeTranslation.url, 'version': nodeVersion.id }) }}" target="_blank" class="link--text table__actions__item">
                    <i class="fa fa-eye"></i>
                    Preview
                </a>
                {% if (draftNodeVersion is null or nodeVersion.id != draftNodeVersion.id) and (publicVersion is null or nodeVersion.id != publicVersion.id) %}
                    <a href="{{ path('KunstmaanNodeBundle_nodes_revert', { 'id': node.id, 'version': nodeVersion.id }) }}" class="link--text table__actions__item">
                    <i class="fa fa-refresh"></i>
                    Revert
                    </a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
    </div>
</div>


<!-- Modal - Add subpage -->
{% set pagePossibleChildPages = page.possibleChildTypes %}
{% if pagePossibleChildPages is not empty %}
    <div id="add-subpage-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

        <!-- Head -->
        <div class="modal-header">
            <button class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
            </button>
            <h3>Add subpage</h3>
                </div>

        <form action="{{ path('KunstmaanNodeBundle_nodes_add', { 'id': node.id }) }}" method="post" novalidate="novalidate">

            <!-- body -->
            <div class="modal-body">
            <div class="form-group">
                <label for="addpage_title">
                Title
                </label>
                <input name="title" type="text" id="addpage_title" class="form-control">
            </div>
            <div class="form-group">
                <label for="addpage_type">
                Type
                </label>
                <select name="type" id="addpage_type" class="form-control">
                {% for pageType in pagePossibleChildPages %}
                    <option value="{{ pageType.class }}">{{ pageType.name }}</option>
                {% endfor %}
                </select>
            </div>
            </div>

            <!-- Footer -->
            <div class="modal-footer">
            <button type="submit" name="submit" class="btn btn-primary btn--raise-on-hover">Add</button>
            <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">Cancel</button>
            </div>
        </form>
            </div>
    </div>
    </div>
{% endif %}


<!-- Modal - Delete page -->
<div id="delete-page-modal" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">

        <!-- Head -->
        <div class="modal-header">
        <button class="close" data-dismiss="modal">
            <i class="fa fa-times"></i>
        </button>
        <h3>Delete page '{{ page.title }}'</h3>
        </div>

        <!-- Body -->
        <div class="modal-body">
        <p>This will remove the page completely! Are you really sure about this?</p>
        </div>

        <!-- Footer -->
        <div class="modal-footer">
        <form action="{{ path('KunstmaanNodeBundle_nodes_delete', { 'id': node.id }) }}" method="post" novalidate="novalidate">
            <button type="submit" name="submit" class="btn btn-danger btn--raise-on-hover">Delete</button>
            <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">Cancel</button>
        </form>
        </div>
        </div>
    </div>
</div>


<!-- Modal - Duplicate page -->
<div id="duplicate-page-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Head -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h3>Duplicate page '{{ page.title }}'</h3>
            </div>

            <form action="{{ path('KunstmaanNodeBundle_nodes_duplicate', { 'id': node.id }) }}" method="post" novalidate="novalidate">

                <!-- Body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="duplicatepage_title">
                            New title
                        </label>
                        <input name="title" type="text" id="title" class="form-control">
                    </div>
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-danger btn--raise-on-hover">Duplicate</button>
                        <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
