{% extends 'KunstmaanNodeBundle:Default:layout.html.twig' %}
{% set form = tabPane.getFormView() %}


{% block extrabodyclasses %}{{ parent() }} js-check-if-edited{% endblock %}


{% block messages %}
    {% if queuedNodeTranslationAction %}
        <div class="alert alert-warning">
            <strong>{{ "Warning" | trans }}: </strong>{{ "This page will be " ~ queuedNodeTranslationAction.action ~ "ed at %date%" | trans({"%date%":queuedNodeTranslationAction.date|date('Y-m-d H:i:s')}) }}
            <a href="{{ path('KunstmaanNodeBundle_nodes_unschedule_publish', { 'id': node.id}) }}" class="btn btn-warning btn--raise-on-hover alert__action">
                Cancel
            </a>
        </div>
    {% endif %}
    {% if form_has_errors_recursive(form) %}
        <div class="alert alert-danger">
            <strong>{{ "Error" | trans }}: </strong>{{ "The form has not been saved because there are validation errors" | trans }}
            {{ form_errors(form) }}
            <button class="close" data-dismiss="alert">
                <i class="fa fa-times"></i>
            </button>
        </div>
    {% endif %}
{% endblock %}


{% block header %}
    <!-- PageClassName: {{ node.refEntityName }} -->
    <h1 class="app__content__header__title">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <abbr title="{{ node.refEntityName }}">{{ page.title }}</abbr>
        {% else %}
            {{ page.title }}
        {% endif %}

        {% if draft %}
            <small class="app__content__header__title__small app__content__header__title__small--offline">
                Offline / Draft version (Go to <a href="{{ path('KunstmaanNodeBundle_nodes_edit', { 'id': node.id}) }}">public version</a>)
            </small>
        {% elseif not is_structure_node(page) %}
            <small class="app__content__header__title__small {% if nodeTranslation.online %}app__content__header__title__small--online{% else %}app__content__header__title__small--offline{% endif %}">
                {% if nodeTranslation.online %}
                    Online / Public version
                {% else %}
                    Offline
                {% endif %}
                {% if draftNodeVersion is not null %}
                    (Go to <a href="{{ path('KunstmaanNodeBundle_nodes_edit', { 'id': node.id, 'subaction': 'draft'}) }}">draft version</a>)
                {% endif %}
            </small>
        {% endif %}
    </h1>
{% endblock %}



{% block content %}
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    <form id="pageadminform" class="form" action="{{ path('KunstmaanNodeBundle_nodes_edit', { 'id': node.id, 'subaction': subaction}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">

        {{ knp_menu_render('sub_actions', { 'template': 'KunstmaanNodeBundle:Menu:knp_menu_actions.html.twig'}) }}
        {{ knp_menu_render('actions', { 'template': 'KunstmaanNodeBundle:Menu:knp_menu_actions.html.twig'}) }}
        {{ knp_menu_render('top_actions', { 'template': 'KunstmaanNodeBundle:Menu:knp_menu_top_actions.html.twig'}) }}

        {{ tabs_widget(tabPane) }}
    </form>

    {% include 'KunstmaanNodeBundle:NodeAdmin:_modals.html.twig' %}

{% endblock %}

{% block extracss %}
    {% set cssPath = 'frontend/css/admin-style.min.css' %}
    {% if file_exists(cssPath) %}
        <link rel="stylesheet" href="{{ asset('/' ~ cssPath) }}">
    {% endif %}
{% endblock %}
