{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>
        {{ 'pages.pagenottranslated' | trans }}
    </h1>

    {% if copyfromotherlanguages %}
        <ul>
            {% for nodeTranslation in nodeTranslations %}
                <li>
                    {{ 'pages.copyfrom' | trans }}
                    <a href="{{ path('KunstmaanNodeBundle_nodes_copyfromotherlanguage', { 'id': node.id, 'originallanguage': nodeTranslation.lang}) }}" class="js-prevent-double-click">
                        {{ nodeTranslation.lang }}
                    </a>
                    : {{ nodeTranslation.title }}
                </li>
            {% endfor %}
            <li>
                <a href="{{ path('KunstmaanNodeBundle_nodes_createemptypage', { 'id': node.id}) }}" class="js-prevent-double-click">
                    {{ 'pages.createemptypage' | trans }}
                </a>
            </li>
        </ul>
    {% else %}
        {{ 'pages.copynotavailable' | trans }}
    {% endif %}
{% endblock %}
