{% form_theme form 'KunstmaanMediaBundle:Form:fields.html.twig' %}

<form action="{{ path('KunstmaanMediaBundle_video_edit', { 'mediaId' : media.id } ) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        {{ form_errors(form) }}

        {{ form_widget(form.media) }}

        {% if form.metadata is defined %}
            {{ form_widget(form.metadata) }}
        {% endif %}

        {{ form_rest(form) }}

        <div class="actions">
            <input class="btn primary type" type="submit" value="{{ 'media.video.edit' | trans }}">
            <input onclick="window.location = '{{ path('KunstmaanMediaBundle_media_show', { 'mediaId' : media.id } ) }}'" type="reset" class="btn" value="{{  'form.cancel' | trans }}" />
        </div>
    </fieldset>
</form>