{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanMediaBundle:Folder:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    {% for parent in gallery.parents %}
        <li><a href="{{ path('KunstmaanMediaBundle_folder_show', { 'id': parent.id, 'slug': parent.slug }) }}">{{ parent.name| trans }}</a></li>
    {% endfor %}
    <li><a href="{{ path('KunstmaanMediaBundle_folder_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">{{ gallery.name|trans }}</a></li>
    <li class="active">{{ media.name }}</li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'media.video.video'|trans }} <small>{{ media.name }}
        </small></h1>
    </div>
    <div>

        {% include 'KunstmaanMediaBundle:Media:sure-modal.html.twig' %}
        
        <div class="actions">
                     <a href="{{ path('KunstmaanMediaBundle_video_edit', { 'media_id': media.id }) }}" class="btn">{{ 'form.edit' |trans }}</a>
                     <a href="{{ path('KunstmaanMediaBundle_media_delete', { 'media_id': media.id }) }}" data-controls-modal="sure-modal-{{ media.id }}" data-backdrop="true" data keyboard="true" class="btn danger">{{ 'form.delete' |trans }}</a>
                 </div>
 <ul>
     <li>Name: {{ media.name }} </li>
     <li>Content-type: {{ media.contentType }}</li>
     <li>Type: {{ media.type }}</li>
     <li>Added; {{ media.createdat|date|escape }}</li>
     <li>Updated: {{ media.updatedat|date|escape }}</li>
 </ul>
        {% include 'KunstmaanMediaBundle:Video:'~ media.type ~'.html.twig' %}
         <div class="actions">
             <a href="{{ path('KunstmaanMediaBundle_video_edit', { 'media_id': media.id }) }}" class="btn">{{ 'form.edit' |trans }}</a>
             <a href="{{ path('KunstmaanMediaBundle_media_delete', { 'media_id': media.id }) }}" data-controls-modal="sure-modal-{{ media.id }}" data-backdrop="true" data keyboard="true" class="btn danger">{{ 'form.delete' |trans }}</a>
         </div>
     </div>
{% endblock %}