<select name="{{nameprefix}}comparator{{namesuffix}}">
    <option value="before" {% if data.comparator is defined and data.comparator == "before" %} selected="selected" {% endif %}>before</option>
    <option value="after" {% if data.comparator is defined and data.comparator == "after" %} selected="selected" {% endif %}>after</option>
</select>
<input type="text" class="form_datepicker{{ nameprefix }}{{ namesuffix }}" name="{{nameprefix}}value{{namesuffix}}" {% if data.value is defined %}value="{{data.value}}"{% endif %} />
{% if nameprefix != "" and namesuffix != "" %}
	<script>
    	$(document).ready(function() {
        	$('.form_datepicker{{ nameprefix }}{{ namesuffix }}').datepicker('setStartDate', '{{ datePicker_startDate }}');
        });
	</script>
{% else %}
	<script>
    	$(document).ready(function() {
        	$('.form_datepicker').datepicker('update');
        });
	</script>
{% endif %}
