<div class="form-group">
    <select name="{{ nameprefix }}comparator{{ namesuffix }}" class="form-control">
        <option value="in" {% if data.comparator is defined and data.comparator == "in" %} selected="selected" {% endif %} >
            {{ 'filter.in' | trans }}
        </option>
        <option value="notin" {% if data.comparator is defined and data.comparator == "notin" %} selected="selected" {% endif %} >
            {{ 'filter.notin' | trans }}
        </option>
    </select>
</div>

<div class="form-group">
    <select name="{{ nameprefix }}value{{ namesuffix }}[]" multiple class="form-control js-advanced-select">
        {% for key,option in options %}
            <option value="{{ key }}"{% if data.value is defined and key in data.value %} selected{% endif %}>{{ option|trans }}</option>
        {% endfor %}
    </select>
</div>
