<div class="form-group">
    <select name="{{ nameprefix }}comparator{{ namesuffix }}" class="form-control">
        <option value="contains" {% if data.comparator is defined and data.comparator == "contains" %} selected="selected" {% endif %} >
            {{ 'filter.contains' | trans }}
        </option>
        <option value="doesnotcontain" {% if data.comparator is defined and data.comparator == "doesnotcontain" %} selected="selected" {% endif %} >
            {{ 'filter.doesnotcontain' | trans }}
        </option>
        <option value="equals" {% if data.comparator is defined and data.comparator == "equals" %} selected="selected" {% endif %} >
            {{ 'filter.equals' | trans }}
        </option>
        <option value="notequals" {% if data.comparator is defined and data.comparator == "notequals" %} selected="selected" {% endif %} >
            {{ 'filter.notequals' | trans }}
        </option>
        <option value="startswith" {% if data.comparator is defined and data.comparator == "startswith" %} selected="selected" {% endif %} >
            {{ 'filter.startswith' | trans }}
        </option>
        <option value="endswith" {% if data.comparator is defined and data.comparator == "endswith" %} selected="selected" {% endif %} >
            {{ 'filter.endswith' | trans }}
        </option>
        <option value="empty" {% if data.comparator is defined and data.comparator == "empty" %} selected="selected" {% endif %} >
            {{ 'filter.empty' | trans }}
        </option>
    </select>
</div>

<div class="form-group">
    <input
        type="{% if data.comparator is not defined or data.comparator != "empty" %}text{% else %}hidden{% endif %}"
        name="{{ nameprefix }}value{{ namesuffix }}"
        {% if data.value is defined %}value="{{ data.value }}"{% endif %}
        class="form-control"
    >
</div>
