{% set id = resource.page.id %}
<article class="page-template">
    <!-- Hidden fields -->
    <input type="hidden" class="deletefield" id="pagetemplate_template_holder" name="pagetemplate_template" value="{{ resource.pagetemplate.name }}"/>


    <!-- Regions -->
    {% import _self as macros %}
    {% for row in resource.pagetemplate.rows %}
        <div class="row">
            {% for region in row.regions %}
                {{ macros.render_region(formView, resource, region) }}
            {% endfor %}
        </div>
    {% endfor %}


    <!-- Change Template -->
    {% if resource.pagetemplates|length > 1 %}
        <!-- Change Template - Button -->
        <button type="button" class="btn btn-default btn--raise-on-hover btn--icon-left" data-keyboard="true" data-toggle="modal" data-target="#change-template-modal{{ id }}">
            <i class="fa fa-th btn__icon"></i>
            {{ 'kuma_pagepart.template.modal.change.button.open'|trans() }}
        </button>


        <!-- Change Template - Modal -->
        <div id="change-template-modal{{ id }}" class="modal fade page-template__change-modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4 class="modal-title">
                            {{ 'kuma_pagepart.template.modal.change.title'|trans() }}
                        </h4>
                    </div>

                    <div class="modal-body">
                        {% for pagetemplate in resource.pagetemplates %}
                            <!-- Choice -->
                            <div class="choice-block">
                                <input type="radio" id="pagetemplate_template_choice_{{ loop.index }}" class="choice-block__input" name="pagetemplate_template_choice" value="{{ pagetemplate.name }}"{% if resource.pagetemplate.name == pagetemplate.name %} checked="checked"{% endif %}>
                                <label for="pagetemplate_template_choice_{{ loop.index }}" class="choice-block__item">
                                    <h5 class="choice-block__item__head">
                                        {{ pagetemplate.name|trans }}
                                        {% if resource.pagetemplate.name == pagetemplate.name %}
                                            <small>({{ 'kuma_pagepart.template.modal.change.current'|trans() }})</small>
                                        {% endif %}
                                    </h5>
                                    {% for row in pagetemplate.rows %}
                                        <div class="row">
                                            {% for region in row.regions %}
                                                <div class="col-md-{{ region.span }}">
                                                    <div class="choice-block__item__col">
                                                        {{ region.name|trans|replace({'_':' '})|title }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="js-change-page-template btn btn-primary btn--raise-on-hover" data-modal="change-template-modal{{ id }}">
                            {{ 'kuma_pagepart.template.modal.change.button.change'|trans() }}
                        </button>
                        <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            {{ 'kuma_pagepart.template.modal.change.button.cancel'|trans() }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</article>

{% macro render_region(formView, resource, region) %}
    {% if region.children %}
        <div class="col-md-{{ region.span }}">
            <div class="row">
                {% for child in region.children %}
                    {{ _self.render_region(formView, resource, child) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="col-md-{{ region.span }}">
            <div class="page-template__region" id="{{ region.name|trans|title }}">
                <header>
                    <h5 class="page-template__region__header">
                    {{ region.name|trans|replace({'_':' '})|title }}
                    </h5>
                </header>
                <div class="region__actions">
                    <button class="js-resize-all-pp btn--raise-on-hover region__actions__min" data-target="{{ region.name|trans|title }}" title="{{ 'region.button.min'|trans }}">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button class="js-resize-all-pp btn--raise-on-hover region__actions__max" data-target="{{ region.name|trans|title }}" title="{{ 'region.button.max'|trans }}">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>

                {% set widget = resource.getFormWidget(region.name) %}
                {% if widget is not null %}
                    {% set pagepartadmin = widget.pagepartadmin %}
                    {% if widget.pagePartAdminConfigurator.widgetTemplate %}
                        {{ pagepartadmin_widget(pagepartadmin, formView, [], widget.pagePartAdminConfigurator.widgetTemplate) }}
                    {% else %}
                        {{ pagepartadmin_widget(pagepartadmin, formView) }}
                    {% endif %}
                {% elseif region.template is defined and region.template %}
                    {% include region.template with {'page': resource.page} %}
                {% else %}
                    {{ 'kuma_pagepart.template.modal.change.message.no_admin_found.%name%'|trans({'%name%': region.name}) }}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
