{% if resource.media is not empty %}
    <div class="image-pp">
        {% set imgUrl = '' %}
        {% if app.request %}
            {% set imgUrl = app.request.schemeandhttphost ~ app.request.basePath ~ asset(resource.media.url) %}
        {% endif %}
        {% if resource.link is defined and resource.link != "" %}
            <a href="{{ resource.link }}" {% if resource.openinnewwindow %}target="_blank"{% endif %}><img src="{{ imgUrl }}" alt="{{ resource.alttext }}" /></a>
        {% else %}
            <img src="{{ imgUrl }}" alt="{{ resource.alttext }}" />
        {% endif %}
    </div>
{% endif %}
