{% block media_widget %}
{% spaceless %}
	<div id="{{ id }}_widget">
		<input type="hidden" name="{{ full_name }}" value="{% if(value.id is defined) %}{{ value.id }}{% endif %}"/>
		<div class="hasnoimage">
			<div style="float:left;margin-right: 10px; border: 1px solid black; padding:5px">No Image</div><div><button class="btn choosebutton">Choose</button></div>
		</div>
		<div class="hasimage">
			<div style="float:left;margin-right: 10px; border: 1px solid black; padding:5px"><img {% if(value.ent is defined) %}src="{{ asset('/uploads/media/'~value.ent.url) }}" {% endif %} width="150" /></div><div><button class="btn deletebutton">Delete</button></div>
		</div>
	</div>
	<script type="text/javascript">
		{
			var widget = jQuery('#{{ id }}_widget');
			if ( widget.find('input').val() == '') {
				widget.find('.hasnoimage').show();
				widget.find('.hasimage').hide();
			} else {
				widget.find('.hasnoimage').hide();
				widget.find('.hasimage').show();
			}
			widget.find('.choosebutton').on('click', function(ev) {
				ev.preventDefault();
				openDGDialog('{{ path('KunstmaanMediaBundle_imagegallery_filechooser') }}', 800, 600, function(param){
					var widget = jQuery('#{{ id }}_widget');
					widget.find('input').val(dialogWin.returnedValue.id);
					widget.find('.hasimage').find('img').attr('src', dialogWin.returnedValue.path);
					widget.find('.hasnoimage').hide();
					widget.find('.hasimage').show();
				});
			});
			widget.find('.deletebutton').on('click', function(ev) {
				ev.preventDefault();
				var widget = jQuery('#{{ id }}_widget');
				widget.find('input').val('');
				widget.find('.hasnoimage').show();
				widget.find('.hasimage').hide();
			});
		}
	</script>
{% endspaceless %}
{% endblock %}