{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% form_theme form 'KunstmaanMediaBundle:Form:fields.html.twig' %}

{% block title %}
    {% set title = 'media.media.bulkupload.addto' %}
    {{ title | trans({'%folder%': folder.name|trans }) }}
{% endblock%}

{% block header %}
    <div class="page-header">
        {% set title = 'media.media.bulkupload.addto' %}
        <h1>{{ title | trans({'%folder%': folder.name|trans }) | capitalize | raw }}</h1>
    </div>
{% endblock %}

{% block content %}
    <form action="{{ path('KunstmaanMediaBundle_media_bulk_upload', { 'folderId' : folder.id } ) }}" method="post" {{ form_enctype(form) }}>
        <fieldset>

            {{ form_widget(form) }}

            <div class="actions">
                <input class="btn primary type" type="submit" value="{{ 'media.bulkupload.upload' | trans }}">
                <input onclick="window.location = '{{ path('KunstmaanMediaBundle_folder_show', { 'folderId' : folder.id, 'slug' : folder.slug } ) }}'" type="reset" class="btn" value="{{ 'form.cancel' | trans }}" />
            </div>
        </fieldset>
    </form>

{% endblock %}