{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanMediaBundle:Folder:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanMediaBundle_media_files') }}">{{ 'media.menu.files' | trans }}</a></li>
    <li><a href="{{ path('KunstmaanMediaBundle_folder_show', { 'id' : gallery.id, 'slug' : gallery.slug } ) }}">{{ gallery.name }}</a></li>
	<li class="active">{{ 'media.file.addto'| trans({'%gallery%': gallery.name }) | raw }}</li>
{% endblock %}

{% block title %}{{ 'media.file.new' | trans }}{% endblock%}

{% block content %}
    <h1>{{ 'media.file.addto'| trans({'%gallery%': gallery.name }) | raw }}</h1>
    {% include 'KunstmaanMediaBundle:File:form.html.twig' with { 'form': form } %}
{% endblock %}