<form action="{{ path('KunstmaanKMediaBundle_file_create', { 'gallery_id' : gallery.id } ) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        <div class="clearfix">
            {{ form_errors(form) }}
            <label for="xlInput3">File</label>
            <div class="input">
                {{ form_widget(form.media) }}
            </div>
            {{ form_rest(form) }}
        </div>
        <div class="actions">
            <input class="btn primary type" type="submit" value="add new file">
            <input onclick="window.location = '{{ path('KunstmaanKMediaBundle_filegallery_show', { 'id' : gallery.id, 'slug' : gallery.slug } ) }}'" type="reset" class="btn" value="cancel" />
        </div>
    </fieldset>
</form>