{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block header %}
    <div class="page-header">
        <h1>{{ 'media.file.file'|trans }} <small>{{ media.name }}</small></h1>
    </div>
{% endblock %}

{% block content %}

    {% include 'KunstmaanMediaBundle:Media:sure-modal.html.twig' %}

    <div class="main_actions">
        <a href="{{ asset(upload_dir~media.show()) }}" class="btn primary">{{ 'media.file.open'|trans }}</a>
        {% if hasmetadata %}
            <a href="{{ path('KunstmaanMediaBundle_metadata_edit', { 'media_id': media.id}) }}" class="btn primary type">{{ 'media.file.editmetadata' | trans }}</a>
        {% endif %}
        <a href="{{ path('KunstmaanMediaBundle_media_delete', { 'media_id': media.id }) }}" data-controls-modal="sure-modal-{{ media.id }}" data-backdrop="true" data keyboard="true" class="btn danger">{{ 'form.delete'|trans }}</a>
        <a href="{{ path('KunstmaanMediaBundle_folder_show', { 'id': gallery.id, 'slug': gallery.slug }) }}" class="btn">{{ 'form.cancel' | trans }}</a>
    </div>

    <div id="main_actions_top" class="main_actions top">
        <div class="pull-right">
            <a href="{{ asset(upload_dir~media.show()) }}" class="btn primary">{{ 'media.file.open'|trans }}</a>
            {% if hasmetadata %}
            <a href="{{ path('KunstmaanMediaBundle_metadata_edit', { 'media_id': media.id}) }}" class="btn primary type">{{ 'media.file.editmetadata' | trans }}</a>
            {% endif %}
            <a href="{{ path('KunstmaanMediaBundle_media_delete', { 'media_id': media.id }) }}" data-controls-modal="sure-modal-{{ media.id }}" data-backdrop="true" data keyboard="true" class="btn danger">{{ 'form.delete'|trans }}</a>
            <a href="{{ path('KunstmaanMediaBundle_folder_show', { 'id': gallery.id, 'slug': gallery.slug }) }}" class="btn">{{ 'form.cancel' | trans }}</a>
            <a class="btn up">&#9650;</a>
        </div>
    </div>

    <ul>
        <li>Name: {{ media.name }} </li>
        <li>Content-type: {{ media.contentType }}</li>
        <li>Added: {{ media.createdat|date|escape }}</li>
    </ul>

{% endblock %}