{% extends 'KunstmaanKMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanKMediaBundle:Gallery:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanKMediaBundle_media_files') }}">Files</a> <span class="divider">/</span></li>
        {% for parent in gallery.parents %}
            <li><a href="{{ path('KunstmaanKMediaBundle_filegallery_show', { 'id': parent.id, 'slug': parent.slug }) }}">{{ parent.name}}</a><span class="divider">/</span></li>
        {% endfor %}
    <li><a href="{{ path('KunstmaanKMediaBundle_filegallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">{{ gallery.name}}</a><span class="divider">/</span></li>
    <li class="active">{{ media.name }}</li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>File <small>{{ media.name }}
        </small></h1>
    </div>
    <div>

<ul>
    <li>
    {{ media.id }}
    {{ media.name }}
    {{ media.contentType }}
    <a href="{{ path('KunstmaanKMediaBundle_uploads') }}{{ media.show() }}">open file</a>
    <ul>
        {% for item in media.metadata %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
     </li>
</ul>
        </div>
{% endblock %}