{# adminlist_widget(filelist, "KunstmaanMediaBundle_media_images") #}


<table class="bordered-table zebra-striped">
            <thead>
              <tr>
                <th class="header">Actions</th>
                <th class="header ">Name</th>
                <th class="header ">Content type</th>
                <th class="header ">Created At</th>
              </tr>
            </thead>

            <tbody>
            {% for media in gallery.files %}
                {% include 'KunstmaanMediaBundle:Media:sure-modal.html.twig' %}

                <tr>
                    <td>
                        <a href="{{ path('KunstmaanMediaBundle_file_delete', { 'media_id': media.id }) }}" data-controls-modal="sure-modal-{{ media.id }}" data-backdrop="true" data keyboard="true"><img src="{{ asset('images/general/delete.png') }}" alt="delete" /></a>
                    </td>
                    <td><a href="{{ path('KunstmaanMediaBundle_' ~ gallery.type ~ '_show',  { 'media_id' : media.id }) }}">{{ media.name }}</a></td>
                    <td>{{ media.contenttype }}</td>
                    <td>{{ media.createdat|date|escape }}</td>
                </tr>
            {% else %}
                <tr>
                    <td></td>
                    <td>No files yet.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
</table>