{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}
    {{ form_start(form) }}

    {% if google_signin_enabled() %}
        <input id="google_id_token" data-url="{{ path('KunstmaanAdminBundle_oauth_signin') }}"  data-clientid="{{ google_signin_client_id() }}" type="hidden" name="_google_id_token">
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">
            {{ 'kuma_admin.login.invalid_credentials'|trans({}, 'messages') }}
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                <i class="fa fa-times"></i>
            </button>
        </div>
    {% endif %}

    {{ form_rest(form) }}
    {{ form_end(form) }}

    {% if google_signin_enabled() %}
        <a href="#" id="app_oauth_signin">
            <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"
                 alt="Google Sign in">
        </a>
    {% endif %}

{% endblock body %}
