{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post">
	{% if error %}
    <div class="alert fade in alert-danger">
        Wrong password or email
        <button type="button" class="close" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
    </div>
	{% endif %}


	<div class="control-group">
		<label for="username">{{ 'Username:' | trans }}</label>
		<i class="fa fa-user"></i>
		<input class="form-control user-data" id="username" type="text" name="_username" value="{{ last_username }}" placeholder="{{ 'Username' | trans }}" autofocus />
	</div>
	<div class="control-group">
		<label for="password">{{ 'Password:' | trans }}</label>
		<i class="fa fa-key"></i>
		<input class="form-control user-data" id="password" type="password" name="_password" value="" placeholder="{{ 'Password' | trans }}" />
	</div>
	<div class="control-group remember">
		<label class="checkbox">
			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
			{{ 'Remember Me' | trans }}
		</label>
	</div>

	<div class="login_control">
		<button class="login_btn" type="submit" id="_submit" name="_submit">
			<i class="fa fa-lock"></i>
		</button>
	</div>

</form>


{% endblock fos_user_content %}
