{% extends '@KunstmaanAdmin/layout.html.twig' %}

{% block login_content %}
    {{ form_start(form) }}

    {% if google_signin_enabled() %}
        <input id="google_id_token" data-url="{{ path('KunstmaanAdminBundle_oauth_signin') }}"  data-clientid="{{ google_signin_client_id() }}" type="hidden" name="_google_id_token">
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">
            {{ 'kuma_admin.login.invalid_credentials'|trans({}, 'messages') }}
            <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                <i class="fa fa-times"></i>
            </button>
        </div>
    {% endif %}

    <div class="form-group form-group--icon-in-control">
        <label for="_username" class="label--lighter">
            {{ 'security.login.username'|trans }}
        </label>
        {{ form_widget(form._username) }}
        <i class="fa fa-user form-group--icon-in-control__icon"></i>
    </div>

    <div class="form-group form-group--icon-in-control">
        <label for="_password" class="label--lighter">
            {{ 'security.login.password'|trans }}
        </label>
        {{ form_widget(form._password) }}
        <i class="fa fa-key form-group--icon-in-control__icon"></i>
    </div>

    <button type="submit" id="_submit" name="_submit" class="btn btn-brand btn-block btn--raise-on-hover">
        {{ 'security.login.submit'|trans }}
    </button>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    {% if google_signin_enabled() %}
        <a href="#" id="app_oauth_signin">
            <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png"
                 alt="Google Sign in">
        </a>
    {% endif %}

{% endblock login_content %}
