{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
   	<fieldset>
    	<legend>{{ 'Login' | trans }}</legend>
    	
    	{% if error %}
    	<div class="control-group">
    	    <div class="alert fade in alert-error">
    	        <button class="close" data-dismiss="alert">&times;</button>
    	        {{ 'form.error' |trans }}:
    	        {{ error }}
    	    </div>
    	</div>
    	{% endif %}
    	
	    <div class="control-group">
	        <label for="username" class="control-label">{{ 'Username:' | trans }}</label>
	        <div class="controls">
	             <input class="input-xlarge" type="text" id="username" name="_username" value="{{ last_username }}" />
	        </div>
	    </div>

	    <div class="control-group">
	        <label for="password" class="control-label">{{ 'Password:' | trans }}</label>
            <div class="controls">
                <input class="input-xlarge" type="password" id="password" name="_password" /><br />
                <p class="help-block">
                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgot my password.' | trans }}</a>
                </p>
           	</div>
	    </div>
    	<div class="control-group">
        	<div class="controls">
	        	<label class="checkbox">
	    			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    			{{ 'Remember Me' | trans }}
	    		</label>
	    	</div>
    	</div>
   	</fieldset>
   	<div class="form-actions">
   		<div class="btn-group">
			<input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Login" />
			<input class="btn" type="reset" value="Cancel" />
		</div>
   </div>
</form>
{% endblock fos_user_content %}
