{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if error %}
            <div class="alert alert-danger">
                Wrong password or email
                <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        {% endif %}

        <div class="form-group form-group--icon-in-control">
            <label for="username" class="label--lighter">
                {{ 'Username:' | trans }}
            </label>
            <input class="form-control form-group--icon-in-control__form-control" id="username" type="text" name="_username" value="{{ last_username }}" placeholder="{{ 'Username' | trans }}" autofocus>
            <i class="fa fa-user form-group--icon-in-control__icon"></i>
        </div>

        <div class="form-group form-group--icon-in-control">
            <label for="password" class="label--lighter">
                {{ 'Password:' | trans }}
            </label>
            <input class="form-control form-group--icon-in-control__form-control" id="password" type="password" name="_password" value="" placeholder="{{ 'Password' | trans }}">
            <i class="fa fa-key form-group--icon-in-control__icon"></i>
        </div>

        <div class="form-group login__form__remember-me">
            <label class="checkbox login__form__remember-me__check">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                {{ 'Remember Me' | trans }}
            </label>
        </div>

        <button type="submit" id="_submit" name="_submit" class="btn btn-brand btn-block btn--raise-on-hover">
            Log In
        </button>
    </form>
{% endblock fos_user_content %}
