{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" novalidate>

    <div class="form-group form-group--icon-in-control {% if form.current_password.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form.current_password) }}
        {{ form_widget(form.current_password) }}
        <i class="fa fa-key form-group--icon-in-control__icon"></i>
        {% if form.current_password.vars.errors|length > 0 %}
            <div class="form__errors text-danger">
                {{ form_errors(form.current_password) }}
            </div>
        {% endif %}
    </div>

     <div class="form-group form-group--icon-in-control {% if form.plainPassword.first.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
        <i class="fa fa-key form-group--icon-in-control__icon"></i>
        {% if form.plainPassword.first.vars.errors|length > 0 %}
            <div class="form__errors text-danger">
                {{ form_errors(form.plainPassword.first) }}
            </div>
        {% endif %}
    </div>

     <div class="form-group form-group--icon-in-control {% if form.plainPassword.second.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
        <i class="fa fa-key form-group--icon-in-control__icon"></i>
        {% if form.plainPassword.second.vars.errors|length > 0 %}
            <div class="form__errors text-danger">
                {{ form_errors(form.plainPassword.second) }}
            </div>
        {% endif %}
    </div>

    {{ form_rest(form) }}
    <button type="submit" id="_submit" name="_submit" class="btn btn-brand btn-block btn--raise-on-hover">
        {{ 'change_password.submit'|trans }}
    </button>
</form>
