<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{ websitetitle | trans }}{% block title %} - {{ get_title_for(page) }}{% endblock %}</title>
        {% if page is defined %}
            {{ render_seo_metadata_for(page) }}
        {% endif %}
        <link rel="shortcut icon" href="{{ asset('/img/favicon.ico') }}" type="image/x-icon">
        ~~~CSS~~~
        ~~~TOP_JS~~~
    </head>
    <body>

    <!-- Header and Nav -->

    <div class="row">
        <div class="twelve columns">
            <nav class="top-bar">
                <ul>
                    <li class="name">
                        <h1>
                            {% set homepagePageNode = nodemenu.getNodeByInternalName('homepage') %}
                            <a href="{{ path('_slug', { 'url': homepagePageNode.slug }) }}">Generated Website</a>
                        </h1>
                    </li>
                    <li class="toggle-topbar"><a href="#"></a></li>
                </ul>
                <section>
                    {% if nodemenu is defined %}
                        <ul class="right">
                            <li class="divider show-for-medium-and-up"></li>
                            {% set activeSubnode = nodemenu.getActiveForDepth(1) %}
                            {% for node in activeSubnode.children %}
                                <li {% if node.children|length>0 %}class="has-dropdown"{% endif %}>
                                    <a href="{{ path('_slug', { 'url': node.slug }) }}">{{ node.title }}</a>
                                    {% if node.children|length>0 %}
                                        <ul class="dropdown">
                                            {% for node in node.children %}
                                                <li><a href="{{ path('_slug', { 'url': node.slug }) }}">{{ node.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </section>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="row">
        <div class="twelve columns">
            <hr />
            <div class="row">
                <div class="twelve columns">
                    <p>&copy; {{ "now"|date("Y") }}</p>
                </div>
            </div>
        </div>
    </footer>

    ~~~FOOTER_JS~~~

    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
    mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){
            var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)
        }(document,'script'));
    </script>

    </body>
</html>
