{% if resource.video is defined and resource.video %}
    <div class="video-pp">
        <div class="container">
            {% set videoImage = asset('frontend/img/general/video-pp--default.svg') %}
            {% if resource.thumbnail is not empty %}
                {% import "@ZBACorporate/Macro/_image-url.html.twig" as macros %}
                {% set videoImage = macros.getImageUrl(resource.thumbnail, 'optim') %}
            {% endif %}
            {% set handler = mediamanager.getHandler(resource.video) %}
            {% set helper = handler.getFormHelper(resource.video) %}

            {% if helper.type is defined %}
                {# Remote video #}
                {% if helper.type == 'youtube' %}
                    <div class="js-video" data-type="youtube" data-video-id="{{ helper.code }}"></div>
                {% elseif helper.type == 'vimeo' %}
                    <div class="js-video" data-type="vimeo" data-video-id="{{ helper.code }}"></div>
                {% elseif helper.type == 'dailymotion' %}
                    {# Plyr does not support Dailymotion, so we use the old method #}
                    {% set videoEmbedUrl = "//www.dailymotion.com/embed/video/" ~ helper.code %}

                    <div class="videolink">
                        <a href="{{ videoEmbedUrl }}" target="_blank" class="js-videolink-play-link videolink__video-link" data-video-provider="{{ helper.type }}" data-video-id="{{ helper.code }}" data-make-fluid="true">
                            <svg class="videolink__icon icon icon-play"><use xlink:href="#icon-play"></use></svg>
                            <img class="video-pp__link__img" src="{{ videoImage }}" alt="">
                        </a>
                        <div class="js-videolink-container videolink__video-container"></div>
                    </div>
                {% endif %}
            {% else %}
                {# Self hosted video #}
                <video class="js-video"
                        {% if resource.thumbnail is not empty %}
                            poster="{{ videoImage }}"
                        {% endif %}
                       controls
                       preload="metadata"
                >
                    <source src="{{ asset(helper.media.url) }}" type="{{ helper.media.contentType }}">
                </video>
            {% endif %}

            {% if resource.caption %}
                <div class="video-pp__caption">
                    <p class="video-pp__caption__text">{{ resource.caption }}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
