<header class="kuma-main-app__sidebar__header">
    <div class="kuma-main-app__sidebar__title-holder">
        {% if is_multidomain_site() %}
            {% include "@KunstmaanMultiDomain/AdminPanel/_site_switch_action_next.html.twig" %}
        {% else %}
            {% if admin_logo is defined %}
                <img class="kuma-main-app__sidebar__logo" src="{{ asset(admin_logo) }}" alt="{{ websitetitle | trans }}">
            {% else %}
                <p class="kuma-main-app__sidebar__title">
                    {{ websitetitle | trans }}
                </p>
            {% endif %}
        {% endif %}
    </div>

    {% if locales is defined and locales|length > 1 %}
        {% include "@KunstmaanAdmin/AdminPanel/_language_chooser_next.html.twig" %}
    {% else %}
        <img class="kuma-main-app__sidebar__cms-logo" src="{{ asset('/bundles/kunstmaanadmin/img/general/cms-logo.svg') }}" alt="Kunstmaan CMS">
    {% endif %}
</header>
<div class="kuma-main-app__sidebar__content">
    <nav class="kuma-main-nav">
        {# @todo: active state #}
        <a href="{{ path('KunstmaanAdminBundle_homepage') }}" class="kuma-main-nav__item js-side-nav-item">
            <svg class="kuma-main-nav__item__icon">
                <use xlink:href="{{ asset('/bundles/kunstmaanadmin/icons/symbol-defs.svg') }}#icon-dashboard"></use>
            </svg>
            <span class="kuma-main-nav__item__text">
                {{ 'kuma_admin.main_nav.dashboard'|trans }}
            </span>
        </a>
        {% for menuitem in adminmenu.topchildren %}
            <a class="js-side-nav-item kuma-main-nav__item {% if menuitem.active %}kuma-main-nav__item--active{% endif %}" href="{{ path(menuitem.route, menuitem.routeparams) }}">
                <svg class="kuma-main-nav__item__icon">
                    <use xlink:href="{{ asset('/bundles/kunstmaanadmin/icons/symbol-defs.svg') }}#icon-{{ menuitem.label | trans | lower }}"></use>
                </svg>
                <span class="kuma-main-nav__item__text">
                    {{ menuitem.label | trans }}
                </span>
            </a>
        {% endfor %}
    </nav>
    <div class="kuma-user-nav">
        <div class="kuma-user-nav__settings">
            <a href="{{ path('fos_user_security_logout') }}" class="js-side-nav-item kuma-user-nav__logout">
                <svg class="kuma-user-nav__logout__icon">
                    <use xlink:href="{{ asset('/bundles/kunstmaanadmin/icons/symbol-defs.svg') }}#icon-logout"></use>
                </svg>

                <span class="kuma-user-nav__logout__text">
                    {{ 'kuma_admin.main_nav.log_out'|trans }}
                </span>
            </a>
            <div class="toggle-switch kuma-user-nav__keep-open-toggle">
                <input type="checkbox" id="kuma-nav-keep-open-switch" class="js-side-nav-item js-side-nav-keep-open toggle-switch__control">
                <label for="kuma-nav-keep-open-switch" class="toggle-switch__label kuma-user-nav__keep-open-toggle__label">
                    {{ 'kuma_admin.main_nav.keep_open'|trans }}
                    <div class="toggle-switch__switch"></div>
                </label>
            </div>
        </div>

        <div class="kuma-user-nav__info">
            <figure class="kuma-user-nav__info__figure">
                <svg class="kuma-user-nav__info__figure__icon">
                    <use xlink:href="{{ asset('/bundles/kunstmaanadmin/icons/symbol-defs.svg') }}#icon-user"></use>
                </svg>
            </figure>
            <p class="kuma-user-nav__info__name">
                {{ app.user }}
            </p>
        </div>
    </div>
</div>
