{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('KunstmaanAdminBundle_homepage_admin') }}" class="btn btn-default">
            {{ 'Edit dashboard' | trans }}
        </a>
    {% endif %}

    {% if dashboardConfiguration %}
        <header class="page-header">
            <h1>
                {{ dashboardConfiguration.title }}
            </h1>
        </header>
        {{ dashboardConfiguration.content | raw }}
    {% else %}
        <header class="page-header">
            <h1>
                {{ 'omnext.welcome' | trans | raw }}
            </h1>
        </header>
    {% endif %}
{% endblock %}
