{% set adminmenu = admin_menu_get() %}
{% set extraclasshtml %}{% block extraclasshtml %}{% endblock %}{% endset %}

<!DOCTYPE html>
<html class="no-js {{ extraclasshtml }}" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <title>{% block title %}{{ websitetitle | trans }}{% endblock %}</title>

    <!-- Favicons -->
    {% include "KunstmaanAdminBundle:Default:_favicons.html.twig" %}

    <!-- Styles -->
    {% include "KunstmaanAdminBundle:Default:_css.html.twig" %}

    <!-- JS -->
    {% include "KunstmaanAdminBundle:Default:_js_header.html.twig" %}
</head>

<body {% block extraparamsinbody %}{% endblock %} class="app">
{% block body %}

    <!-- Header -->
    {% include "KunstmaanAdminBundle:Default:app_header.html.twig" %}


    {% set lowestTopChild = adminmenu.lowestTopChild %}
    {% if lowestTopChild %}
        {% set navigationChildren = lowestTopChild.navigationChildren %}
    {% endif %}

    <!-- Main Content -->
    <main role="main" id="app__main" class="container-fluid app__main{% if lowestTopChild and navigationChildren | length > 0 %} app__main--has-sidebar{% else %} app__main--no-sidebar{% endif %}">

        <div class="row">
            {% if lowestTopChild and navigationChildren | length > 0 %}

                <!-- App Sidebar -->
                <aside id="app__sidebar" class="col-md-3 col--padded-large app__sidebar">
                    {% include "KunstmaanAdminBundle:Default:sidebar.html.twig" %}
                </aside>


                <!-- App Content - with sidebar -->
                <div id="app__content" class="col-md-9 col-md-offset-3 col--padded app__content">

                    <!-- App Sidebar Toggle -->
                    <button type="button" id="app__sidebar-toggle" class="btn--reset app__sidebar-toggle">
                        <span class="app__sidebar-toggle__show-icon">
                            <i class="fa fa-caret-right"></i>
                            <i class="fa fa-list-ul"></i>
                        </span>
                        <span class="app__sidebar-toggle__hide-icon">
                            <i class="fa fa-caret-left"></i>
                            <i class="fa fa-list-ul"></i>
                        </span>
                    </button>
            {% else %}


                <!-- App Content - full width -->
                <div id="app__content" class="col-md-12 col--padded app__content">
            {% endif %}


                    <!-- App Content - Breadcrumbs -->
                    {% block breadcrumb %}
                        {% include "KunstmaanAdminBundle:Default:breadcrumbs.html.twig" %}
                    {% endblock %}


                    <!-- App Content - Flash Messages -->
                    {% block flashmessages %}
                        {% include "KunstmaanAdminBundle:Default:flashmessages.html.twig" %}
                    {% endblock %}


                    <!-- App Content - General Messages -->
                    {% block messages %}{% endblock %}


                    <!-- App Content - Header -->
                    <!--Content-header-->
                    {% block header %}
                        <header class="app__content__header">
                            <div class="row">
                                {% if adminmenu.current %}
                                    <div class="col-sm-6 col-md-8">
                                        <h1 class="app__content__header__title">
                                            {{ adminmenu.current.label | trans }} {% block page_header_addition %}{% endblock %}
                                        </h1>
                                    </div>
                                {% endif %}
                                {% block extra_actions_header %}{% endblock %}
                            </div>
                        </header>
                    {% endblock %}


                    <!-- App Content - Content -->
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>






        <!-- OLD -->

        {#
        <!-- Sidebar -->
        {% block sidebar %}
            {% include "KunstmaanAdminBundle:Default:sidebar.html.twig" %}
        {% endblock %}


        <!-- Content Wrap -->
        <div id="main_content" class="app__content">

            <!-- Breadcrumb -->
            {% block breadcrumb %}
                {% set breadcrumbitems = adminmenu.breadcrumb %}
                {% if breadcrumbitems | length > 0 %}
                    <ul class="breadcrumb">
                        {% for breadcrumbitem in breadcrumbitems %}
                        {% if loop.last %}
                            <li class="active">
                                {{ breadcrumbitem.label | trans }}
                            </li>
                        {% else %}
                            <li>
                               {% if  breadcrumbitem.route %}
                                    <a href="{{ path(breadcrumbitem.route, breadcrumbitem.routeparams) }}">
                                        {{ breadcrumbitem.label | trans }}
                                    </a>
                               {% else %}
                                    <span>
                                        {{ breadcrumbitem.label | trans }}
                                    </span>
                               {% endif %}
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}


            <!-- Messages -->
            {% for flashMessageType, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ flashMessageType }}">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>{{ flashMessageType | capitalize }}:</strong> {{ flashMessage }}
                    </div>
                 {% endfor %}
            {% endfor %}
            {% block messages %}{% endblock %}


            <!-- Content-header -->
            {% block header %}
                <div class="page-header">
                    {% if adminmenu.current %}
                        <h1>
                            {{ adminmenu.current.label | trans }}
                            {% block page_header_addition %}{% endblock %}
                        </h1>
                    {% endif %}
                    {% block extra_actions_header %}{% endblock %}
                </div>
            {% endblock %}


            <!-- Content -->
            {% block content %}{% endblock %}
        </div>
        #}
    </main>


    <!-- Footer -->
    {% block footer %}
        <footer role="contentinfo" class="app__footer container-fluid">
            <a target="_blank" href="http://www.kunstmaan.be" class="app__footer__kunstmaan-link pull-right">
                <img src="/bundles/kunstmaanadmin/default-theme/img/kunstmaan/kunstmaan_dark.svg" alt="Kunstmaan" />
            </a>
        </footer>
    {% endblock %}


{% endblock %}


    <!-- JS -->
    {% include "KunstmaanAdminBundle:Default:_js_footer.html.twig" %}


    <!-- JS - Extra -->
    {% block extrajavascript %}{% endblock %}
</body>
</html>
