{% set adminmenu = admin_menu_get() %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>{% block title %}{{ websitetitle | trans }}{% endblock %}</title>
	
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	
	
	
	<!--=========== CSS ===========-->
	<!--Combine-->
	{% stylesheets
	    'bundles/kunstmaanadmin/css/style.css'
	    output='generated-css/style.css'
	    filter='cssrewrite'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	<!--Customizable color brand-->
	<style type="text/css">
	    {% if titlecolor is not defined or titlecolor is empty %}
	    	{% set titlecolor = "#FFFFFF" %}
	    {% endif %}
	    	{% if titlebgcolor is not defined or titlebgcolor is empty %}
	    {% set titlebgcolor = "#F53111" %}
	    {% endif %}
	    header .topbar .container-fluid .brand:visited, header .topbar .container-fluid .brand:hover, header .topbar .container-fluid .brand:active, header .topbar .container-fluid .brand:focus {
	    	color: {{ titlecolor }}; 
	    	background-color: {{ titlebgcolor }};
	    }
		header .topbar .container-fluid .brand::after {
			border-left-color: {{ titlebgcolor }};
		}
	</style>
	{% endstylesheets %}
	<!--Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
	<!--Extra CSS-->
	{% block extracss %}{% endblock %}
	
	
	
	<!--=========== JS ===========-->
	<!--Combined-->
	{% javascripts
	    '@KunstmaanAdminBundle/Resources/public/js/libs/modernizr.custom.2.5.3.js'
	    '@KunstmaanAdminBundle/Resources/public/js/libs/jquery-1.7.2.min.js'
	    output='generated-js/scripts.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
</head>



<body {% block extraparamsinbody %}{% endblock %}>

	{% block body %}
  	<!--=========Top menu=========-->
  	<header>
  		<div class="navbar navbar-fixed-top" data-dropdown="dropdown">
  			<div class="navbar-inner">
  				<div class="container-fluid">
					<a class="brand" href="{{ path('KunstmaanAdminBundle_homepage') }}">{{ websitetitle | trans }}</a>
					<nav>
						<ul class="nav">
							{% for menuitem in adminmenu.topchildren %}
							{% set topchildren = menuitem.topchildren %}
							{% if topchildren | length > 0 %}
							<li class="dropdown {% if menuitem.active %} active {% endif %} {% if loop.first %} first {% endif %} {% if loop.last %} last {% endif %}">
								<a class="dropdown-toggle" data-toggle="dropdown" href="{{ path(menuitem.route, menuitem.routeparams) }}">
									{{ menuitem.internalname | trans }}
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									{% for topchild in topchildren %}
									<li class="{% if topchild.active %} active {% endif %} {% if loop.first %} first {% endif %} {% if loop.last %} last {% endif %}">
										<a href="{{ path(topchild.route, topchild.routeparams) }}">{{ topchild.internalname | trans }}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							{% else %}
							<li class="{% if menuitem.active %} active {% endif %} {% if loop.first %} first {% endif %} {% if loop.last %} last {% endif %}">
								<a href="{{ path(menuitem.route, menuitem.routeparams) }}">{{ menuitem.internalname | trans }}</a>
							</li>
							{% endif %}
							{% endfor %}
						</ul>
						<ul class="nav pull-right">
							{% set route = app.request.attributes.get('_route') %}
							{% set attribs = app.request.attributes.all %}
							{{ localeswitcher_widget(requiredlocales, route) }}
							<li {% if route == 'KunstmaanAdminBundle_settings_users_edit' %}class="active"{% endif %}>
								<a href="{{ path('KunstmaanAdminBundle_settings_users_edit', { 'user_id' : app.user.id }) }}">{{ 'layout.logged_in_as'|trans({'%username%':app.user.username}, 'FOSUserBundle') }}</a>
							</li>
							<li>
								<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	
	
	<!--=========Main Content=========-->
	<div class="container-fluid">
		<!--Sidebar-->
		{% block sidebar %}
		{% include "KunstmaanAdminBundle:Default:sidebar.html.twig" %}
		{% endblock %}
		
		<!--Content_wrp-->
		<div class="content">
			<!--Breadcrumb-->
			{% block breadcrumb %}
			{% set breadcrumbitems = adminmenu.breadcrumb %}
			{% if breadcrumbitems | length > 0 %}
			<ul class="breadcrumb">
				<li><a href="{{ path('KunstmaanAdminBundle_homepage') }}">{{ 'omnext.home' | trans }}</a></li>
				{% for breadcrumbitem in breadcrumbitems %}
				{% if loop.last %}
				<li class="active">{{ breadcrumbitem.internalname | trans }}</li>
				{% else %}
				<li><a href="{{ path(breadcrumbitem.route, breadcrumbitem.routeparams) }}">{{ breadcrumbitem.internalname | trans }}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
			{% endif %}
			{% endblock %}
			
			<!--Content-header-->
			{% block header %}
			{% if adminmenu.current %}
			<div class="page-header">
				<h1>{{ adminmenu.current.internalname | trans }} {% block page_header_addition %}{% endblock %}</h1>
			</div>
			{% endif %}
			{% endblock %}
			
			<!--Content-->
			{% block content %}{% endblock %}
		</div>
	</div>
					
					
	<!--=========Footer=========-->				
	<footer>
		<div class="container-fluid">
			<p class="pull-right">
				<a target="_blank" href="http://www.kunstmaan.be" class="kunstmaan-logo">
					<object data="{{ asset('bundles/kunstmaanadmin/img/general/kunstmaan_dark.svg') }}" type="image/svg+xml">
						<img src="{{ asset('bundles/kunstmaanadmin/img/general/kunstmaan_dark.png') }}" alt="Kunstmaan" />
					</object>
				</a>
			</p>
		</div>
	</footer>
	{% endblock %}
	
	
	
	
	
	
	
	
	
	<!--=========== JS ===========-->
	
	<!--Uncombined-->
	<script src="{{ asset('bundles/kunstmaanadmin/js/libs/jquery.jstree.js') }}"></script>
	<script src="{{ asset('bundles/kunstmaanadmin/js/ckeditor/ckeditor.js') }}"></script>
	<script src="{{ asset('bundles/kunstmaanadmin/js/ckeditor/adapters/jquery.js') }}"></script>
	
    <!--Combined-->
    {% javascripts
        '@KunstmaanAdminBundle/Resources/public/js/libs/jquery-ui-1.8.20.custom.min.js'
        '@KunstmaanAdminBundle/Resources/public/js/libs/bootstrap.min.js'
        '@KunstmaanAdminBundle/Resources/public/js/libs/chosen.jquery.min.js'
        '@KunstmaanAdminBundle/Resources/public/js/libs/jquery.filedrop.js'
        '@KunstmaanAdminBundle/Resources/public/js/libs/jquery.fileupload.js'
        '@KunstmaanAdminBundle/Resources/public/js/libs/jquery.iframe-transport.js'
        '@KunstmaanAdminBundle/Resources/public/js/libs/jquery.ui.widget.js'
        '@KunstmaanAdminBundle/Resources/public/js/libs/jquery.datePicker.min.js'
        '@KunstmaanAdminBundle/Resources/public/js/libs/modaldialog.min.js'
        '@KunstmaanAdminBundle/Resources/public/js/plugins.js'
        '@KunstmaanAdminBundle/Resources/public/js/script.js'
        output='generated-js/scripts_bottom.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!--Inline-->
    <script type=text/javascript>
        $(document).ready(function () {
            init_tree("{{ path('KunstmaanAdminNodeBundle_pages_movenodes') }}", "{% if mediabundleisset is defined %}{{ path('KunstmaanMediaBundle_folder_movenodes') }}{% else %}/movenodes{% endif %}");
        });

        {% include "KunstmaanAdminBundle:Default:ckeditor.js.twig" %}
        jQuery(document).ready(function(){
            jQuery('textarea.rich_editor').each(function(item){
                var config = {};
                if($(this).attr('height')){
                    config.height = $(this).attr('height');
                }
                if($(this).attr('noparagraphs')){
                    config.enterMode = CKEDITOR.ENTER_BR;
                        config.shiftEnterMode = CKEDITOR.ENTER_P;
                }
                CKEDITOR.replace( $(this).attr('id'), config);
            });
        });
    </script>
    <!--Extra-->
    {% block extrajavascript %}{% endblock %}  
  

  
</body>
</html>