{#
{% if node.node.deleted ==false %}
#}
<li id="{{ menuitem.internalname }}"
{#
sequence="{{ node.node.getSequencenumber() }}"
#}
class="{% if menuitem.active %}jstree-open{% endif %} {% if currentMenuItem is not null and currentMenuItem.internalname == menuitem.internalname  %}active{% endif %}
{#
{% if not node.online %}offline{% endif %}"
#}
"
{% if menuitem.role %} rel="{{menuitem.role}}" {% endif %}>
    <a href="{{ path(menuitem.route, menuitem.routeparams) }}">{{ menuitem.internalname | trans }}</a>
    <ul>
        {% for menuitem in menuitem.navigationChildren %}
            {% include 'KunstmaanAdminBundle:Default:rectreeview.html.twig' %}
        {% endfor %}
    </ul>
</li>

{#
{% endif %}
#}
