<form action="{{ path('KunstmaanKMediaBundle_slide_create', { 'gallery_id' : gallery.id } ) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
        {{ form_errors(form) }}
        <div class="clearfix">
            <label for="xlInput3">Name</label>
            <div class="input">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="clearfix">
            {{ form_errors(form) }}
            <label for="xlInput3">Presentation code</label>
            <div class="input">
                {{ form_widget(form.content) }}
            </div>

        </div>
        <div class="clearfix">
            <label for="xlInput3">Type</label>
            <div class="input">
                {{ form_widget(form.slidetype) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="actions">
            <input class="btn primary type" type="submit" value="add new slide">
            <input onclick="window.location = '{{ path('KunstmaanKMediaBundle_slidegallery_show', { 'id' : gallery.id, 'slug' : gallery.slug } ) }}'" type="reset" class="btn" value="cancel" />
        </div>
    </fieldset>
</form>