{% extends 'KunstmaanKMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanKMediaBundle:Gallery:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanKMediaBundle_media_slides') }}">Slides</a> <span class="divider">/</span></li>
        {% for parent in gallery.parents %}
            <li><a href="{{ path('KunstmaanKMediaBundle_slidegallery_show', { 'id': parent.id, 'slug': parent.slug }) }}">{{ parent.name}}</a><span class="divider">/</span></li>
        {% endfor %}
    <li><a href="{{ path('KunstmaanKMediaBundle_slidegallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">{{ gallery.name}}</a><span class="divider">/</span></li>
    <li class="active">{{ media.name }}</li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Slide <small>{{ media.name }}
        </small></h1>
    </div>
    <div>

<ul>
    <li>
    {{ media.id }}
    {{ media.name }}
    {{ media.contentType }}
    </li>
</ul>
     {% if media.slidetype=='slideshare' %}
         {% include 'KunstmaanKMediaBundle:Slide:slideshare.html.twig' %}
     {% else %}
        {% include 'KunstmaanKMediaBundle:Slide:speakerdeck.html.twig' %}
     {% endif %}
     </div>
{% endblock %}