<!--[if lte IE 9]>
    <div class="outdated">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        {{ 'warning.outdated.title'|trans }}
                    </h1>
                    <h3>
                        {{ 'warning.outdated.subtitle'|trans }}
                    </h3>
                    <p>
                        {{ 'warning.outdated.description'|trans }}
                    </p>
                    <a href="https://browsehappy.com/?locale={{ htmlLocale }}" target="_blank" rel="noopener" class="btn btn--primary">
                        {{ 'warning.outdated.upgrade_browser'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
<![endif]-->
