<button {% for key,value in action.getUrl()[("attributes")] %}{{ key }}="{{ value }}" {% endfor %}>
{% if action.getIcon() is not null %}
    <i class="fa fa-{{ action.getIcon() }}"></i>
    {{ action.getLabel()|trans }}
{% else %}
    {{ action.getLabel()|trans }}
{% endif %}
</button>
