{% block toolbar %}
    {% if collector is defined and collector.getTemplateData() %}
        {% set data = collector.getTemplateData().data %}
    {% endif %}

    {% if data is defined %}
        {% set icon %}
            {{ include('@KunstmaanTranslator/Toolbar/Icon/translation.svg') }}
            <span class="sf-toolbar-value">{{ data.translations | length }}</span>
            <span class="sf-toolbar-label">{{ 'toolbar.translations.title' | trans }}</span>
        {% endset %}

        {% set text %}
            {% for translation in data.translations %}
                <div class="sf-toolbar-info-piece">
                    <b>{{ translation.id }}</b>
                    <span>
                        <a href="{{ translation.route }}" style="text-decoration: none !important;">
                            {{ translation.message|length > 40 ? translation.message|slice(0, 40) ~ '...' : translation.message  }}
                        </a>
                    </span>
                </div>
            {% endfor %}
        {% endset %}

        {% include '@KunstmaanAdmin/Toolbar/toolbar_item.html.twig' with {'link': data.route, 'overflow': true} %}
    {% endif %}
{% endblock %}
