<li>
    {% if resource.image is not empty %}
    <img src="{{ asset(resource.image.url) }}" />
    {% endif %}
    <div class="slider-pp__caption text-center">
        {% if resource.title is not empty %}
        <h1 class="slider-pp__caption__title">
            {{ resource.title }}
        </h1>
        {% endif %}
        {% if resource.description is not empty %}
        <p class="slider-pp__caption__text">
            {{ resource.description }}
        </p>
        {% endif %}
        {% if resource.buttonUrl is not empty %}
        <a href="{{ resource.buttonUrl }}" class="btn btn-primary btn-lg" {% if resource.buttonNewWindow %}target="_blank"{% endif %} type="button">
            {{ resource.buttonText }}
        </a>
        {% endif %}
    </div>
</li>
