{% block content %}
    <h2>{{ page.title }}</h2>
    <form method="get" action="" class="well form-search">
        <input type="text" name="query" id="query" class="input-medium search-query" value="{% if q_query is defined and q_query != '' %}{{ q_query }}{% endif %}" />
	<input type="submit" name="search" id="search" value="{{ 'search.search'|trans }}" class="btn" />
	&nbsp;&nbsp;{% if q_query is defined and q_query != '' %}{{ 'search.looking_for'|trans({'%query%': q_query}) }}{% endif %}
    </form>
    {% if q_query is defined and q_query != '' %}
        <h3>{{ 'search.results'|trans }}</h3>
        <div class="span12" style="margin-left: 0">
            <div class="span9" style="margin-left: 0">
                <div class="span9" style="margin-left: 0">
                    {% set count = 0 %}
                    {% for searchresult in pagerfanta.currentPageResults %}
                        {% if count > 0 %}<hr />{% endif %}
                        <div style=" margin-right: 20px;">
                            <h4><a href="{{ searchresult['_source']['slug'] }}">{{ searchresult['_source']['title'] }}</a></h4>
                            {% if searchresult['highlight'] is defined %}
                                <p>{{ searchresult['highlight']['content'][0] | raw }}</p>
                            {% else %}
                                <p>{{ searchresult['_source']['content'] | truncate(300) | escape('html') }}</p>
                            {% endif %}
                        </div>
                        {% set count = count + 1 %}
                    {% endfor %}
                </div>
            {# Pagination #}
            {% if pagerfanta.haveToPaginate() %}
                {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', { 'prev_message': '<i class="icon icon--caret--left"></i>', 'next_message': '<i class="icon icon--caret--right"></i>', 'active_suffix': '' }) }}
            {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
