<div id="{{clean id}}" class="sg-card__anchor">
    {{#if code }}
        <div class="sg-card" id="{{clean id}}">
            <h{{counter depth}} class="sg-card__heading">{{clean name}}</h{{counter depth}}>
            {{~> section}}

            {{#children}}
                {{~> childSection}}
            {{/children}}
        </div>
    {{else}}
        {{#if description }}
            <div class="sg-card" id="{{clean id}}">
                <h{{counter depth}} class="sg-card__heading">{{clean name}}</h{{counter depth}}>
                {{~> section}}

                {{#children}}
                    {{~> childSection}}
                {{/children}}
            </div>
        {{else}}
            {{#if colors }}
                    <div class="sg-card" id="{{clean id}}">
                        <h{{counter depth}} class="sg-card__heading">{{clean name}}</h{{counter depth}}>
                        {{~> section}}

                        {{#children}}
                            {{~> childSection}}
                        {{/children}}
                    </div>
            {{else}}
                <h{{counter depth}}>{{clean name}}</h{{counter depth}}>

                {{#children}}
                    {{~> childSection}}
                {{/children}}
            {{/if}}
        {{/if}}
    {{/if}}
</div>
