<div id="addsub-modal" class="modal hide fade">
    <form action="{{ path('KunstmaanMediaBundle_folder_sub_create', { 'folderId' : gallery.id }  ) }}" method="post" {{ form_enctype(subform) }}>
        <div class="modal-header">
        	<button class="close" data-dismiss="modal">&times;</button>
            <h3>{{ 'media.gallery.sub.add' | trans }}</h3>
        </div>
        <div class="modal-body">
	        <fieldset>
	            <div class="control-group">
	                {{ form_errors(subform) }}
	                <label class="control-label" for="xlInput3">Name</label>
	                <div class="controls">
	                    {{ form_widget(subform.name) }}
	                </div>
	            </div>
	            {{ form_rest(subform) }}
	        </fieldset>
        </div>
        <div class="modal-footer">
            <div class="btn_group">
	            <button class="btn btn-primary" type="submit">{{ 'media.gallery.sub.add' | trans }}</button>
	            <button class="btn" type="reset" data-dismiss="modal">{{ 'form.cancel' | trans }}</button>
	    	</div>
        </div>
    </form>
</div>

