<div id="addsub-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Head -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h3>
                    {{ 'media.folder.addsub.modal.title' | trans }}
                </h3>
            </div>

            {% form_theme subform 'KunstmaanAdminBundle:Form:fields.html.twig' %}
            <form action="{{ path('KunstmaanMediaBundle_folder_sub_create', { 'folderId' : folder.id , 'type' : type }) }}" id="addsub-modal-form" method="post" {{ form_enctype(subform) }}>

                <!-- Body -->
                <div class="modal-body">
                    {{ form_widget(subform) }}
                </div>

                <!-- Footer -->
                <div class="modal-footer">
                    <button type="submit" class="js-add-app-loading--forms btn btn-primary btn--raise-on-hover">
                        {{ 'media.folder.addsub.modal.save' | trans }}
                    </button>
                    <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                        {{ 'form.cancel' | trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
