<form action="{{ path('KunstmaanMediaBundle_folder_edit', { 'gallery_id' : gallery.id } ) }}" method="post" {{ form_enctype(editform) }}>
    <fieldset>
        <div class="clearfix">
            {{ form_errors(editform) }}
            <label for="xlInput3">{{ 'form.name' |trans }}</label>
            <div class="input">
                {{ form_widget(editform.name) }}
            </div>
        </div>
        <div class="clearfix">
            <label for="xlInput3">{{ 'media.gallery.sub.belongsto' |trans }}</label>
            <div class="input">
                {{ form_widget(editform.parent) }}
                <span class="help-block">{{ 'media.gallery.notrequired' |trans }}</span>
            </div>
            {{ form_rest(editform) }}
        </div>
        <div class="actions">
            <input class="btn success" type="submit" value="{{ 'media.gallery.edit' |trans }}">
            <input onclick="window.location = '{{ path('KunstmaanMediaBundle_folder_show', { 'id' : gallery.id, 'slug':gallery.slug } ) }}'" type="reset" class="btn" value="{{ 'form.cancel' |trans }}" />
        </div>
    </fieldset>
</form>