<li id="folder-{{ mediaFolder.id }}" class="{% if mediaFolder.id in parentIds %}jstree-open{% endif %}" data-jstree='{"type":"{{ mediaFolder.rel }}"}' rel="{{ mediaFolder.rel }}">
    <a href="{{ path('KunstmaanMediaBundle_folder_show', { 'folderId': mediaFolder.id }) }}" data-folder-id="{{ mediaFolder.id }}" class="{% if folder is not null and folder.id == mediaFolder.id %}active{% endif %}">
        {{ mediaFolder.name }}
    </a>

    {% if mediaFolder.__children is not empty %}
        <ul>
            {% for mediaFolder in mediaFolder.__children %}
                {% include 'KunstmaanMediaBundle:Folder:foldertreeview.html.twig' %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
