{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block page_header_addition %}
    {% set FolderType = 'media.'~gallery.type~'.'~gallery.type %}
    {% if gallery.parent %}
        <small>{{ 'media.folder.sub' | trans }} <a href="{{ path('KunstmaanMediaBundle_folder_show', { 'id': gallery.parent.id, 'slug': gallery.parent.slug }) }}">{{ gallery.parent.name | trans }}</a></small>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'KunstmaanMediaBundle:Folder:addsub-modal.html.twig' %}
    {% include 'KunstmaanMediaBundle:Folder:delete-modal.html.twig' %}

    <div class="main_actions">
        {%  if gallery.type != "folder" %}
            {%  set addmediatype = 'media.'~gallery.type~'.add' %}
            <a href="{{ path('KunstmaanMediaBundle_folder_' ~ gallery.type ~ 'create', { 'gallery_id' : gallery.id }) }}" class="btn primary">{{ addmediatype |trans }}</a>
        {%  endif %}
        <a href="{{ path('KunstmaanMediaBundle_folder_subcreate', { 'id' : gallery.id }) }}" data-controls-modal="addsub-modal" data-backdrop="true" data keyboard="true" class="btn">{{ 'media.gallery.sub.addshort' |trans }}</a>
        {% if gallery.canDelete %}
            <a href="{{ path('KunstmaanMediaBundle_folder_delete', { 'gallery_id' : gallery.id }) }}" data-controls-modal="delete-modal" data-backdrop="true" data keyboard="true" class="btn danger">{{ 'media.gallery.delete' |trans }}</a>
        {% endif %}
    </div>

    <div id="main_actions_top" class="main_actions top">
        <div class="pull-right">
            {%  if gallery.type != "folder" %}
                {%  set addmediatype = 'media.'~gallery.type~'.add' %}
                <a href="{{ path('KunstmaanMediaBundle_folder_' ~ gallery.type ~ 'create', { 'gallery_id' : gallery.id }) }}" class="btn primary">{{ addmediatype |trans }}</a>
            {%  endif %}
            <a href="{{ path('KunstmaanMediaBundle_folder_subcreate', { 'id' : gallery.id }) }}" data-controls-modal="addsub-modal" data-backdrop="true" data keyboard="true" class="btn">{{ 'media.gallery.sub.addshort' |trans }}</a>
            {% if gallery.canDelete %}
                <a href="{{ path('KunstmaanMediaBundle_folder_delete', { 'gallery_id' : gallery.id }) }}" data-controls-modal="delete-modal" data-backdrop="true" data keyboard="true" class="btn danger">{{ 'media.gallery.delete' |trans }}</a>
            {% endif %}
            <a class="btn up">&#9650;</a>
        </div>
    </div>

    <ul class="tabs" data-tabs="tabs"> 
        {%  set galstype = 'media.menu.'~gallery.type~'s' %}
        <li class="active"><a href="#imagegallery">{{ galstype|trans|capitalize }}</a></li>
        <li><a href="#properties">{{ 'media.folder.properties' | trans }}</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="imagegallery">
            <section id="map-list">
                <table>
                    <tbody>
                        {% for child in gallery.children %}
                            <tr>
                                <td><a href="{{ path('KunstmaanMediaBundle_folder_show', { 'id' :child.id, 'slug' : child.slug }) }}" class="item">{{ child.name }}</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><a href="{{ path('KunstmaanMediaBundle_folder_subcreate', { 'id' : gallery.id }) }}" data-controls-modal="addsub-modal" data-backdrop="true" data keyboard="true">{{ 'media.gallery.sub.no' |trans }} {{ 'media.gallery.sub.addshort' |trans }}</a>
                            </td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        
            {%  set FolderTypelist = 'media.'~gallery.type~'.list' %}
            {% include 'KunstmaanMediaBundle:' ~ gallery.type|capitalize ~ ':tableview.html.twig' %}
       </div>
       <div class="tab-pane" id="properties"> 
            <section>
                {% include 'KunstmaanMediaBundle:Folder:editform.html.twig' %}
            </section>
        </div>
    </div>
{% endblock %}