{% extends 'KunstmaanKMediaBundle:Default:layout.html.twig' %}

{% block subsidebar %}
    {% include 'KunstmaanKMediaBundle:Gallery:sidebar.html.twig' %}
{% endblock %}

{% block subbreadcrumb %}
    <li><a href="{{ path('KunstmaanKMediaBundle_media_images') }}">Image Galleries</a> <span class="divider">/</span></li>
    <li><a href="{{ path('KunstmaanKMediaBundle_imagegallery_show', { 'id' : gallery.id, 'slug' : gallery.slug } ) }}">{{ gallery.name }}</a> <span class="divider">/</span></li>
	<li class="active">Add new picture to "{{ gallery.name }}"</li>
{% endblock %}

{% block title %}New image{% endblock%}

{% block content %}
    <h1>Add new image <small>to "{{ gallery.name }}"</small></h1>
    {% include 'KunstmaanKMediaBundle:Image:form.html.twig' with { 'form': form } %}
{% endblock %}