{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block header %}
     <h1>{{ 'media.image.image'|trans }} <small>{{ media.name }}</small></h1>
{% endblock %}

{% block content %}




	<!--=========Actions=========-->

	<!--Main-->
    <div class="main_actions">
        <button type="button" class="btn btn-primary" onclick="return launchEditor('editimage', '{{ app.request.getScheme()~'://'~app.request.getHttpHost()~asset(upload_dir~media.show()) }}');" >{{ 'media.image.edit' | trans }}</button>
        {% if hasmetadata %}
            <a href="{{ path('KunstmaanMediaBundle_media_metadata_edit', { 'mediaId': media.id}) }}" class="btn">{{ 'media.image.editmetadata' | trans }}</a>
        {% endif %}
        <a href="{{ path('KunstmaanMediaBundle_media_delete', { 'mediaId': media.id }) }}" data-target="#sure-modal-{{ media.id }}" data-toggle="modal" class="btn">{{ 'form.delete'|trans }}</a>
        <a href="{{ path('KunstmaanMediaBundle_folder_show', { 'folderId': gallery.id, 'slug': gallery.slug }) }}" class="btn">{{ 'form.cancel' | trans }}</a>
    </div>

	<!--Scroll-->
    <div id="main_actions_top" class="main_actions top">
        <div class="pull-right">
            <button type="button" class="btn btn-primary" onclick="return launchEditor('editimage', '{{ app.request.getScheme()~'://'~app.request.getHttpHost()~asset(upload_dir~media.show()) }}');" >{{ 'media.image.edit' | trans }}</button>
            {% if hasmetadata %}
            <a href="{{ path('KunstmaanMediaBundle_media_metadata_edit', { 'mediaId': media.id}) }}" class="btn">{{ 'media.image.editmetadata' | trans }}</a>
            {% endif %}
            <a href="{{ path('KunstmaanMediaBundle_media_delete', { 'mediaId': media.id }) }}" data-target="#sure-modal-{{ media.id }}" data-toggle="modal" class="btn">{{ 'form.delete'|trans }}</a>
            <a href="{{ path('KunstmaanMediaBundle_folder_show', { 'folderId': gallery.id, 'slug': gallery.slug }) }}" class="btn">{{ 'form.cancel' | trans }}</a>
            <a class="btn up">&#9650;</a>
        </div>
    </div>




	<!--=========Tabs=========-->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#imagegallery" data-toggle="tab">{{ 'media.file.file'|trans|capitalize }}</a></li>
        <li><a href="#edits" data-toggle="tab">{{ 'media.image.edits' | trans }}</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="imagegallery">

			<div class="properties">
				<dl>
				    <dt>Name:</dt>
				    	<dd>{{ media.name }}</dd>
				    <dt>Content-type:</dt>
				    	<dd>{{ media.contentType }}</dd>
				    <dt>Added:</dt>
				    	<dd>{{ media.createdat|date|escape }}</dd>
				    <dt>Updated:</dt>
				    	<dd>{{ media.updatedat|date|escape }}</dd>
				</dl>
			</div>





            <p><img id="editimage" class="thumbnail" src="{{ asset(upload_dir~media.show()) }}" alt="{{ media.name }}" /></p>

            <!-- Load Feather code -->
            <script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>

            <!-- Instantiate Feather -->
            <script type="text/javascript">
                var featherEditor = new Aviary.Feather({
                    apiKey: '5f257cbef',
                    apiVersion: 2,
                    //tools: 'all',
                    onSave: function(imageID, newURL) {
                        var img = document.getElementById(imageID);
                        img.src = newURL;
                        window.location = '{{ url('KunstmaanMediaBundle_aviary', { 'folderId' : gallery.id, 'imageId' : media.id }) }}?url='+newURL;
                    }

                });

                function launchEditor(id, src) {
                    featherEditor.launch({
                        image: id,
                        url: src
                    });
                    return false;
                }
            </script>

            <div id="injection_site"></div>
        </div>

        <div class="tab-pane" id="edits">
            <ul class="thumbnails">
                {% for image in media.edits %}
                <li >
                    <a href="{{ path('KunstmaanMediaBundle_media_show',  { 'mediaId' : image.id }) }}" class="thumbnail">
                        <img  src="{{ asset(upload_dir~image.show('medium')) }}" alt="{{ image.name }}" />
                    </a>
                </li>
                {% else %}
                <li>{{ 'media.image.noedits' | trans }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>



    <!--=========Modals=========-->
    {% include 'KunstmaanMediaBundle:Media:sure-modal.html.twig' %}


{% endblock %}