{% extends 'KunstmaanAdminBundle:Pages:index.html.twig' %}

{% block subbreadcrumb %}
	<li><a href="{{ path('KunstmaanAdminBundle_pages') }}">{{ 'pages.title' | trans }}</a></li>
    {% for node in nodemenu.breadCrumb %}
    	{% if nodemenu.current.id == node.id and not draft %}
    		<li>{{ node.title }}</li>
    	{% else %}
    		<li><a href="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': node.id}) }}">{{ node.title }}</a></li>
    	{% endif %}
    {% endfor %}
	{% if draft %}
   		<li>{{ 'pages.draft' | trans }}</li>
   	{% endif %}
{% endblock %}

{% block content %}
    <form action="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': node.id, 'subaction': subaction}) }}" method="post" {{ form_enctype(form) }}>
    <h1>{{ page.title }} {% if draft %} <small>Draft version (Go to <a href="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': node.id, 'subaction': ''}) }}">public version</a>)</small> {% else %} <small>Public version (Go to <a href="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': node.id, 'subaction': 'draft'}) }}">draft version</a>)</small> {% endif %} </h1>
    <div class="sub_actions">
      {% if not draft %}
        {% if node.online %}
          <a href="#" data-controls-modal="unpub" data-backdrop="true" data-keyboard="true">Unpublish</a>
          <div id="unpub" class="modal hide fade">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>Are you sure you want to unpublish this page?</h3>
				</div>
				<div class="modal-body">
					<p>If you do this, the page will be offline!</p>
				</div>
				<div class="modal-footer">
					<a href="{{ path('KunstmaanAdminBundle_pages_edit_unpublish', { 'id': node.id}) }}" class="btn danger">Unpublish</a>
					<a href="#" class="btn cancel">Cancel</a>			
				</div>
			</div>
        {% else %}
          <a href="#" data-controls-modal="pub" data-backdrop="true" data-keyboard="true">Publish</a>
		  <div id="pub" class="modal hide fade">
				<div class="modal-header">
					<a href="#" class="close">×</a>
					<h3>Are you sure you want to publish this page?</h3>
				</div>
				<div class="modal-body">
					<p>If you do this, the page will be online!</p>
				</div>
				<div class="modal-footer">
					<a href="{{ path('KunstmaanAdminBundle_pages_edit_publish', { 'id': node.id}) }}" class="btn danger">Publish</a>
					<a href="#" class="btn cancel">Cancel</a>			
				</div>
			</div>
        {% endif %}
      {% endif %}
      <a href="#">Versions</a>
    </div>
    <!--Main-->
	<div class="main_actions">
	  {% if draft %}
	    <input type="submit" class="btn primary" name="save" value="{{ 'form.saveasdraft' | trans }}">
	    <input type="submit" class="btn" name="saveandpublish" value="{{ 'form.publish' | trans }}">
	    <a class="btn" href="{{ path('_slug_draft', { 'slug': nodemenu.current.slug }) }}" target="_blank">Preview</a>
	  {% else %}
		  <input type="submit" class="btn primary" name="save" value="{{ 'form.save' | trans }}">
	      <input type="submit" class="btn" name="saveasdraft" value="{{ 'form.saveasdraft' | trans }}">
	      <a class="btn" href="{{ path('_slug', { 'slug': nodemenu.current.slug }) }}" target="_blank">Preview</a>
	      <button data-controls-modal="add-subpage-modal" data-backdrop="true" class="btn">Add subpage</button>
	      <button data-controls-modal="delete-page-modal" data-backdrop="true" class="btn danger">Delete</button>
	  {% endif %}
      {#<button class="btn" data-controls-modal="cancel" data-backdrop="true" data-keyboard="true">Cancel</button>#}
    </div>
    <!--Scroll-->
    <div class="main_actions top" id="main_actions_top">
      <div class="pull-right">
        {% if draft %}
	      <input type="submit" class="btn primary" name="save" value="{{ 'form.saveasdraft' | trans }}">
	      <input type="submit" class="btn" name="saveandpublish" value="{{ 'form.publish' | trans }}">
          <a class="btn" href="{{ path('_slug', { 'slug': nodemenu.current.slug }) }}" target="_blank">Preview</a>
	    {% else %}
		  <input type="submit" class="btn primary" name="save" value="{{ 'form.save' | trans }}">
	      <input type="submit" class="btn" name="saveasdraft" value="{{ 'form.saveasdraft' | trans }}">
	      <a class="btn" href="{{ path('_slug', { 'slug': nodemenu.current.slug }) }}" target="_blank">Preview</a>
	      <button data-controls-modal="add-subpage-modal" data-backdrop="true" class="btn">Add subpage</button>
	      <button data-controls-modal="delete-page-modal" data-backdrop="true" class="btn danger">Delete</button>
	    {% endif %}
        {#<button class="btn" data-controls-modal="cancel" data-backdrop="true" data-keyboard="true">Cancel</button>#}
        <a class="btn up">&#9650;</a>
      </div>
    </div>
    
    <div id="add-subpage-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Add subpage</h3>
      </div>
      <div class="modal-body">
        <script type="text/javascript">
	        function doAddpage(link){
		        link.href="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': node.id, 'subaction': subaction}) }}" + "?addpage="+jQuery('#addpage_type').val() + "&title=" + jQuery('#addpage_title').val();
	            return true;
	        }
	    </script>
        <div class="input_prop">
          <label for="form-add-gallery">Title</label>
          <input id="addpage_title" type="text" id="form-add-gallery" name="addpagetitle_disabled">
        </div>
        <div class="input_prop">
          <label for="form-add-gallery">Type</label>
          <select id="addpage_type" name="addpage_disabled">
            {% for pageType in page.possibleChildPageTypes %}
              <option value="{{pageType.class}}">{{pageType.name}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <a onclick="return doAddpage(this)" href="#" class="btn primary">Add</a>
        <a onclick="$('#add-subpage-modal').modal('hide')" href="#" class="btn secondary">Cancel</a>
      </div>
    </div>
    <div id="delete-page-modal" class="modal hide fade">
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Delete page '{{page.title}}'</h3>
      </div>
      <div class="modal-body">
        <script type="text/javascript">
          function doDeletepage(link){
            link.href="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': node.id}) }}" + "?delete=true";
            return true;
          }
        </script>
        <p>This will remove the page completely! Are you really sure about this?</p>
       </div>
      <div class="modal-footer">
        <a onclick="return doDeletepage(this)" href="#" class="btn primary">Delete</a>
        <a onclick="$('#add-subpage-modal').modal('hide')" href="#" class="btn secondary">Cancel</a>
      </div>
    </div>
        <ul class="tabs" data-tabs="tabs">
            <li class="active"><a href="#pageparts">{{ 'pages.parts' | trans }}</a></li>
            <li><a href="#home">{{ 'form.properties' | trans }}</a></li>
            {% if is_granted('ROLE_PERMISSIONMANAGER') %}
            <li><a href="#permissions">{{ 'form.permissions' | trans }}</a></li>
            {% endif %}
            <li><a href="#seo">SEO</a></li>
            <li><a href="#versions">Versions</a></li>
            {#<li><a href="#children">Children</a></li>
            <li><a href="#slug">Slug</a></li>
            <li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Versions</a>
              <ul class="dropdown-menu">
                <li><a href="#fat">1.9 (current)</a></li>
                <li><a href="#mdo">1.8 (2011-10-11)</a></li>
                <li><a href="#mdo">1.7 (2011-10-10)</a></li>
                <li><a href="#mdo">1.6 (2011-10-10)</a></li>
                <li><a href="#mdo">1.5 (2011-10-9)</a></li>
                <li class="divider"></li>
                <li><a href="#mdo">All versions</a></li>
              </ul>
            </li>
            #}
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="active tab-pane" id="pageparts">

                {{ pagepartadmin_widget(pagepartadmin, form) }}
            </div>
            <div class="tab-pane" id="home">
                {{ form_widget(form.main) }}
                {{ form_widget(form.node) }}
            </div>

            {% if is_granted('ROLE_PERMISSIONMANAGER') %}
            <div class="tab-pane" id="permissions">
                {{ permissionsadmin_widget(permissionadmin, form) }}
            </div>
            {% endif %}

            <div class="tab-pane" id="children">
                <table class="bordered-table zebra-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#
                        {% for child in page.children %}
                            <tr>
                                <td>{{ child.sequencenumber }}</td>
                                <td><a href="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': child.id, 'entityname': 'KunstmaanAdminBundle:Page' }) }}">{{ child.title }}</a></td>
                                <td>Page</td>
                            </tr>
                        {% endfor %}
                    #}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="versions">
              <table class="bordered-table zebra-striped">
                    <thead>
                    <tr>
                    	<th>Nr</th>
                        <th>Action</th>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for log in logs %}
                            <tr>
                            	<td><a href="{{ path('KunstmaanAdminBundle_pages_edit', { 'id': node.id, 'version': log.version, 'subaction': subaction }) }}">{{ log.version }}</a></td>
                                <td>{{ log.action }}</td>
                                <td>{{ log.loggedat | date('Y-m-d H:i:s') }}</td>
                                <td>{{ log.username }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="seo">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </div>
            <div class="tab-pane" id="mdo">
              <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
            </div>
        </div>
        {{ form_rest(form) }}
    </form>

{% endblock %}
