{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block sidebar %}
	    	<div class="search_wrp"> 
	    		<input type="text" id="searchVal" value="" /> 
	    		<button id="search" class="btn search"><img src="{{ asset('bundles/kunstmaanadmin/img/icons/search.png') }}" alt="Search" /></button> 
	    	</div> 
    <div id="pages">
        <ul>
            {% for node in nodemenu.topnodes %}
                {% include 'KunstmaanAdminBundle:Pages:rectreeview.html.twig' %}
            {% endfor %}
        </ul>
    </div>
</aside>
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('KunstmaanAdminBundle_homepage') }}">{{ 'omnext.home' | trans }}</a></li>
		{% block subbreadcrumb %}
		<li class="active">{{ 'pages.title' | trans }}</li>
		{% endblock %}
	</ul>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ 'pages.title' | trans }}</h1>
    </div>

    {{ adminlist_widget(pageadminlist, 'KunstmaanAdminBundle_pages') }}

{% endblock %}
