{% if pagepartref is defined %}	
	<script>
		$(document).ready(function() {
		    {# $('a#link_pagepartadmin_main_{{ pagepartref.id }}_media').on('click', function(ev) { #}
		   	$('select#form_pagepartadmin_main_{{ pagepartref.id }}_media').on('click', function(ev) {
			   	ev.preventDefault();
		        window.open("{{ path('KunstmaanMediaBundle_imagegallery_slidechooser') }}", "_blank","toolbar=0,width=800,height=600");
		    });
		});
		
		window.SlideChosenCallback['{{ pagepartref.id }}'] = function(url, id) {
		    $('select#form_pagepartadmin_main_{{ pagepartref.id }}_media').val(id);
		}
	</script>
	{# <a id="link_pagepartadmin_main_{{ pagepartref.id }}_media" href="">{{ 'Select file' | trans }}</a> #}
{% endif %}

{% if resource.media is defined and resource.media != "" %}
	{% include 'KunstmaanMediaBundle:Slide:'~ resource.media.type ~'.html.twig' with {'media': resource.media} %}
{% endif %}