{% block content %}
    <div class="container">
        <h2>{{ page.title }}</h2>

        {{ render_pageparts(page, 'main') }}

        {% set count = 0 %}
        {% if pagerfanta.nbResults > 0 %}
            {% for article in pagerfanta.currentPageResults %}
                {% set articlenode = get_node_translation_for(article) %}
                <article class="main-article main-article--summary">
                    <header>
                        <time class="main-article__meta">
                            {{ article.date | date("d/m/Y")}}
                            {% if article.author is not empty %}
                                | <strong>{{ article.author.name }}</strong>
                            {% endif %}
                        </time>
                        <h4 class="main-article__title">
                            <a href="{{ articlenode.url }}">{{ article.title }}</a>
                        </h4>
                    </header>
                    {{ article.summary }}
                    <p>
                        <a href="{{ articlenode.url }}" class="btn btn-primary main-article__readmore">
                            {{ 'article.readmore'|trans }}
                        </a>
                    </p>
                </article>
                {% set count = count + 1 %}
            {% endfor %}
            {% if pagerfanta.haveToPaginate() %}
                {{ pagerfanta(pagerfanta) }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

