{% extends '@KunstmaanMedia/Media/show.html.twig' %}

{% block extraactions %}
    <a href="{{ asset(media.url, 'media') }}" target="_blank" class="btn btn-primary btn--raise-on-hover">
        {{ 'media.media.download.action'|trans }}
    </a>
{% endblock %}

{% block preview %}{% endblock %}

{% block mediainfo %}
    {{ parent() }}
    <dt>
        {{ 'media.media.mediainfo.downloadlink'|trans }}:
    </dt>
    <dd>
        {% set mediaUrl = absolute_url(asset(media.url, 'media')) %}
        <a href="{{ mediaUrl }}" target="_blank">
            {{ mediaUrl }}
        </a>
    </dd>
{% endblock %}
