{% extends 'KunstmaanAdminListBundle:Default:add_or_edit.html.twig' %}

{% block header %}
    {{ parent() }}
    {% if type is defined and type %}
        <input type="hidden" name="type" value="{{ type }}" />
    {% endif %}
    {% if app.request.get('type') %}
        <input type="hidden" name="type" value="{{ app.request.get('type') }}" />
    {% endif %}
{% endblock %}

{% block admin_page_title %}
    <div class="col-sm-6 col-md-8">
        <h1 class="app__content__header__title">
            {% if entity is defined %}
                Edit {{ entity.classname }}
            {% else %}
                Add {{ app.request.get('type')|split('\\')|last }}
            {% endif %}
            rule for {{ adminlistconfigurator.popup.name }} popup
        </h1>
    </div>
{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb app__content__breadcrumb">
        <li>
            <a href="{{ path('KunstmaanAdminBundle_modules') }}">
                Modules
            </a>
        </li>
        <li>
            <a href="{{ path('kunstmaanleadgenerationbundle_admin_popup_abstractpopup') }}">
                Popups
            </a>
        </li>
        <li class="active">
            Rules
        </li>
    </ul>
{% endblock %}
