{#
    TODO: style this
    public/scss/_dashboard-block.scss (line 60 - ...)
    public/js/analytics/goals.js (html)
 #}


<div class="db-col db-col--10">
    <ul id="goalOverview">
        {% for goal in overview.goals %}
            <li id="goal{{goal.id}}" data-goal-id="{{goal.id}}" >
                <canvas id="js-goal-dashboard-chart-{{goal.id}}" class="dashboard-chart" height="100"></canvas>
                <div>{{goal.name}}</div>
                <span>{{goal.visits}}</span>
            </li>
        {% endfor %}
    </ul>
</div>
