{# Twig vars are commented: they are loaded with AJAX, they are still here as a placeholder #}
<h2 class="db-content__block-title">Behaviour</h2>
<ul id="goalOverview" class="dashboard-goals-list">
{#
    {% for goal in overview.goals %}
        <li id="goal{{goal.id}}" data-goal-id="{{goal.id}}" >
            <canvas id="js-goal-dashboard-chart-{{goal.id}}" class="dashboard-chart" height="100"></canvas>
            <div>{{goal.name}}</div>
            <span>{{goal.visits}}</span>
            <span>{{goal.conversionRate}}</span>
        </li>
    {% endfor %}
#}
</ul>
