<h2 class="db-block__title">
    {{ 'analytics.visitors' | trans }}
    <span class="db-block__title__stats">
        <strong id="data_overview_visits">{{ overview.visits }} {{ 'analytics.visitors' | trans }}</strong>
        <span id="data_overview_pageviews">
            ({{ overview.pageviews }} {{ 'analytics.pageviews' | trans }})
        </span>
    </span>
</h2>

