{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block header %}{% endblock %}

{% block content %}
<form method="post" action="">
    <h2>{{ 'analytics.dashboard.ga.setup.title' | trans }}</h2>
    <h3>{{ 'analytics.dashboard.ga.setup.property.title' | trans }}</h3>
    <p>{{ 'analytics.dashboard.ga.setup.property.content' | trans }}</p>

    <select name="properties" class="chzn-select">
        {% for property in properties %}
            <option value="{{ property.propertyId }}::{{ property.accountId }}">{{ property.propertyName }}</option>
        {% endfor %}
    </select>
<br/>
    <button class="btn btn-primary" type="submit">{{ 'form.save' | trans }}</button>
</form>

{% endblock %}
