{% extends 'KunstmaanAdminBundle:Default:layout.html.twig' %}

{% block header %}{% endblock %}

{% block content %}
    <form method="post" action="" id="dashboard-setup-form">
        <h2>{{ 'dashboard.ga.setup.title' | trans }}</h2>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="setup-group" id="account-group">
            <select id="accounts" name="accounts">
                <option data-id="" selected>{{ 'dashboard.ga.setup.account.select' | trans }}</option>
                {% for account in accounts %}
                    <option {% if account.accountId == accountId %}selected{% endif %} data-id="{{account.accountId}}">
                        {{ account.accountName }}
                    </option>
                {% endfor %}
            </select>

            <select id="properties" {% if properties is not defined %} class="setup-item__not_shown" {% endif %}>
                <option data-id="">{{ 'dashboard.ga.setup.property.select' | trans }}</option>
                {% if properties is defined %}
                    {% for property in properties %}
                        <option {% if property.propertyId == propertyId %}selected{% endif %} data-id="{{property.propertyId}}">
                            {{ property.propertyName }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>

            <select id="profiles" {% if profiles is not defined %} class="setup-item__not_shown" {% endif %}>
                <option data-id="">{{ 'dashboard.ga.setup.profile.select' | trans }}</option>
                {% if profiles is defined %}
                    {% for profile in profiles %}
                        <option {% if profile.profileId == profileId %}selected{% endif %} data-id="{{profile.profileId}}">
                            {{ profile.profileName }}
                        </option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>

        <div class="setup-group" id="segment-group">
            <h4>Segments</h4>
            <p>
                {{ 'dashboard.ga.setup.segment.info' | trans }} <a href="https://developers.google.com/analytics/devguides/reporting/core/v3/segments" target="_blank">{{ 'dashboard.ga.setup.segment.here' | trans }}</a>.
            </p>
            <ul>
                {% for segment in segments %}
                    <li id="segment-list__{{ segment.id }}">
                        <div class="display-view">
                            <span class="display-segment-name">{{ segment.name }}</span> (<span class="display-segment-query"> {{segment.query}} </span>)
                            <button class="segment-list-button__delete btn" data-segment-id="{{ segment.id }}"><i class="icon-remove"></i></button>
                            <button class="segment-list-button__edit btn" data-segment-id="{{ segment.id }}"><i class="icon-edit"></i></button>
                        </div>
                        <div class="edit-view">
                            <input type="text" id="segment-edit-name-{{segment.id}}" class="segment-name" value="{{segment.name}}"/>
                            <input type="text" id="segment-edit-query-{{segment.id}}" class="segment-query" value="{{segment.query}}"/>
                            <button class="segment-list-button__confirm btn" data-segment-id="{{ segment.id }}"><i class="icon-ok"></i></button>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div id="segments-new"></div>
            <button class="btn" type="button" id="segment-button__add"><i class="icon-plus"></i></button>
        </div>

        <div class="setup-group" id="control-group">
            <a href="{{ path('kunstmaan_dashboard') }}" class="btn" type="submit">{{ 'dashboard.ga.setup.back' | trans }}</a>
            <button disabled id="submit_save" class="btn btn-primary" type="submit">{{ 'form.save' | trans }}</button>
        </div>
    </form>

    <input type="hidden" id="path_accounts" data-url="{{ path('kunstmaan_dashboard_ajax_accounts') }}" />
    <input type="hidden" id="path_properties" data-url="{{ path('kunstmaan_dashboard_ajax_properties') }}" />
    <input type="hidden" id="path_profiles" data-url="{{ path('kunstmaan_dashboard_ajax_profiles') }}" />
    <input type="hidden" id="path_segment_add" data-url="{{ path('kunstmaan_dashboard_ajax_segment_add') }}" />
    <input type="hidden" id="path_segment_delete" data-url="{{ path('kunstmaan_dashboard_ajax_segment_delete') }}" />
    <input type="hidden" id="path_segment_edit" data-url="{{ path('kunstmaan_dashboard_ajax_segment_edit') }}" />
    <input type="hidden" id="path_config_save" data-url="{{ path('kunstmaan_dashboard_ajax_config_save') }}" />
{% endblock %}

{% block extrajavascript %}
    {% javascripts
        '@KunstmaanDashboardBundle/Resources/public/js/setup/setup.js'
        output='generated-js/ga_widget_setup.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block extracss %}
    {% stylesheets
        filter="scss"
        "@KunstmaanDashboardBundle/Resources/public/scss/_dashboard-setup.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

