{# Twig vars are commented: they are loaded with AJAX, they are still here as a placeholder #}

<div class="db-block">
    <canvas id="js-traffic-dashboard-chart" class="dashboard-chart" height="290"></canvas>


     <ul class="db-block__list" id="data_visits">
        <li class="db-block__list__item">
            {# Desktop traffic #}
            <p class="db-block__text db-block__text--left" id="">
                Desktop visitors
            </p>
            <p class="db-block__stats db-block__stats--right" id="data_desktop_traffic">

                <span style="color:rgba(41, 151, 206, 1)">
                    <span class="data_percentage">{# {{ overview.getDesktopTrafficPercentage }} #}</span>
                    <span class="data_visits">{# {{ overview.desktopTraffic }} #}</span>
                </span>

            </p>
        </li>
        <li class="db-block__list__item">
            {# Mobile traffic #}
            <p class="db-block__text db-block__text--left" id="">
                Mobile visitors
            </p>
            <p class="db-block__stats db-block__stats--right" id="data_mobile_traffic">

                <span style="color:rgba(41, 200, 150, 1)">
                    <span class="data_percentage">{# {{ overview.getMobileTrafficPercentage }} #}</span>
                    <span class="data_visits">{# {{ overview.mobileTraffic }} #}</span>
                </span>

            </p>
        </li>
        <li class="db-block__list__item">
            {# Tablet traffic #}
            <p class="db-block__text db-block__text--left" id="">
                Tablet visitors
            </p>
            <p class="db-block__stats db-block__stats--right" id="data_tablet_traffic">

                <span style="color:rgba(41, 50, 200, 1)">
                    <span class="data_percentage">{# {{ overview.getTabletTrafficPercentage }} #}</span>
                    <span class="data_visits">{# {{ overview.returningVisits }} #}</span>
                </span>

            </p>
        </li>
    </ul>
</div>

