{% if token %}
<div id="dashboard" class="dashboard">

    <!-- TABS -->
    {% include 'KunstmaanDashboardBundle:GoogleAnalytics:tabs.html.twig' with {'overviews' : overviews} %}
    <!-- end TABS -->

    <div id="data_no_overview" style="display:none">{{ 'analytics.overview.unavailable' | trans}}</div>

    <!-- TAB CONTENT -->
    <section class="dashboard__content dashboard__content--loading" id="data_overview">

        <!-- CHART -->
        {% include 'KunstmaanDashboardBundle:GoogleAnalytics:chart.html.twig' %}
        <!-- end CHART -->

        <!-- GOALS -->
        {% include 'KunstmaanDashboardBundle:GoogleAnalytics:goals.html.twig'%}
        <!-- end GOALS -->

    </section>
    <!-- end TAB CONTENT -->

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <section>
            <a href="{{ path('KunstmaanDashboardBundle_analytics_resetProfile') }}">{{ 'dashboard.ga.reset.profile' | trans }}</a> | <a href="{{ path('KunstmaanDashboardBundle_analytics_resetProperty') }}">{{ 'dashboard.ga.reset.property' | trans }}</a>
        </section>
    {% endif %}
</div>

{% else %}
    {% include 'KunstmaanDashboardBundle:GoogleAnalytics:connect.html.twig' with {'authUrl' : authUrl} %}
{% endif %}

{% block extrajavascript %}
    {% javascripts
        '@KunstmaanDashboardBundle/Resources/public/js/analytics/metrics.js'
        '@KunstmaanDashboardBundle/Resources/public/js/analytics/tabs.js'
        '@KunstmaanDashboardBundle/Resources/public/js/analytics/goals.js'
        '@KunstmaanDashboardBundle/Resources/public/js/libs/morris.js-0.4.3/morris.js'
        '@KunstmaanDashboardBundle/Resources/public/js/libs/raphael-2.1.2.js'
        output='generated-js/ga_widget.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


