{% if token %}
<div class="dashboard">

    {% if segments | length > 0 %}
        <nav id="segment-menu">
                <a href="?" {% if (segmentId is null) %}class="segment-active"{% endif %}>Default</a>
                {% for segment in segments %}
                    <a href="?segment={{segment.id}}" {% if (segment.id == segmentId) %}class="segment-active"{% endif %}>{{segment.name}}</a>
                {% endfor %}
        </nav>
    {% endif %}

    <div id="data_overview" class="dashboard__content--loading">
        <!-- TABS -->
        {% include 'KunstmaanDashboardBundle:GoogleAnalytics:tabs.html.twig' with {'overviews' : overviews} %}
        <!-- end TABS -->

        <!-- TAB CONTENT -->
        <section class="dashboard__content">
            <!-- CHART -->
            {% include 'KunstmaanDashboardBundle:GoogleAnalytics:chart.html.twig' %}
            <!-- end CHART -->

            {% for overview in overviews %}
                <!-- GOALS -->
                {% include 'KunstmaanDashboardBundle:GoogleAnalytics:goals.html.twig' with {'overview':overview} %}
                <!-- end GOALS -->
            {% endfor %}

        </section>
        <!-- end TAB CONTENT -->
        <div id="data_no_overview" style="display:none">
            <section class="dashboard__content">
                <p>{{ 'dashboard.ga.unavailable' | trans}}</p>
                {% if configId is not defined %}
                    <button data-path="{{ path('KunstmaanDashboardBundle_analytics_update', {'segmentId':segmentId}) }}" class="dashboard_update btn btn-primary">Update</button>
                {% else %}
                    <button data-path="{{ path('KunstmaanDashboardBundle_analytics_update', {'configId':configId, 'segmentId':segmentId}) }}" class="dashboard_update btn btn-primary">Update</button>
                {% endif %}
            </section>
        </div>
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <section id="dashboard_footer">
            {% if configId is not defined %}
                <a href="{{ path('KunstmaanDashboardBundle_Config') }}">
                    {{ 'dashboard.ga.setup.link' | trans }}</a> |&nbsp;
            {% endif %}
            <a href="#"
                class="dashboard_update"
                data-path="{{ path('KunstmaanDashboardBundle_analytics_update', {'segmentId':segmentId}) }}">
                {{ 'dashboard.ga.last_update' | trans }} {{last_update}}
            </a>
        </section>
    {% endif %}
</div>

{% else %}
    {% include 'KunstmaanDashboardBundle:GoogleAnalytics:connect.html.twig' with {'authUrl' : authUrl} %}
{% endif %}

{% block extrajavascript %}
    {% javascripts
        '@KunstmaanDashboardBundle/Resources/public/js/analytics/metrics.js'
        '@KunstmaanDashboardBundle/Resources/public/js/analytics/tabs.js'
        '@KunstmaanDashboardBundle/Resources/public/js/analytics/goals.js'
        '@KunstmaanDashboardBundle/Resources/public/js/libs/morris-0.5.0.js'
        '@KunstmaanDashboardBundle/Resources/public/js/libs/raphael-2.1.2.js'
        output='generated-js/ga_widget.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


