<!--[if lt IE 9]>
    <div class="outdated">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="outdated__title">
                        {{ 'warning.outdated.title'|trans }}
                    </h1>
                    <h3 class="outdated__subtitle">
                        {{ 'warning.outdated.subtitle'|trans }}
                    </h3>
                    <p class="outdated__description">
                        {{ 'warning.outdated.description'|trans }}
                    </p>
                    <a href="http://browsehappy.com/?locale={{ htmlLocale }}" target="_blank" class="outdated__link">
                        {{ 'warning.outdated.upgrade_browser'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
<![endif]-->
