<!--[if lte IE 9]>
    <div class="outdated">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="outdated__title">You are using an outdated browser.</h1>
                    <h3 class="outdated__subtitle">Some content may be lost or not displayed correctly.</h3>
                    <p class="outdated__description">Please consider upgrading to a more recent browser.</p>
                    <a href="http://browsehappy.com/?locale={{ htmlLocale }}" target="_blank" class="outdated__link">Upgrade your browser</a>
                </div>
            </div>
        </div>
    </div>
<![endif]-->

{#

{{ 'warning.outdated.title'|trans }}
{{ 'warning.outdated.subtitle'|trans }}
{{ 'warning.outdated.description'|trans }}
{{ 'warning.outdated.upgrade_browser'|trans }}

#}
