{% extends '@KunstmaanAdminList/Default/list.html.twig' %}

{% macro modal(overviewPage, title, type) %}
    <!-- Modal - Add Subpage -->
    <div id="add-subpage-modal-{{ overviewPage.id }}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Header -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <h3>
                        {{ 'article.modal.add.label' | trans({ '%type%': title | lower, '%page%': overviewPage.pageTitle }) }}
                    </h3>
                </div>

                <form action="{{ path('KunstmaanNodeBundle_nodes_add', { 'id': get_node_for(overviewPage).id , 'type' : type}) }}" method="post" novalidate="novalidate">
                    <!-- Body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="addpage_title">
                                {{ 'kuma_node.form.page.page_title.label' | trans }}
                            </label>
                            <input type="text" name="title" id="addpage_title" class="form-control">
                        </div>
                    </div>

                    <!-- Footer -->
                    <div class="modal-footer">
                        <button type="submit" name="submit" class="btn btn-primary btn--raise-on-hover">
                            {{ 'form.add' | trans }}
                        </button>
                        <button type="button" class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                            {{ 'form.cancel' | trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}

{% import _self as modal %}

{% block extra_actions_header %}

    {% if adminmenu.current %}
        {% set title = adminmenu.current.label | trans %}
    {% else %}
        {% set title = adminlist.configurator.getEntityName() %}
    {% endif %}
    
    {% if adminlistconfigurator.overviewPage %}
        {% if adminlist.canAdd() %}
            <div class="col-sm-6 col-md-4">
                <!-- Main-actions -->
                <div class="page-main-actions page-main-actions--no-tabs page-main-actions--inside-extra-actions-header">
                    <div class="btn-group">
                        {% block actions %}
                            {% if adminlistconfigurator.overviewPages | length > 1 %}
                                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ 'form.add' | trans }}
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    {% for key, overviewPage in adminlistconfigurator.overviewPages %}
                                        <li>
                                            <a data-target="#add-subpage-modal-{{ overviewPage.id }}" data-toggle="modal" href="#">
                                                {{ overviewPage.pageTitle }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <button type="button" data-target="#add-subpage-modal-{{ adminlistconfigurator.overviewPage.id }}" data-toggle="modal" class="btn btn-primary btn--raise-on-hover">
                                    {{ 'form.add' | trans }}
                                </button>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            {% if adminlistconfigurator.overviewPages | length > 1 %}
                {% for overviewPage in adminlistconfigurator.overviewPages %}
                    {{ modal.modal(overviewPage, title, adminlist.configurator.getEntityClassName) }}
                {% endfor %}
            {% else %}
                {{ modal.modal(adminlistconfigurator.overviewPage, title, adminlist.configurator.getEntityClassName) }}
            {% endif %}

        {% endif %}

    {% else %}
        <div class="alert alert-warning">
            <strong>{{ 'form.warning' | trans }}: </strong> {{ 'article.warning.create_overview_page' | trans({ '%type%': title | lower }) }}
            <button class="close" data-dismiss="alert">
                <i class="fa fa-times"></i>
            </button>
        </div>
    {% endif %}
{% endblock %}
