{% extends '@KunstmaanMedia/Media/File/show.html.twig' %}

{% block extraactions %}

    {% if handler.aviaryApiKey and not (handler.aviaryApiKey starts with 'Register') %}
        <button type="button" class="btn btn-primary btn--raise-on-hover" onclick="return launchEditor('editimage', '{{ app.request.getScheme()~'://'~app.request.getHttpHost()~asset(media.url) }}');" >
            {{ 'media.media.edit.action' | trans }}
        </button>

        {% include '@KunstmaanMediaBundle/Resources/views/Media/Image/aviary.html.twig' %}
    {% endif %}

    <a href="{{ asset(media.url) }}" class="btn btn-default btn--raise-on-hover">
        {{ 'media.media.download.action'|trans }}
    </a>
{% endblock %}

{% block preview %}
    {% set imageurl = handler.getImageUrl(media, app.request.basePath) %}
    {% if imageurl is not empty and media.location == 'local' %}
        {% if imageurl|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
            {% set imageurl = imageurl %}
        {% else %}
            {% set imageurl = asset(imageurl | imagine_filter('media_detail_thumbnail')) %}
        {% endif %}
    {% endif %}
    <img id="editimage" class="img-thumbnail" src="{{ imageurl }}" alt="{{ media.name }}">
{% endblock %}
