{% extends 'KunstmaanMediaBundle:Media\\File:show.html.twig' %}

{% block extraactions %}

    {% if handler.aviaryApiKey and not (handler.aviaryApiKey starts with 'Register') %}
        <button type="button" class="btn btn-primary btn--raise-on-hover" onclick="return launchEditor('editimage', '{{ app.request.getScheme()~'://'~app.request.getHttpHost()~asset(media.url) }}');" >
            {{ 'media.media.edit.action' | trans }}
        </button>

        <!-- Load widget code -->
        <script src="http://feather.aviary.com/imaging/v1/editor.js"></script>

        <!-- Instantiate the widget -->
        <script>
            var featherEditor = new Aviary.Feather({
                apiKey: '{{ handler.aviaryApiKey }}',
                tools: 'all',
                onSave: function(imageID, newURL) {
                    var img = document.getElementById(imageID);
                    img.src = newURL;
                    window.location = '{{ url('KunstmaanMediaBundle_aviary', { 'folderId' : folder.id, 'mediaId' : media.id }) }}?url='+newURL;
                }
            });

            function launchEditor(id, src) {
                featherEditor.launch({
                    image: id,
                    url: src
                });
                return false;
            }
        </script>
    {% endif %}

    <a href="{{ asset(media.url) }}" class="btn btn-default btn--raise-on-hover">
        {{ 'media.media.download.action'|trans }}
    </a>
{% endblock %}

{% block preview %}
    {% set imageurl = handler.getImageUrl(media, app.request.basePath) %}
    {% if imageurl is not empty and media.location == 'local' %}
        {% if imageurl|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
            {% set imageurl = imageurl %}
        {% else %}
            {% set imageurl = imageurl | imagine_filter('media_detail_thumbnail') %}
        {% endif %}
    {% endif %}
    <img id="editimage" class="img-thumbnail" src="{{ imageurl }}" alt="{{ media.name }}">
{% endblock %}
