{% extends 'KunstmaanAdminBundle:Settings:index.html.twig' %}

{% block subbreadcrumb %}
	<li><a href="{{ path('KunstmaanAdminBundle_settings') }}">{{ 'settings.title' | trans }}</a></li>
    <li><a href="{{ path('KunstmaanAdminBundle_settings_roles') }}">{{ 'settings.roles' | trans }}</a></li>
	<li class="active">{{ 'settings.role.add' | trans }}</li>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ 'settings.role.add' | trans }}</h1>
    </div>

    <form action="{{ path('KunstmaanAdminBundle_settings_roles_add') }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	{{ form_errors(form) }}
        <div class="clearfix">
            <label for="xlInput3">{{ 'settings.role.role' | trans }}</label>
            <div class="input">
                {{ form_widget(form.role) }}
            </div>
        </div>

        {{ form_rest(form) }}
        <div class="actions">
            <input class="btn primary type" type="submit" value="{{ 'settings.role.add' | trans }}">
            <input onclick="window.location = '{{ path('KunstmaanAdminBundle_settings_roles') }}'" type="reset" class="btn" value="{{ 'form.cancel' | trans }}" />
        </div>
    </fieldset>
</form>

{% endblock %}
