{% extends 'KunstmaanAdminBundle:Settings:index.html.twig' %}

{% block subbreadcrumb %}
	<li><a href="{{ path('KunstmaanAdminBundle_settings') }}">{{ 'settings.title' | trans }}</a></li>
    <li><a href="{{ path('KunstmaanAdminBundle_settings_roles') }}">{{ 'settings.roles' | trans }}</a></li>
	<li class="active">{{ 'settings.role.edit' | trans }}</li>
{% endblock %}

{% block content %}

    <form class="form-horizontal" action="{{ path('KunstmaanAdminBundle_settings_roles_edit', { 'role_id' : role.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    	{{ form_errors(form) }}
        <div class="control-group">
            <label class="control-label" for="xlInput3">{{ 'settings.role.role' | trans }}</label>
            <div class="controls">
                {{ form_widget(form.role) }}
            </div>
        </div>

        {{ form_rest(form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{{ 'settings.role.add' | trans }}</button>
            <button onclick="window.location = '{{ path('KunstmaanAdminBundle_settings_roles') }}'" type="reset" class="btn">{{ 'form.cancel' | trans }}</button>
        </div>
    </fieldset>
</form>

{% endblock %}
