{% extends 'KunstmaanAdminBundle:Settings:index.html.twig' %}

{% block subbreadcrumb %}
	<li><a href="{{ path('KunstmaanAdminBundle_settings') }}">{{ 'settings.title' | trans }}</a></li>
    <li><a href="{{ path('KunstmaanAdminBundle_settings_groups') }}">{{ 'settings.groups' | trans }}</a></li>
	<li class="active">{{ 'settings.group.edit' | trans }}</li>
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{{ path('KunstmaanAdminBundle_settings_groups_edit', { 'group_id' : group.id }) }}" method="post" {{ form_enctype(form) }}>
	    <fieldset>
	    	{{ form_errors(form) }}
	        <div class="control-group">
	            <label class="control-label" for="xlInput3">{{ 'settings.group.name' | trans }}</label>
	            <div class="controls">
	                {{ form_widget(form.name) }}
	            </div>
	        </div>
	
	        <div class="control-group">
	            <label class="control-label" for="xlInput3">{{ 'settings.group.roles' | trans }}</label>
	            <div class="controls">
	                {{ form_widget(form.rolescollection) }}
	            </div>
	        </div>
	
	        {{ form_rest(form) }}
	        <div class="form-actions">
	            <button class="btn btn-primary" type="submit">{{ 'settings.group.edit' | trans }}</button>
	            <button onclick="window.location = '{{ path('KunstmaanAdminBundle_settings_groups') }}'" type="reset" class="btn">{{ 'form.cancel' | trans }}</button>
	        </div>
	    </fieldset>
	</form>
{% endblock %}
