<div class="search_wrp">
    <form id="treeform">
	    <input type="text" id="searchVal" value="" />
	    <button id="search" class="btn search"><img src="/bundles/kunstmaanadmin/img/icons/search.png" alt="Search" /></button>
    </form>
</div>
<div id="tree" class="tree">
	<ul>
        <li class="jstree-open {% if route == 'KunstmaanAdminBundle_settings' %}active{% endif %}" rel="settings"><a href="{{ path("KunstmaanAdminBundle_settings") }}">{{ 'settings.title' | trans }}</a>
	        <ul>
	        	<li {% if route == 'KunstmaanAdminBundle_settings_users' %}class="active"{% endif %}><a href="{{ path('KunstmaanAdminBundle_settings_users') }}">{{ 'settings.users' | trans }}</a></li>
	        	<li {% if route == 'KunstmaanAdminBundle_settings_groups' %}class="active"{% endif %}><a href="{{ path('KunstmaanAdminBundle_settings_groups') }}">{{ 'settings.groups' | trans }}</a></li>
	        	<li {% if route == 'KunstmaanAdminBundle_settings_roles' %}class="active"{% endif %}><a href="{{ path('KunstmaanAdminBundle_settings_roles') }}">{{ 'settings.roles' | trans }}</a></li>
	        {% if searchbundleisset is defined %}	
	        	<li {% if route == 'KunstmaanAdminBundle_settings_searches' %}class="active"{% endif %}><a href="{{ path('KunstmaanAdminBundle_settings_searches') }}">{{ 'Searches' | trans }}</a></li>
	        {% endif %}	
	        	<li {% if route == 'KunstmaanAdminBundle_settings_log' %}class="active"{% endif %}><a href="{{ path('KunstmaanAdminBundle_settings_log') }}">{{ 'Log' | trans }}</a></li>
	    	</ul>
    	</li>
    </ul>
</div>