{% extends 'KunstmaanAdminBundle:Settings:index.html.twig' %}

{% block subbreadcrumb %}
	<li><a href="{{ path('KunstmaanAdminBundle_settings') }}">{{ 'settings.title' | trans }}</a></li>
	<li class="active">{{ 'settings.users' | trans }}</li>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ 'settings.users' | trans }}</h1>
    </div>

    {{ adminlist_widget(useradminlist, 'KunstmaanAdminBundle_settings_users') }}

{% endblock %}
