{% extends 'KunstmaanTranslatorBundle::Default/layout.html.twig' %}

{% block content %}
    {% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}
    <form action="{{ path(app.request.attributes.get('_route'), my_router_params()) }}" method="post" {{ form_enctype(form) }} novalidate >
        <fieldset class="form__fieldset--padded">
            {{ form_rest(form) }}

            <div class="form-actions form-actions--padded">
                <button type="submit" class="btn btn-primary btn--raise-on-hover">
                    {{ 'settings.translator.edit' | trans }}
                </button>
                <a href="{{ path(adminlistconfigurator.getIndexUrl()["path"], adminlistconfigurator.getIndexUrl()["params"]) }}" class="btn btn-default btn--raise-on-hover">
                    {{ 'form.cancel' | trans }}
                </a>
            </div>
        </fieldset>
    </form>
{% endblock %}
