{% if adminlist.configurator.canEditInline(row) %}
    {% set uid = attribute(row, columnName ~ '_id') %}
    <a href="#" class="js-editable editable editable-pre-wrapped" data-type="textarea" data-url="{{ path('KunstmaanTranslatorBundle_settings_translations_inline_edit') }}" data-title="{{ 'translator.translator.inline_edit_title'|trans }}" data-uid="{{ uid }}" data-tid="{{ row.id }}" data-locale="{{ columnName }}" data-domain="{{ row.domain }}" data-keyword="{{ row.keyword }}" data-empty-text="{{ 'translator.translator.emptytext'|trans }}">{{ object }}</a>
{% else %}
    {{ object }}
{% endif %}
