{% extends 'KunstmaanAdminListBundle:Default:list.html.twig' %}

{% block extra_actions_header %}
    <div class="extra_actions_header">
        <div class="btn-group pull-right">

            {% if adminlist.canAdd() %}
                {% set adminaddlist = adminlist.getAddUrlFor(adminlist.getIndexUrl()['params']) %}
                {% for key,add in adminaddlist %}
                    <a class="btn btn-primary btn-medium" href="{{ path(add["path"], add[("params")]) }}">{{ 'settings.translator.add' | trans }}</a>
                {% endfor %}
            {%  endif %}

            <a class="btn btn btn-medium" href="{{ path('KunstmaanTranslatorBundle_command_clear_cache') }}">{{ 'settings.translator.refresh_live' | trans }}</a>

            <a class="btn btn dropdown-toggle" data-toggle="dropdown" href="#">{{ 'settings.translator.import_translations' | trans }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('KunstmaanTranslatorBundle_command_import') }}" >{{ 'settings.translator.import_translations' | trans }}</a></li>
                <li><a href="{{ path('KunstmaanTranslatorBundle_command_import_forced') }}" >{{ 'settings.translator.import_translations_forced' | trans }}</a></li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block extracss %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block extrajavascript %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $.fn.editable.defaults.mode = 'inline';
            $('.editable').each(function() {
                $(this).editable({
                    showbuttons: 'bottom',
                    pk: function() {
                        return $(this).data("uid");
                    },
                    emptytext: '{{ 'translator.translator.emptytext'|trans }}',
                    params: function(params) {
                        params.locale = $(this).data('locale');
                        params.domain = $(this).data('domain');
                        params.keyword = $(this).data('keyword');
                        params.translationId = $(this).data('tid');

                        return params;
                    },
                    success: function(response, newValue) {
                        if (response.success) {
                            $(this).data("uid", response.uid);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
