{% extends '@KunstmaanAdminList/Default/list.html.twig' %}


{% block extracss %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/kunstmaantranslator/css/style.css') }}">
{% endblock %}


{% block header %}
    <header class="app__content__header">
        <div class="row">
            {% if adminmenu.current %}
                <div class="col-sm-6 col-md-4">
                    <h1 class="app__content__header__title">
                        {{ adminmenu.current.label | trans }} {% block page_header_addition %}{% endblock %}
                    </h1>
                </div>
            {% endif %}

            {% block extra_actions_header %}
                <!-- Main-actions -->
                <div class="col-sm-6 col-md-8">
                    <div class="js-auto-collapse-buttons page-main-actions page-main-actions--no-tabs page-main-actions--inside-extra-actions-header">
                        <div class="btn-group">
                            {% block actions %}
                                {% if adminlist.canAdd() %}
                                    {% set adminaddlist = adminlist.getAddUrlFor(adminlist.getIndexUrl()['params']) %}
                                    {% for key,add in adminaddlist %}
                                        <a class="btn btn-primary btn--raise-on-hover" href="{{ path(add["path"], add[("params")]) }}">
                                            {{ 'settings.translator.add' | trans }}
                                        </a>
                                    {% endfor %}
                                {% endif %}

                                <a class="btn btn-default btn--raise-on-hover" href="{{ path('KunstmaanTranslatorBundle_command_clear_cache') }}">
                                    {{ 'settings.translator.refresh_live' | trans }}
                                </a>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn--raise-on-hover dropdown-toggle" data-toggle="dropdown">
                                        {{ 'settings.translator.actions' | trans }}
                                        <i class="fa fa-caret-down btn__icon"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="{{ path('KunstmaanTranslatorBundle_command_import') }}">
                                                {{ 'settings.translator.import_translations' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a data-toggle="modal" data-target="#import-force-modal">
                                                {{ 'settings.translator.import_translations_forced' | trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('KunstmaanTranslatorBundle_settings_translations_upload') }}">
                                                {{ 'settings.translator.import_file' | trans }}
                                            </a>
                                        </li>
                                        {% if adminlist.canExport() %}
                                            {% set exportparams = adminlist.filterbuilder.currentparameters|merge(adminlist.getExportUrl()[("params")]) %}
                                            {% for name, ext in supported_export_extensions() %}
                                                {% set exportparams = exportparams|merge({"_format": ext}) %}
                                                {% if (name | lower == 'csv') %}
                                                    {% set icon = 'fa-file-code' %}
                                                {% elseif (name | lower == 'excel') %}
                                                    {% set icon = 'fa-file-excel' %}
                                                {% else %}
                                                    {% set icon = 'fa-file' %}
                                                {% endif %}
                                                <li>
                                                    <a href="{{ path(adminlist.getExportUrl()["path"], exportparams) }}">
                                                        <i class="fa {{ icon }} btn__icon"></i> {{ 'settings.translator.export_translations'|trans }} {{ name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endblock %}
                        </div>
                    </div>

                    <!-- Scroll-actions -->
                    <div class="page-main-actions page-main-actions--top" id="page-main-actions-top">
                        <div class="btn-group">
                            {{ block('actions') }}
                            <button type="button" class="js-scroll-to-top btn btn-default btn--raise-on-hover">
                                <i class="fa fa-caret-up"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </header>

    {% include '@KunstmaanTranslator/Modals/_modals.html.twig' %}

{% endblock %}

{% block js_footer %}
    <!-- JS -->
    {% embed "@KunstmaanAdmin/Default/_js_footer.html.twig" %}
        {% block extra_async_javascripts %}
            {{ parent() }}
            '{{ asset('bundles/kunstmaantranslator/js/translator-bundle.min.js') }}',
        {% endblock %}
    {% endembed %}
{% endblock %}
