{{ "{% extends '" ~ bundle.getName() ~ ":Layout:layout.html.twig' %}" }}
{{ "
{% block title %} - {{ status_text }}{% endblock %}

{% block content %}
    <h1>Oops! An Error Occurred</h1>
    <h2>The server returned a \"{{ status_code }} {{ status_text }}\".</h2>
{% endblock %}
" }}
