<h1>{{ 'Reset password' |trans }}</h1>

{% if invalid_username is defined %}
    <div class="alert fade in alert-error">
        <button class="close" data-dismiss="alert">&times;</button>
        <strong>{{ 'form.error' | trans }}: </strong>
        {{ 'The username or email address does not exist.' | trans }}
    </div>
{% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST"
      class="fos_user_resetting_request form-stacked">
    <div class="control-group">
        <label for="username">{{ 'Username or email address' |trans }}:</label>
        <i class="icon-user"></i>
        <input class="username" id="username" type="text" name="username" value=""
               placeholder="{{ 'Username or email address' |trans }}" autofocus/>
    </div>
    <div class="btn_group">
        <button class="btn" type="submit">{{ 'Reset password' |trans }}</button>
        <button class="btn" type="reset"
                onclick="window.location = '{{ path('fos_user_security_login' ) }}'">{{ 'form.cancel' | trans }}</button>
    </div>
</form>

