{% if invalid_username is defined %}
        <div class="alert-message error">
                <a class="close" href="{{ path('fos_user_security_login') }}">×</a>
                <strong>Error: </strong>
                {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
        </div>
        {% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-stacked">
    <fieldset>
        <legend>{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</legend>
        <div class="clearfix">
            <div class="input">
            <label for="xlInput3">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
            <input class="xlarge" type="text" id="username" name="username" />
            </div>
        </div>
        <br />
        <div class="actions">
            <input class="btn primary type" type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
            <input onclick="window.location = '{{ path('fos_user_security_login' ) }}'" type="reset" class="btn" value="{{ 'form.cancel' | trans }}" />
        </div>
    </fieldset>
</form>