<p>
    {{ 'Reset password' |trans }}
</p>

{% if invalid_username is defined %}
    <div class="alert alert-error">
        <strong>{{ 'form.error' | trans }}: </strong>
        {{ 'The username or email address does not exist.' | trans }}
        <button type="button" class="close" data-dismiss="alert">
            <i class="fa fa-times"></i>
        </button>
    </div>
{% endif %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
    <div class="form-group form-group--icon-in-control">
        <label for="username" class="label--lighter">
            {{ 'Username or email address' |trans }}:
        </label>

        <input class="form-control form-group--icon-in-control__form-control" id="username" type="text" name="username" value="" placeholder="{{ 'Username or email address' |trans }}" autofocus>
        <i class="fa fa-user form-group--icon-in-control__icon"></i>
    </div>

    <button type="submit" class="btn btn-primary btn--raise-on-hover">
        {{ 'Reset password' |trans }}
    </button>
    <a href="{{ path('fos_user_security_login' ) }}" class="btn btn-default btn--raise-on-hover">
        {{ 'form.cancel' | trans }}
    </a>
</form>

