<h4>
    {{ 'Choose a new password' |trans }}
</h4>

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    <div class="form-group">
        {{ form_widget(form) }}
    </div>


    <button type="submit" class="btn btn-primary btn--raise-on-hover">
        {{ 'Reset password' | trans }}
    </button>
    <a href="{{ path('fos_user_security_login' ) }}" class="btn btn-default btn--raise-on-hover">
        {{ 'form.cancel' | trans }}
    </a>
</form>
