{% extends '@KunstmaanAdmin/authentication/layout.html.twig' %}

{% block login_content %}
    <h2 class="app-login__form-title">
        {% set translatedWebsiteTitle = websitetitle|trans %}
        {{ 'security.login.title'|trans({'%websitetitle%': translatedWebsiteTitle}) }}
    </h2>
    <form id="app__login__form" action="" method="post">
        {# NEXT_MAJOR remove #}
        {% if google_signin_enabled() %}
            <input id="google_id_token" data-url="{{ path('KunstmaanAdminBundle_oauth_signin') }}"  data-clientid="{{ google_signin_client_id() }}" type="hidden" name="_google_id_token">
        {% endif %}
        {% if error %}
            <div class="alert alert-danger">
                {{ 'kuma_admin.login.invalid_credentials'|trans }}
                <button type="button" class="close" aria-label="Close" data-dismiss="alert">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="username" class="form-control-label">
                {{ 'security.login.username'|trans }}
            </label>
            <input class="form-control" id="username" type="text" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" autocomplete="username" required autofocus tabindex="1">
        </div>

        <div class="form-group">
            <label for="password" class="form-control-label">
                {{ 'security.login.password'|trans }}
            </label>
            <input class="form-control" id="password" type="password" name="_password" value="" placeholder="{{ 'security.login.password'|trans }}" autocomplete="current-password" required tabindex="2">
        </div>

        <div class="app-login__form__alt">
            <div class="app-login__form__alt__remember-me">
                <label class="checkbox login__form__remember-me__check">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked tabindex="3">
                    {{ 'security.login.remember_me' | trans }}
                </label>
            </div>
            <div class="app-login__form__alt__forgot-pw">
                <a href="{{ path('kunstmaan_admin_reset_password') }}" class="login__form__forgot-pw__link" tabindex="5">
                    {{ 'kuma_admin.login.forgot_password'|trans }}
                </a>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="form-group app-login__form__submit-holder">
            <button type="submit" id="_submit" name="_submit" class="btn btn--md btn--inverted" tabindex="4">
                {{ 'security.login.submit'|trans }}
            </button>
        </div>
    </form>

    {# NEXT_MAJOR remove #}
    {% if google_signin_enabled() %}
        <a href="#" id="app_oauth_signin">
            <img src="https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png" alt="Google Sign in">
        </a>
    {% endif %}
{% endblock login_content %}
