<div class="container">
    <div class="row row--padded-large">
        <div class="col-md-3 col--padded hidden-xs">
            {% set children = nodemenu.getNodeByInternalName('satellite').children %}
            {% include '<%= bundle.name %>:Layout:submenu.html.twig' with {'items': children} %}
        </div>
        <div class="col-md-9 col--padded">
            {% if satellites|length > 0%}
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'satellite.name'|trans|capitalize }}</th>
                        <th>{{ 'satellite.launched'|trans|capitalize }}</th>
                        <th>{{ 'satellite.weight'|trans|capitalize }} (kg)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for satellite in satellites %}
                    <tr>
                        <td><a href="{{ satellite.link }}" target="_blank">{{ satellite.name }}</a></td>
                        <td>{{ satellite.launched|localizeddate('medium', 'none', app.request.locale) }}</td>
                        <td>{{ satellite.weight }}</td>
                    <tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
