<div class="row-fluid">
    <div class="span9">
        {{ render_pageparts(page, 'main') }}
    </div>
    <div class="span9">
        <section class="slider-pp slider-pp--left">
            <nav class="slider-pp__thumbs js-thumbs">
                <div class="slider-pp__thumbs-wrapper">
                    {% set pps = getpageparts(page, 'slider') %}
                    {% for pp in pps %}
                        <div class="slider-pp__thumbs--item js-thumbs--item">
                            <p>{% if pp.tickText is not empty %}{{ pp.tickText }}{% endif %}</p>
                        </div>
                    {% endfor %}
                </div>
            </nav>
            <div class="slider-pp__flexslider js-flexslider flexslider">
                <ul class="slides">
                    {{ render_pageparts(page, 'slider') }}
                </ul>
            </div>
        </section>
    </div>
    <div class="span3">
        {{ render_pageparts(page, 'banners') }}
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {{ render_pageparts(page, 'footer') }}
    </div>
</div>
