<% if demosite %>
    <header>
        <div class="container-fluid">
            {{ render_pageparts(page, 'header') }}
        </div>
    </header>

    <section class="container-fluid text-center">
        {{ render_pageparts(page, 'section1') }}
    </section>

    <section class="splash splash--gray-lighter">
        <div class="container">
            {{ render_pageparts(page, 'section2') }}
        </div>
    </section>

    <section class="splash">
        <div class="container">
            {{ render_pageparts(page, 'section3') }}
        </div>
    </section>

    <section class="splash splash--gray-lighter">
        <div class="container">
            {{ render_pageparts(page, 'section4') }}
        </div>
    </section>

    <section class="container text-center">
        {{ render_pageparts(page, 'section5') }}
    </section>

<% else %>

    <div class="container">
        <header>
            <h1>
                Homepage
            </h1>
        </header>

        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
    </div>

<% endif %>
