<div class="row">
    <div class="col-sm-6">
        <header>
            <h2>
                {{ resource.title }}
            </h2>
        </header>

        {% if resource.description %}
            {{ resource.description|raw }}
        {% endif %}
        {% if resource.linkUrl and resource.linkText %}
            <a href="{{ resource.linkUrl }}" class="link-pp__link" {% if resource.linkNewWindow %}target="_blank"{% endif %}>
                {{ resource.linkText }}
            </a>
        {% endif %}
    </div>

    <figure class="col-sm-6">
        {% if resource.image is not empty %}
            <img src="{{ asset(resource.image.url) }}" alt="{{ resource.title }}">
        {% endif %}
    </figure>
</div>
