{% if resource.link is defined and resource.link != "" %}
	<a href="{{ resource.link }}" {% if resource.openinnewwindow %}target="_blank"{% endif %}><img src="{{ asset(upload_dir~resource) }}" alt="{{ resource.alttext }}" style="max-width:300px"/></a>
{% else %}
	<img src="{{ asset(upload_dir~resource) }}" alt="{{ resource.alttext }}" style="max-width:300px"/>
{% endif %}
