{% if pagepartref is defined %}
	<script>
		$(document).ready(function() {
		    $('select#form_pagepartadmin_main_{{ pagepartref.id }}_media').on('click', function(ev) {
			   	ev.preventDefault();
		        window.open("{{ path('KunstmaanMediaBundle_imagegallery_ckeditor') }}", "_blank","toolbar=0,width=800,height=600");
		    });
		});
		
		window.ImagegalleryImageChosenCallback['{{ pagepartref.id }}'] = function(url, id) {
		    $('select#form_pagepartadmin_main_{{ pagepartref.id }}_media').val(id);
		}
	</script>
{% endif %}

{% if resource.link is defined and resource.link != "" %}
	<a href="{{ resource.link }}" {% if resource.openinnewwindow %}target="_blank"{% endif %}><img src="{{ asset(upload_dir~resource) }}" alt="{{ resource.alttext }}" /></a>
{% else %}
	<img src="{{ asset(upload_dir~resource) }}" alt="{{ resource.alttext }}" />	
{% endif %}
