{% block urlchooser_widget %}
    {% apply spaceless %}
        {% set linkUrl = form.link_url.vars %}

        <div id="{{ id }}-urlchooser-widget" class="urlchooser-wrapper" data-chooser-name="{{ full_name }}">
            <!-- URL Chooser Modal -->
            <div class="js-ajax-modal modal fade" id="{{ linkUrl.id }}-urlChooserModal" role="dialog" aria-labelledby="urlChooserModal" aria-hidden="true" data-loaded="false" data-linked-input-id="{{ linkUrl.id }}">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <!-- Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <i class="fa fa-times"></i>
                            </button>
                            <h3 class="modal-title">
                                {{ 'kuma_node.widget.url_chooser' | trans }}
                            </h3>
                        </div>

                        <!-- Body -->
                        <div class="js-ajax-modal-body modal-body ajax-modal__body"></div>
                    </div>
                </div>
            </div>

            <div class="urlchooser">
                <div class="input-group">
                    {% if form.link_type is defined %}
                        {% set linkType = form.link_type %}
                        {% set label = "pagepart.link.internal" | trans %}

                        {% if linkType.vars.value %}
                            {% for choice in linkType.vars.choices %}
                                {% if choice.value == linkType.vars.value %}
                                    {% set label = choice.label | trans %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default urlchooser__link-type" data-toggle="dropdown" title="Select link type" data-target-id="">
                                {{ label }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                {% for choice in linkType.vars.choices %}
                                    <li data-name="{{ linkType.vars.full_name }}" data-id="{{ linkType.vars.id }}" class="{% if linkType.vars.attr is defined %}{{ linkType.vars.attr.class }}{% endif %}" data-value="{{ choice.value }}">
                                        <a href="#">{{ choice.label | trans }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <input type="hidden" name="{{ linkType.vars.full_name }}" value="{{ linkType.vars.data }}" id="{{ linkType.vars.id }}" class="form-control">
                        </div>
                    {% endif %}
                    <div id="{{ linkUrl.id }}-widget" class="input-group urlchooser-widget {% if form.link_type is defined %}urlchooser__link-url{% endif %}">
                        {% if linkUrl.attr.choose_url is defined %}
                            <input type="hidden" name="{{ linkUrl.full_name }}" value="{{ linkUrl.value ? linkUrl.value : '' }}" id="{{ linkUrl.id }}" class="form-control {% if linkUrl.attr is defined and linkUrl.attr.class is defined %}{{ linkUrl.attr.class }}{% endif %}">
                            <input type="text" disabled="disabled" class="form-control js-urlchooser-value" value="{{ linkUrl.value ? linkUrl.value|replace_url : '' }}">
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn--raise-on-hover" data-toggle="modal" data-target="#{{ linkUrl.id }}-urlChooserModal" data-link="{{ path('KunstmaanNodeBundle_selecturl') }}">
                            {{ 'kuma_node.widget.choose' | trans }}
                        </button>
                    </span>
                        {% else %}
                            <input type="text" name="{{ linkUrl.full_name }}" value="{{ linkUrl.value ? linkUrl.value : '' }}" id="{{ linkUrl.id }}" class="form-control {% if linkUrl.attr is defined and linkUrl.attr.class is defined %}{{ linkUrl.attr.class }}{% endif %}"{% if linkUrl.attr is defined and linkUrl.attr.placeholder is defined %} placeholder="{{ linkUrl.attr.placeholder }}"{% endif %}>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>

    {% endapply %}
{% endblock urlchooser_widget %}

{% block slug_widget %}
    {% apply spaceless %}
        {% set url = path('_slug', {
            url: prefix ~ value
        }) %}

        {% if prefix|first != '/' %}
            {% set prefix = '/' ~ prefix %}
        {% endif %}

        <div id="{{ id }}-slug-chooser" class="js-slug-chooser slug-chooser" data-url-prefix="{{ prefix }}" data-reset="{{ reset }}">
            <div>
                <div class="input-group slug-chooser">
                    {% if prefix is not empty %}
                        <span class="input-group-addon js-slug-chooser__prefix" title="{{ prefix }}">
                            {{ prefix }}
                        </span>
                    {% endif %}
                    <input type="text" name="{{ full_name }}" id="{{ id }}" value="{{ value|default('') }}" class="js-slug-chooser__input form-control">
                    <span class="input-group-btn">
                        <button type="button" class="js-slug-chooser__reset-btn btn btn-default btn--raise-on-hover" id="{{ id }}-slug-chooser__resetbtn">
                            Reset
                        </button>
                    </span>
                </div>
                <div>
                    <small>
                        {{ 'kuma_node.form.current_url' | trans }}: <a href="{{ url }}" target="_blank">
                            {{ url }}
                        </a>
                    </small>
                </div>
                <div>
                    <small class="js-slug-chooser__preview" style="display: none;">
                        {{ 'kuma_node.form.updated_url' | trans }}: <span></span>
                    </small>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock slug_widget %}
