{% block urlchooser_widget %}
{% spaceless %}
    <div id="{{ id }}-widget" class="input-group">
        <input type="text" name="{{ full_name }}" value="{{ value|default('') }}" id="{{ id }}" class="form-control">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default btn--raise-on-hover" data-toggle="modal" data-target="#urlChooserModal" data-link="{{ path('KunstmaanNodeBundle_selecturl') }}">
                Choose
            </button>
        </span>
    </div>

    <!-- URL Chooser Modal -->
    <div class="js-ajax-modal modal fade" id="urlChooserModal" role="dialog" aria-labelledby="urlChooserModal" aria-hidden="true" data-loaded="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="myModalLabel">
                        URL-Chooser
                    </h3>
                </div>
                <div class="js-ajax-modal-body modal-body ajax-modal__body">
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock urlchooser_widget %}

{% block slug_widget %}
{% spaceless %}
    <div id="{{ id }}-widget" class="input-group">
        <input type="text" name="{{ full_name }}" id="{{ id }}" value="{{ value|default('') }}" data-reset="{{ reset }}" class="form-control">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default btn--raise-on-hover" id="{{ id }}_resetbtn">
                Reset
            </button>
        </span>
    </div>
    <small id="{{ id }}_preview" class="help-block"></small>
{% endspaceless %}
{% endblock slug_widget %}
