<div id="addslide-modal" class="modal hide fade">

    {% form_theme slideform 'KunstmaanAdminBundle:Form:fields.html.twig' %}

    <form action="{{ path('KunstmaanMediaBundle_media_modal_create', { 'folderId' : folder.id, 'type': 'slide' }  ) }}" method="post" {{ form_enctype(slideform) }}>
        <div class="modal-header">
            <button class="close" data-dismiss="modal">&times;</button>
            <h3>{{ 'media.slide.modal.title' | trans }}</h3>
        </div>
        {{ form_widget(slideform) }}
        <div class="modal-footer">
            <div class="btn_group">
                <button class="btn btn-primary" type="submit">{{ 'media.slide.modal.save' | trans }}</button>
                <button class="btn" type="reset" data-dismiss="modal">{{ 'form.cancel' | trans }}</button>
            </div>
        </div>
    </form>
</div>