{% extends 'KunstmaanMediaBundle:Default:layout.html.twig' %}

{% block title %}
    {% set title = 'media.media.bulkupload.addto' %}
    {{ title | trans({'%folder%': folder.name|trans }) }}
{% endblock%}

{% block header %}
    <div class="page-header">
        {% set title = 'media.media.bulkupload.addto' %}
        <h1>{{ title | trans({'%folder%': folder.name|trans }) | capitalize | raw }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}

    <form action="{{ path('KunstmaanMediaBundle_media_bulk_upload', { 'folderId' : folder.id } ) }}" method="post" {{ form_enctype(form) }} class="form-horizontal properties">
        <div class="prop_wrp">
            {{ form_widget(form) }}
            <div class="input_prop">
                <div class="btn_group">
                    <button class="btn" onclick="window.location = '{{ path('KunstmaanMediaBundle_folder_show', { 'folderId' : folder.id } ) }}'" type="reset">{{ 'form.cancel' | trans }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'media.bulkupload.upload' | trans }}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}