<div id="sure-modal-{{ media.id }}" class="modal hide fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>{{ 'media.media.deletesure' | trans }}</h3>
    </div>

    <div class="modal-footer">
        <div class="btn_group">
            <a href="{{ path('KunstmaanMediaBundle_media_delete', { 'mediaId': media.id }) }}"
               class="btn btn-danger">{{ 'form.delete' | trans }}</a>
            <button class="btn" data-dismiss="modal">{{ 'form.cancel' | trans }}</button>
        </div>
    </div>
</div>
