<div id="sure-modal-{{ media.id }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Head -->
            <div class="modal-header">
                <button class="close" data-dismiss="modal">
                    <i class="fa fa-times"></i>
                </button>
                <h3>
                    {{ 'form.delete' | trans }}
                </h3>
            </div>

            <!-- Body -->
            <div class="modal-body">
                {{ 'media.media.deletesure' | trans }}
            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <a href="{{ path('KunstmaanMediaBundle_media_delete', { 'mediaId': media.id }) }}" class="btn btn-danger btn--raise-on-hover">
                    {{ 'form.delete' | trans }}
                </a>
                <button class="btn btn-default btn--raise-on-hover" data-dismiss="modal">
                    {{ 'form.cancel' | trans }}
                </button>
            </div>
        </div>
    </div>
</div>
