{% extends 'KunstmaanAdminBundle:Settings:index.html.twig' %}

{% block content %}

    {% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}
    <form class="form-horizontal" action="{{ path('KunstmaanUserManagementBundle_settings_roles_edit', { 'id' : role.id }) }}" method="post" {{ form_enctype(form) }} novalidate >
    <fieldset>
        {{ form_rest(form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{{ 'settings.role.edit' | trans }}</button>
            <button onclick="window.location = '{{ path('KunstmaanUserManagementBundle_settings_roles') }}'" type="reset" class="btn">{{ 'form.cancel' | trans }}</button>
        </div>
    </fieldset>
</form>

{% endblock %}
