{% extends 'KunstmaanAdminBundle:Settings:index.html.twig' %}

{% block content %}
    {% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}
    <form action="{{ path('KunstmaanUserManagementBundle_settings_roles_edit', { 'id' : role.id }) }}" method="post" {{ form_enctype(form) }} novalidate >
        <fieldset class="form__fieldset--padded">
            {{ form_rest(form) }}

            <div class="form-actions form-actions--padded">
                <button type="submit" class="btn btn-primary btn--raise-on-hover">
                    {{ 'settings.role.edit' | trans }}
                </button>
                <a href="{{ path('KunstmaanUserManagementBundle_settings_roles') }}" class="btn btn-default btn--raise-on-hover">
                    {{ 'form.cancel' | trans }}
                </a>
            </div>
        </fieldset>
    </form>
{% endblock %}
