{% extends '@KunstmaanAdmin/authentication/layout.html.twig' %}
{% form_theme form '@KunstmaanAdmin/Form/fields.html.twig' %}

{% block login_content %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-group {% if form.current_password.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form.current_password, null, { 'label_attr': {'class': 'form-control-label'} }) }}
        {{ form_widget(form.current_password) }}
        {% if form.current_password.vars.errors|length > 0 %}
            <div class="form__errors text-danger">
                {{ form_errors(form.current_password) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group {% if form.plainPassword.first.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form.plainPassword.first, null, { 'label_attr': {'class': 'form-control-label'} }) }}
        {{ form_widget(form.plainPassword.first) }}
        {% if form.plainPassword.first.vars.errors|length > 0 %}
            <div class="form__errors text-danger">
                {{ form_errors(form.plainPassword.first) }}
            </div>
        {% endif %}
    </div>

    <div class="form-group {% if form.plainPassword.second.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form.plainPassword.second, null, { 'label_attr': {'class': 'form-control-label'} }) }}
        {{ form_widget(form.plainPassword.second) }}
        {% if form.plainPassword.second.vars.errors|length > 0 %}
            <div class="form__errors text-danger">
                {{ form_errors(form.plainPassword.second) }}
            </div>
        {% endif %}
    </div>

    {{ form_rest(form) }}

    <div class="form-group app-login__form__submit-holder">
        <button type="submit" id="_submit" name="_submit" class="btn btn--md btn--inverted">
            {{ 'security.change_password.form.submit'|trans }}
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}
